[2020-07-18 15:30] Tuhaj commented on #407
@mhagmajer @czerwinskilukasz1 any suggestions? Upvote please if you find it useful.

[2020-07-20 08:03] #395 closed

[2020-07-21 14:54] cpelican commented on #400
Hi, I would be interested in doing this issue, is it ongoing? Thanks!

[2020-07-21 19:34] czerwinskilukasz1 commented on #400
Hello @cpelican , it sounds awesome!

[2020-07-21 19:37] czerwinskilukasz1 commented on #400
The issue is yours.
In addition to creating code to `hasKey`, please write also a test file (or a couple) in AskScript language in [src/askscript/__tests__/07-arrays](https://github.com/xFAANG/askql/tree/master/src/askscript/__tests__/07-arrays).
Let me know if you have any questions. We would love to hear feedback, e.g. if we are missing some documentation or guides for new contributors.

[2020-07-21 20:27] czerwinskilukasz1 commented on #407
@Tuhaj , these are great questions!

It seems to me we already have an issue for a feature request (https://github.com/xFAANG/askql/issues/128) and another one for a bug report (https://github.com/xFAANG/askql/issues/126).  Could you type your proposals there?

[2020-07-21 20:29] czerwinskilukasz1 commented on #395
@develper , congrats for your first contribution! 🙂  🚀
How did you like it?
Would you have any feedback for us on what to improve in the process?

[2020-07-22 04:27] subedigaurav commented on #395
@develper good job on the issue. 🚀
@czerwinskilukasz1 there is still an issue with the following command while building:
`tsc && mv dist/playground/public/assets/js dist/playground/public/js`

Maybe this could be made OS agnostic as well?

[2020-07-23 08:33] develper commented on #395
Thanks @czerwinskilukasz1 and @subedigaurav ,I had an amazing experience.

I was able to follow contributing guidelines without any hassle. It is well documented. However, if I find any improvement later I will let you know.

Also, feel free to tag me on an issue which is beginner friendly(like me).

[2020-07-23 09:48] cpelican commented on #400
Hi @czerwinskilukasz1, I just added tests in `src/askscript/__tests__/07-arrays`, but before that i had noticed there were tests in `askvm/resources/list/`, so i had added some tests also there. Is it a problem? Thanks!

[2020-07-25 14:46] mhagmajer opened #410 "Create a tool for automatic generation of OpenAPI specification for environment resources"
https://swagger.io/

[2020-07-26 01:25] czerwinskilukasz1 commented on #395
@subedigaurav , thanks for your suggestion.  I would say `mv` is OK to stay if Windows, Linux and MacOS all support it. It seems they do, so I would leave it how it is now. However, there is currently 151 other issues to contribute to. Let me know if you would like a suggestion, which are good ones for now.

[2020-07-26 01:29] czerwinskilukasz1 commented on #51
@Tuhaj , it's been a couple of weeks since you were assigned.  Any thoughts or progress on this one?

[2020-07-26 01:44] czerwinskilukasz1 opened #411 "Introduce an infix syntax for `div` and `mod`"
Following [a discussion in another issue](https://github.com/xFAANG/askql/issues/250#issuecomment-650559629), we want to be able to write in AskScript expressions like:
[code]
where `div` and `mod` are already existing resources for integer division and modulo respectively.
We want to support it just for `div` and `mod` and not any other identifier.

Dear new contributor,

If you have any question

[2020-07-26 01:45] czerwinskilukasz1 commented on #250
As for `a mod b` and `a div b` syntax, I moved it to issue https://github.com/xFAANG/askql/issues/411

[2020-07-26 01:54] czerwinskilukasz1 opened #412 "Implement `div` resource for integer division"
Similarly to `times` or `divideBy` resource we want to have `div` resource for integer division, whose result should be basically equal to Javascript's `Math.floor(y/x)`.

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our Discord Community and let us know there. We will be very happy to help you start!

[2020-07-26 01:55] czerwinskilukasz1 commented on #411
Please note that https://github.com/xFAANG/askql/issues/250 and https://github.com/xFAANG/askql/issues/412 need to be implemented first.

[2020-07-26 01:57] czerwinskilukasz1 commented on #395
@develper, thanks for your kind words. For sure we have room to improve, we are eager to hear your feedback.

Great, let's make it happen :)   I am wondering if you like parsers (we use PEG.js), if so, how would you like this one: https://github.com/xFAANG/askql/issues/51, and if you are more into just regular code, maybe you will like this: https://github.com/xFAANG/askql/issues/250?

[2020-07-26 02:17] czerwinskilukasz1 commented on #400
Hi @cpelican ,

Yeah, great question. So, tests in `src/askscript/__tests__` are testing AskScript language, while tests in `src/askvm/**/__tests__` test more low-level AskVM resources and the code is written in AskCode.  Think of AskCode as an "assembler" for AskVM, while AskScript is a user-facing language (like C# or Javascript). Here is a diagram showing how different they look:
![askQL-diagra

[2020-07-26 03:43] czerwinskilukasz1 commented on #358
Some food for thought in [this comment](https://github.com/pegjs/pegjs/issues/607#issuecomment-479127423) and following ones.

[2020-07-26 04:43] anushaNemilidinne commented on #412
@czerwinskilukasz1  Hello ! I would like to contribute to this but this is my first time. Could you please help me in getting it started. Thanks!

[2020-07-26 04:59] czerwinskilukasz1 commented on #412
Hello @anushaNemilidinne ! Welcome to AskQL repository :)
Sure, I will help you in getting started.

There is a module in the repository called AskVM. It has so called resources, which are like functions that you can call in programs written in AskScript language.
In this task we want to add `div` resource. You can `times` (src/askvm/resources/math/times.ts) and `divideBy` (src/askvm/resources/mat

[2020-07-26 12:29] cpelican commented on #400
@czerwinskilukasz1 ok, thank you for your answer!

[2020-07-26 14:35] anushaNemilidinne commented on #412
Thanks @czerwinskilukasz1 for the information. I have never worked on AskScript language. But I will definitely try to get an overview of it and start working on the task. Is there any deadline for completing this ?

[2020-07-27 10:58] develper commented on #395
@czerwinskilukasz1, #250 sounds good to me.

[2020-07-30 00:58] czerwinskilukasz1 commented on #250
@develper , following [your comment](https://github.com/xFAANG/askql/issues/395#issuecomment-664325826), this issue is yours :)
If you had any questions, just tag me here.

[2020-07-30 01:05] czerwinskilukasz1 commented on #374
Closed with @akeni 's PR

[2020-07-30 01:05] #374 closed

[2020-07-30 01:13] #400 closed

[2020-07-30 01:19] czerwinskilukasz1 commented on #412
@anushaNemilidinne , we devised AskScript to look similar to Javascript.
A more or less up-to-date documentation is here: https://www.notion.so/AskScript-a-human-friendly-language-for-AskQL-7c5e382df87a4015b44985391861f6a2#a4fa16cb02c34572824e6b0c42a639eb
There might be some pieces out of date, so let me know if you find them.

We also have AskScript Playground, where you can try it out: https://c

[2020-07-30 01:22] #407 closed

[2020-07-30 15:18] mhagmajer commented on #316
https://svelte.dev/ for reference

Let's add some examples of dynamic UI to asses feasibility of having dynamic views in AskScript

[2020-07-30 15:24] markkulube commented on #378
@czerwinskilukasz1 my deepest apologies. work has been pretty busy  for the past couple weeks. the good thing is my current project is MERN stack as well and it's a long weekend for me here. my plan is to work on this issue to completion as of tomorrow and hopefully close this by next Friday at the latest.

so sorry for the delay!

[2020-07-30 16:14] czerwinskilukasz1 commented on #378
@markkulube , hey, thanks for your reply.
Keeping fingers crossed for your MERN project and for the PR for AskQL ;)

[2020-07-30 16:33] #403 closed

[2020-08-01 14:18] develper commented on #250
@czerwinskilukasz1 , I have implemented the mod resource and want to know should I write tests for the same? If yes, then which test cases I should include.

[2020-08-02 04:56] markkulube commented on #378
hey @czerwinskilukasz1 as per your recommendations i made a changes in two files but on running npm build i get an exception from the first few tests it seems:

What would this error indicate: **GrammarError: Rule "ElseIf" is not defined.**???

****************************************
 PASS   build  src/hello.ask
 FAIL   build  src/askscript/parser/askscript.grammar.pegjs
  ● saves /.../XFAANG/dis

[2020-08-02 05:22] markkulube commented on #378
@czerwinskilukasz1 there were 8 more tests after building and testing with my changes....i have not written any tests myself - is this to be expected?

Keeping my mind local master branch is up to date with your master branch:

Test Results Before My Changes:
Test Suites: 264 passed, 264 total
Tests:       27 todo, 713 passed, 740 total
Snapshots:   0 total
Time:        43.124 s
Ran all test suite

[2020-08-03 20:39] km4 opened #435 "severity vulnerability in npm-watch"
Hi, we need to think about `npm-watch` package. The package doesn't have any upgrade from the last 2 years.
@czerwinskilukasz1 you add this package but I don't see any usage. Maybe we can just remove from devDeps ?

![image](https://user-images.githubusercontent.com/1108808/89224523-e895b900-d5d8-11ea-8394-9e9fa9c5a7b9.png)

I can create PR for remove these packages. But maybe you need it for some

[2020-08-03 23:19] jamesd35 commented on #273
Hi can I work on this feature?

[2020-08-03 23:27] czerwinskilukasz1 commented on #273
Sure, go ahead @jamesd35 !

[2020-08-03 23:29] czerwinskilukasz1 commented on #435
@km4 , thanks for noticing. Go ahead and remove it.

[2020-08-03 23:37] czerwinskilukasz1 commented on #250
Great.

Let's add an example of `<int> % <int>` whose result should be 0, an example of `<int> % <int>` whose result should be non-zero, an example of `<float> % <int>` and `<float> % <float>`.
The same tests should be written twice for AskScript - once for `mod()` resource and once for `%` operator.
See `src/askscript/__tests__/09-operators/operators-09-logicalOr-oper.test.ts` and `src/askscript/

[2020-08-03 23:40] czerwinskilukasz1 commented on #378
This is interesting. Possibly a bug?    @mhagmajer wrote the scripts which run tests. Could you take a look?

[2020-08-03 23:41] czerwinskilukasz1 commented on #378
And congrats for solving the build issue :)

[2020-08-04 00:11] czerwinskilukasz1 opened #436 "upgrade jest to 26.2.2 (fix compile errors)"
[code]

From: https://github.com/xFAANG/askql/pull/431/checks?check_run_id=942729576

[2020-08-04 00:25] markkulube commented on #378
@czerwinskilukasz1 thanks, i am a little stuck on constructing an "if else-if else" block in console, I can only get the if statement going:

🦄 ask(if(5), return('yes'))
string ask(call(get('ask'),call(get('if'),5),call(get('return'),'yes')))
'yes'

**What would the askQL expression involving an else-if clause look like?**
- after i confirm that my changes do work in console then i can move onto w

[2020-08-04 17:22] jamesd35 commented on #273
Hi, I have a question on the intended behavior for integers passed into ToFloat.

Based on the float definition it seems that any integers will not be validated
`export const float = type<Type<number>, Type<number>>(number, {
  name: 'float',
  validate: (value): value is number => value % 1 !== 0,
});`

Currently if I pass in an integer, it returns it as an int
`toFloat(4)
int ask(call(get('toFlo

[2020-08-04 17:41] czerwinskilukasz1 commented on #378
Ah, OK, so, the first thing is that `ask(if(5), return('yes'))` is _AskCode_ (let's think of it as a machine language in AskQL project), while `else if` construct should be introduce in _AskScript_, which is the user-facing language.

I pasted in https://github.com/xFAANG/askql/issues/378#issue-654069959 an example showing how `else if` construct should look, it is written in _AskScript_:
[code]

[2020-08-04 17:48] czerwinskilukasz1 commented on #273
Good catch, jamesd35.  Since @mhagmajer wrote the types and validators, let's wait for his reply.

[2020-08-04 17:54] mhagmajer commented on #273
JavaScript wont differentiate between `4.0` and `4` because it treats it as the same data type. We do, however, with CLI written in JavaScript it's difficult to tell the difference

[2020-08-04 18:16] jamesd35 commented on #273
In that case, should the correct behavior to be to return the integer, but as a float type?

[2020-08-04 20:12] km4 commented on #436
Relate https://github.com/xFAANG/askql/pull/431 ?

[2020-08-04 20:20] km4 commented on #379
It's a great proposal! We can catch this event on the window if we change playground code (https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload)

if you have any other options please post it.

[2020-08-05 18:51] avats-dev commented on #253
Hey @mhagmajer and @czerwinskilukasz1 , I'm new here and I would love to contribute.
Can you guide me what I need to do to resolve this?

[2020-08-05 18:55] avats-dev commented on #412
Hey @anushaNemilidinne , are you still working on this?

[2020-08-05 18:59] avats-dev commented on #387
Hey @mhagmajer  and @czerwinskilukasz1 , as I have asked elsewhere also, if you could guide me where and what needs to be done to get this fix, I would do so.

[2020-08-05 20:32] markkulube commented on #378
@czerwinskilukasz1 my apologies, my question was unclear. i need help in understanding what exact steps i can take to check if my logic is correct.

how can simulate the use case as though I was say in a python shell? something like

suppose names[0] = 'charlie'

      return 'no one likes it';
    } else if (len == 1) {
      return concat(names[0], ' likes it');
    } else if (len == 2) {

[2020-08-10 14:52] czerwinskilukasz1 commented on #273
@mhagmajer , would you have a while to reply?

[2020-08-10 14:54] czerwinskilukasz1 commented on #436
Good catch, indeed, it did.
Closing this one then.

[2020-08-10 14:54] #436 closed

[2020-08-10 15:01] czerwinskilukasz1 commented on #379
I was thinking of preventing swipe from going back to the previous webpage, but actually it would be great to detect going back or going forward for any reason and ask for confirmation. And if so, we should implement it for every OS.

[2020-08-10 15:03] czerwinskilukasz1 commented on #379
Karol, would you like to work on it?
@km4

[2020-08-10 15:05] #269 closed

[2020-08-10 15:13] czerwinskilukasz1 commented on #253
Hello Aditya, welcome to AskQL project!
This issue is related to AskVM (Ask Virtual Machine), which is interpreting code in AskCode and keeping track of resources (functions) and variables defined.
First, it would be good if you get familiar with the part of code you are going to work on.  In this case it is how defining variables work in AskVM.  The code for AskVM lives in `src/askvm`, while for

[2020-08-10 15:14] czerwinskilukasz1 commented on #412
Hi @anushaNemilidinne, are you still there?  Let us know if you have more questions. It's good to ask :)

[2020-08-10 15:17] czerwinskilukasz1 commented on #387
Hi Aditya, welcome to AskQL again :)
This task is pretty straightforward, comparing to the one with double `let` expression. The task is to create a new _resource_ (aka function) called `push`, which will live in `src/askvm/resources/list/`, same as `set` resource, which is currently defined.
Please use `src/askvm/resources/list/set.ts` as an example how resources are defined and how they work.
Le

[2020-08-10 15:17] czerwinskilukasz1 commented on #387
Hi Aditya, welcome to AskQL again :)
This task is pretty straightforward, comparing to the one with double `let` expression. The task is to create a new _resource_ (aka function) called `push`, which will live in `src/askvm/resources/list/`, same as `set` resource, which is currently defined.
Please use `src/askvm/resources/list/set.ts` as an example how resources are defined and how they work.
Le

[2020-08-10 15:21] czerwinskilukasz1 commented on #378
@markkulube
Aaaaah, yeah, I missed that.
So, there is a magic command: `.editor`, which switches CLI to multiline 🙂

[code]

Does it answer your question?

[2020-08-10 15:29] czerwinskilukasz1 opened #447 "CLI: add welcome message"
Thanks to Mark's question, I discovered we haven't printed any message informing user how to enter multiline mode in CLI.

[2020-08-10 15:29] anushaNemilidinne commented on #412
@czerwinskilukasz1 Sorry I could not respond to you in a while. I have not yet started working on this. I will start working on it today. Let me know if you have any concerns.

[2020-08-10 15:31] #250 closed

[2020-08-10 15:34] czerwinskilukasz1 commented on #412
@anushaNemilidinne , sounds good, thanks for letting me know.
Please post any questions if you feel you are slowed down.

[2020-08-10 18:54] czerwinskilukasz1 commented on #404
`hasKey` is implemented, this is unblocked now.

[2020-08-11 06:43] markkulube commented on #378
@czerwinskilukasz1 yes it worked, thank you. The following tests were tried out in console and the output is what we would expect when comparing integer types. Let me know what you think, and my what could be my possible next steps:

### **test 1A**
let len = 3
if(len == 2) {
return '1A FAILED';
} else {
    return '1A PASSED';
}
**string ask(let('len',3),if(call(get('=='),get('len'),2),block(retu

[2020-08-11 08:33] #447 closed

[2020-08-11 08:51] czerwinskilukasz1 commented on #378
@markkulube , great to see that it worked.
The test cases look fine, I see you are testing each branch of if-else if-else construct, good.
One more thing is that the tests should be placed in `src/askscript/__tests__/04-control-flow` folder and should be checking the result automatically.  There are several ways to do it. I'd recommend writing an .ask file and a corresponding .test.result.ts file

[2020-08-11 08:55] czerwinskilukasz1 commented on #378
Ah, some more nit comments for your tests:

- it would be great if you tested branches of an if-else if-else construct in order - 1st branch in the 1st test, 2nd branch in the 2nd one etc., so test 1B and 1A should be swapped, tests 2 go as: 2B 2A 2C and tests 3 go in a different order too.
- connected to the bullet above, I think test 3A and 3C are testing the same branch. When they are written i

[2020-08-11 18:51] km4 commented on #379
@czerwinskilukasz1 sure. Feel free to assign me.

[2020-08-11 18:58] km4 commented on #435
Fixed :)
![image](https://user-images.githubusercontent.com/1108808/89937395-55cacf00-dc15-11ea-8f75-879e9892004d.png)

[2020-08-11 18:58] #435 closed

[2020-08-12 05:50] markkulube commented on #378
@czerwinskilukasz1 thanks for the feedback. Let me get 1 basic test going in the AskQL test suite first, then i will gauge if/which others to include.

An exception is thrown after including tests scripts to the control flow tests from folder. Looks like it has to do with formatting but i ran "Format Document" in VSCode using the Prettier plugin. Kinda stuck.

**src/askscript/tests/04-control-flow

[2020-08-15 13:44] mhagmajer opened #448 "Add transliterates to most popular languages- JS/TS/Python"

[2020-08-17 20:21] jamesd35 commented on #273
Just wondering if anyone had a chance to look at my pull request?

[2020-08-19 19:34] markkulube commented on #378
@czerwinskilukasz1 @mhagmajer the sooner i get help with the test script, the sooner we can close this PR, and hopefully integrate if-else if-else support to AskQL.

should i just submitt a draft PR with the buggy test case for if-else if-else, and maybe you can better help me that way?

[2020-08-19 19:51] mhagmajer commented on #378
@markkulube yes, I think such PR would be helpful to drive the matter forward 🙂 Thanks for continued interest in solving this issue, it's appreciated 👍

[2020-08-19 21:50] markkulube commented on #378
@czerwinskilukasz1 @mhagmajer thanks, i really want to see this through especially because i have else-if else-if working in my local env.

the draft PR has been raised.

both of you should be able to edit.

looking for further progress with this.

[2020-08-24 19:06] km4 commented on #379
@czerwinskilukasz1 I prefer to use `beforeunload` because not only back or forward detect but all events ( close window, refresh, change location). What do you think?

[2020-09-07 10:49] czerwinskilukasz1 commented on #238
@cpelican

[2020-09-07 10:50] czerwinskilukasz1 commented on #238
As for hints, I think it might be worth checking how `return` was implemented.

[2020-09-07 11:20] cpelican commented on #238
Hi, I'd like to take this issue, thanks!

[2020-09-11 12:01] mhagmajer commented on #273
@jamesd35 merged already :)

[2020-09-11 12:01] #273 closed

[2020-09-11 12:02] #412 closed

[2020-09-14 11:13] mhagmajer opened #482 "What are possible way of integrating with GraphQL and its tools?"
Some ideas:

- exposing resources as typed GraphQL resolvers with automatically generated schema
- exposing custom function

[2020-09-14 17:12] mhagmajer opened #483 "How to concatenate arrays?"
Looks like we need something for extending arrays

[2020-09-15 13:12] mhagmajer commented on #404
Place to fix that in code: https://github.com/xFAANG/askql/blob/master/src/askvm/resources/core/at.ts

[2020-09-20 11:06] cpelican commented on #256
Hi @czerwinskilukasz1 , I tried to reproduce this issue with the program bit you showed, but I only got as what looks to me as an other error. Plus the program didn't logged anything.
`/usr/bin/time -l npm run cli

Debugger listening on ws://127.0.0.1:51296/a140e1af-2610-4b61-9b7d-cf1234c70ce2
For help, see: https://nodejs.org/en/docs/inspector
Debugger attached.
Welcome to AskQL CLI!

For multi-l

[2020-09-21 17:49] #238 closed

[2020-10-02 13:10] hunarjain commented on #48
Hello, I want to contribute to these issue.
Can you please guide me and specify in which files I have to make this change?
@mhagmajer

[2020-10-02 13:15] mhagmajer commented on #48
Hello @hunarjain! The parser definitions are stored in https://github.com/xFAANG/askql/tree/master/src/askscript/parser. @czerwinskilukasz1 is the owner of that part of the codebase

[2020-10-03 13:00] cpelican commented on #364
Hi @czerwinskilukasz1 ! It is not clear to me where the listed informations, in particular the the one about the arguments, would be available. I've been looking at the content of `resource()`, I get something like this `{"name":"resource","type":{"name":"any","prototype":null},"argsType":{"name":"any!","prototype":null}}` for a given resource, but it seemed to lack info about the resource argumen

[2020-10-04 16:53] hunarjain commented on #48
Hello @czerwinskilukasz1  I am really interested in resolving this issue can you please guide me as to what type of changes I have to make in the parser files mentioned by @mhagmajer.

[2020-10-05 10:34] czerwinskilukasz1 commented on #48
Hello @hunarjain , I am very happy you volunteer to do this task - it would be a useful syntax structure.
You will need to edit a grammar file (https://github.com/xFAANG/askql/blob/master/src/askscript/parser/askscript.grammar.pegjs) to:
step 1) make pegjs accept expression with a comma-separated list of statements.  I would try adding a new definition to nonArithmNoMethodsExpression .  Please rea

[2020-10-05 21:06] rodolfoviolla commented on #124
Hey @mhagmajer and @czerwinskilukasz1, how are you? I'm a first timer open source contributor and I would like to know more about this issue. Can you help me about this? Thank you!

[2020-10-07 11:17] #378 closed

[2020-10-07 14:58] YonatanKra commented on #483
@mhagmajer
Can we call it `extend`?
Should it also extend objects?

[2020-10-08 11:30] czerwinskilukasz1 commented on #256
@cpelican , good catch.  After I submitted this error, mhagmajer reduced the allowed operation limit to just 10 000 operations (which is roughly around 600 iterations of a while loop, if I recall correctly), so no longer is it reproducible _but_ if you changed the limit in https://github.com/xFAANG/askql/blob/master/src/askvm/index.ts#L20 to let's say 10 000 000, you should be able to reproduce.

[2020-10-08 11:31] czerwinskilukasz1 commented on #379
@km4 , ah, I must have missed your comment, I'm sorry!
Yes, `beforeunload` sounds very good then.

[2020-10-08 14:57] #257 closed

[2020-10-08 16:40] #483 closed

[2020-10-08 16:41] YonatanKra commented on #482
@mhagmajer
Can you share examples for your bullets?

[2020-10-08 16:49] YonatanKra opened #503 "Separate the unit tests from the post build tests"
Currently, the test command runs all tests.
The problem is - some tests are unit tests, and some are relevant only after a new build.
The post build tests reside in the `src/askscript/__test__`.
Unit tests are all the rest.
Need to separate the two types of tests.
Maybe even take out the post build tests outside the `src` folder.

[2020-10-08 18:24] YonatanKra commented on #365
@czerwinskilukasz1 what do you mean by method? A method that returns the values is easy to setup - but should it satisfy a certain API? Should it be a REST API? Who is going to use this method? Will it be a resource unto itself?

[2020-10-08 18:48] YonatanKra opened #504 "Create embedded state for playground"
Embedded state will have its own CSS that will allow seamless integration within an iframe in a different website.
A button will be set "embed" that will show a link to the embedded state and an iframe code ready to be copy-pasted.

[2020-10-09 05:53] YonatanKra commented on #367
@czerwinskilukasz1 that is because of how JSON works: http://www.ecma-international.org/publications/standards/Ecma-404.htm
So:
[code]

[2020-10-09 06:58] YonatanKra commented on #372
Why first and last?
Why not just do like the JS forEach function?
`(item: any, index: number, array: any[]) => {}`

[2020-10-09 07:53] YonatanKra commented on #349
Now THAT's powerful!!!
I really like this one.

[2020-10-09 09:06] YonatanKra commented on #315
@czerwinskilukasz1 @mhagmajer
Do we want to allow so many iterations in AskQL?

[2020-10-09 09:13] YonatanKra commented on #315
Anyway - I can duplicate this in a much simpler case:
[code]
vs.
[code]
The time diff is astounding:
js run: 7.679ms
ask compile: 49074.156ms

[2020-10-09 09:58] YonatanKra commented on #315
Ok - I've started profiling this:
![image](https://user-images.githubusercontent.com/6459899/95569854-d0a24180-0a2e-11eb-83fe-5638f2a36199.png)
Seems like the `call` fulfilled is the heavy lifter here.
Others should be taken care of - but not as much as the `call`.
@mhagmajer - have any idea why would the `call` fulfilled will take so much time?

[2020-10-09 10:24] mhagmajer commented on #315
@YonatanKra suppose that this is the price we're paying for being asynchronous by default - this allows for easier syntax of performing asynchronous tasks (no async/await syntax), but at the same time, the synchronous like operations take much longer.

[code]
⏳  `async: 3.528076171875 ms`

[code]
⏳  `sync: 0.083984375 ms`

One way to mitigate that would be to introduce a `sync {}` block that would

[2020-10-09 10:45] mhagmajer commented on #315
Regarding `call` - this is the asynchronous root function being invoked on every resource - `for`, `if`, `assign` etc, so on every AskScript operation - that's why it is being the bottleneck

[2020-10-09 12:47] mhagmajer commented on #312
@czerwinskilukasz1 what do you think about it? Does it make sense to mix the query and value semantics like this? Where should we place a border between `query` and regular value expression?

[2020-10-09 12:51] mhagmajer commented on #367
@czerwinskilukasz1 as I understand the playground should showcase the scenario of client-server communication where client sends AskQL query and receives a JSON response back. JSON is the widely accepted format of data transfer so it makes sens to keep it for transporting the response. That's also how Graphi works for GraphQL. I don't think we're able to return `Infinity` or `NaN` back to the clie

[2020-10-09 13:25] mhagmajer commented on #372
I like @YonatanKra proposal of following the JS signature

[2020-10-09 13:32] czerwinskilukasz1 commented on #372
Me too.

[2020-10-09 15:16] #372 closed

[2020-10-09 17:59] km4 commented on #379
Ok, no problem, then I work on it. 👍

[2020-10-10 13:02] YonatanKra opened #509 "Integrate Sonarcloud"
Sonar cloud allows us to see metrics like code coverate, tech debt and possible bugs.

[2020-10-11 12:16] YonatanKra opened #512 "Enable string property names"
[code]

[2020-10-11 14:04] mhagmajer commented on #512
I like this 👌

[2020-10-12 06:35] YonatanKra opened #514 "A DB example"
I'm getting asked a lot to show a DB example.
I'd might have the time for this during some weekend, but if anyone wants to get it done, I'd be happy to have it sooner than later.
There's my quickstart demo that can be extended for this: https://github.com/YonatanKra/askql-demo

[2020-10-12 20:26] markkulube commented on #411
@czerwinskilukasz1 do you think this would be a good/appropriate second issue for me to take on?

[2020-10-15 19:14] mhagmajer commented on #387
Closed with https://github.com/xFAANG/askql/pull/510 from @bardeutsch 👏

[2020-10-15 19:14] #387 closed

[2020-10-16 13:38] czerwinskilukasz1 commented on #312
I am for allowing this kind of syntax.  Why do we permit strings or ints but would forbid dictionaries?
@mhagmajer , did you do research why it doesn't work? Is it parser or askcode/askvm?

[2020-10-16 13:47] YonatanKra commented on #312
Adding this test case here:
[code]

[2020-10-16 15:54] czerwinskilukasz1 opened #517 "`npm run build` fails on Windows (`mv` command is unknown)"
Steps to reproduce:
On Windows in cmd or in Terminal in VS Code run `npm run build` and wait.

Expected output: command successfully finishes.

Actual output:

[code]

The core error is here:
[code]

Workaround:
Use Git Bash instead.

[2020-10-17 08:04] JonathanDn opened #519 "Syntax for using a resource can be simplified"
I read in @YonatanKra's article how to use resources in askQL and the syntax for using a resource can be simplified as it currently required typing 2 function identifiers while 1 could be enough. The current syntax:
![image](https://user-images.githubusercontent.com/19703819/96331724-5134f380-1068-11eb-8228-b300072780b5.png)

The suggested syntax:
[code]

There is no need on the user, consumer sid

[2020-10-18 06:05] YonatanKra opened #521 "Refactor let"
Currently let holds the logic for `assign` and `const` which are different concerns.
Should write tests and implement `const` and `assign`.

[2020-10-19 13:38] #254 closed

[2020-10-19 13:44] #517 closed

[2020-10-20 08:14] #512 closed

[2020-10-21 16:56] mhagmajer opened #522 "Command line CLI should allow (but not require) wrapping code in ask {}"
Currently when people wrap their code with `ask {}` when using the command line CLI tool, they get the following error:

[code]

Then command line should allow wrapping code in `ask {}` and not show this confusing error.

[2020-10-22 14:51] dastin-sandura commented on #404
I have created a pull request with a unit test for this case. I will appreciate if someone could verify if the test is correct 😄
Next, I will work on changing the implementation of at to work as expected by the test

[2020-10-23 08:29] dastin-sandura commented on #404
My pull request is ready for review 😃

[2020-10-25 10:16] dastin-sandura commented on #128
Hey @mhagmajer and @czerwinskilukasz1 can I take care of this issue? :)

[2020-10-25 10:17] dastin-sandura commented on #521
Hey @YonatanKra can I take care of this issue? :)

[2020-10-25 11:03] mhagmajer commented on #128
@dastin-sandura sure!

[2020-10-25 17:00] dastin-sandura commented on #128
@mhagmajer I have submitted a PR with my proposed issue template. Let me know what you think 😄

[2020-10-26 20:07] #128 closed

[2020-10-27 06:31] YonatanKra commented on #521
@dastin-sandura - the idea would be to split these into their own files.
Currently all of these logics are the same.

You can see it in this line:
`export { letRes as let, letRes as const, letRes as assign } from './let';`

Thing is, they are now quite different than each other. Enough to see the `if` statements inside the file like:
`if (code.name === 'assign') {`
`if (code.name === 'const') {`

[2020-10-27 08:41] dastin-sandura commented on #521
Thank you! @YonatanKra 😄 this clears things up! I did not notice the ```export``` detail when I was analyzing the code so this explains a lot. I will submit changes today in the evening CET.

[2020-10-27 19:07] YonatanKra commented on #124
Hi @rodolfoviolla . How are you? Would love to help you with that. Are you still interested in this issue?

[2020-10-28 15:34] dastin-sandura commented on #126
I will take care of this and use what @Tuhaj mentioned in #407 🙂 in comment https://github.com/xFAANG/askql/issues/407#issue-660212583

[2020-10-28 16:14] #404 closed

[2020-10-29 04:56] YonatanKra opened #529 "Allow sharing of playground"
**Is your feature request related to a problem? If yes, please describe the problem.**
Currently our playground is without any code sharing capabilities.

**Describe the solution you'd like to see.**
Allow to share the playground with a certain query by adding the query as a base64 in the URL.

**Were you inspired by anything else, that you have experienced?**
Inspired by https://sandcastle.cesium

[2020-10-30 18:02] dastin-sandura opened #530 "Refactor: extract common logic for checking if a reserved keyword is used in from let, const and assign to avoid code duplication"
**Is your feature request related to a problem? If yes, please describe the problem.**
It is not a problem, because the code works well and it is not visible to the user. It can be considered a 'code smell' by some devs.

**Describe the solution you'd like to see.**
Removed duplication of code 😄

**Were you inspired by anything else, that you have experienced?**
Inspired by @YonatanKra

**Describe

[2020-10-30 18:52] #521 closed

[2020-10-30 18:53] #126 closed

[2020-10-31 21:17] dastin-sandura commented on #530
I shall hug this issue

[2020-11-30 17:29] khushboo97 commented on #48
Hello @czerwinskilukasz1 ,
Please help me by guiding how to run the above mentioned file on my system to check errors and debug them. I am trying for first time so if you could guide me, it would be a great help to get a start.

Thanks

[2020-12-04 14:30] hunarjain007 commented on #48
Hello @khushboo97  you can use the playground
https://cli.askql.org/

[2021-03-30 11:22] pkarw opened #566 "Frontend-driven database access aka. "The Ultimate Endpoint""
Hi guys! I just wanted to share some ideas for the production usage of AskQL. I mean business case - which actually can be an idea for another product using AskQL :)

**Use case**
Imagine a legacy system having its own MySQL, Oracle, MongoDB database. You're a frontend developer building some new features and you need a single, additional piece of information from this DB. Wait - you need to match

[2021-03-30 11:29] pkarw commented on #566
it's a gamechanger for no-code/low-code envs too. Imagine airtable. You can fetch some data from REST/GraphQL but if you need a custom query you gonna ask backend dev anyway to prepare an endpoint. And you're blocked. With such a tool you gonna just ask the guys to install askQL server from an NPM + configure which resources it has access to. The app should have bindings (using Prisma or mongoose

[2021-04-01 11:53] mhagmajer commented on #566
Thanks @pkarw, I really like this idea!

[2021-04-01 13:07] lukasz-xfaang commented on #566
@pkarw , thank you for refreshing the topic of business ideas for AskQL. The vision is consistent with the vision we had.
First question that comes to my mind is _how_ to get there.

[2021-04-01 13:16] pkarw commented on #566
Let's do it.

[2021-04-16 07:25] pkarw commented on #566
Related: #410, #514

[2021-04-16 10:48] pkarw commented on #566
Related: #45

[2021-04-16 10:49] pkarw commented on #566
Related: #364 - schema discoverability

[2021-04-19 08:01] pkarw opened #575 "Add JsonPath support"
**Is your feature request related to a problem? If yes, please describe the problem.**

I suppose it would be great to add some resources for the [JsonPath support ](https://www.npmjs.com/package/jsonpath). This new resource, mixed with the `fetch` will make it extremely easy to query and amend the JSON responses to fit it into resulting query schema

**Describe the solution you'd like to see.**
W

[2021-04-19 08:02] pkarw commented on #482
Related: #566

[2021-04-19 08:02] pkarw commented on #575
The inspiration for this feature request was Raws.com: https://rows.com/docs/modifying-json?category=advanced

[2021-04-19 08:36] pkarw opened #576 "Add Lambda/serverless function as the resources"
**Is your feature request related to a problem? If yes, please describe the problem.**
It would be great to have an abstract resource like `lambda` for adding custom resources based on AWS. OK, it's kind of wrapper for `fetch` but it shows how super easily one can extend and call the AskQL with custom-made data sources

**Describe the solution you'd like to see.**
It could be like `lambda` helper

[2021-04-20 09:22] pkarw commented on #316
Wow, this is awesome

[2021-04-23 08:23] pkarw opened #579 "Add namespacing/modules"
**Is your feature request related to a problem? If yes, please describe the problem.**

When we'd like to implement a more broad set of the resources/integrations we'll encounter a namespacing issue, kind of modules/namespaces/groups would be a handy solution to it.

For example when we'd like to develop the resources for accessing `MySQL` and `MongoDB` both ORM modules could potentially have a me

[2021-04-23 08:29] pkarw commented on #579
... the simplest possible solution could be to extend the `run()` method on `vm` to let the officially registered resources return methods or return sub-resources (chaining) etc. we're not talking about the OOP methods - however  this could potentially be a great solution too

[2021-04-23 08:34] pkarw opened #580 "Let developers to call JS methods on limited JS objects"
**Is your feature request related to a problem? If yes, please describe the problem.**

It would be great if we could pass over some libraries - take the `lodash` to AskQL and let the developers use all the functions provided, without the need to pack every call with a painstakingly created resource (current case). It could be pretty much useful for using the external services APIs like [`commerce

[2021-05-01 15:45] czerwinskilukasz1 commented on #575
I like the idea, because it has a concrete use case.

[2021-05-01 16:04] czerwinskilukasz1 commented on #576
I like it, it would greatly enhance Ask's capabilities, while maintaining the security of the  Ask server.

You suggested to hard code a specific lambda function (`myLambdaCall` defined as calling an AWS lambda function `myFunctionName`). Correct me if I am wrong, but to me it means that:
1) the function would need to be accessible by the running server, meaning that the CODE of server would autom

[2021-05-02 09:17] czerwinskilukasz1 commented on #580
Sounds good. In case of lodash probably there are no harmful functions, but in general it would be good to have `jsModuleInterop`.

[2021-05-02 10:43] czerwinskilukasz1 commented on #579
@pkarw , the issue I see here is that currently code like `mysql:findOne()` is just a syntactic sugar over `findOne(mysql)`, which means that regardless what kind of variable `mysql` is, the very same `findOne()` function will be called.
The translation is not done in `run()` in `vm`, which is called when executing the parsed program, but much earlier - when parsing the AskScript source code into

[2021-05-02 11:03] czerwinskilukasz1 commented on #579
On the other hand, what _I think_ we _could_ do is to have a way to return a MySQL object which has a number of *fields*, each of them being a function (e.g. field `findOne` being a function for finding a single row in a table etc.) and then run `mysql.findOne()`.
Please note that here we use dot instead of the colon. In AskScript we used colon for the "method" syntax sugar and method chaining, bu

[2021-05-02 11:05] czerwinskilukasz1 commented on #579
This way we could have:
[code]

[2021-05-03 12:05] pkarw commented on #580
Cool! Any insights on how can we implement this feature? I was looking at the `run` method inside the `vm` implementation. Is it the right hook-up point to extend it? I mean we could potentially implement a "hack": to check the 1st parameter of any function call (as it should be the processing resource): if there is a proper child function - lets' call it.  However, it's not an ideal one. I mean w

[2021-05-03 12:07] pkarw commented on #579
@czerwinskilukasz1 good point.  I think it's a great way to go for this FR; it's somewhat clarifying the #580 as well (I mean the "dot" notation could be used to have both #579 and #580 up)

[2021-05-03 12:09] pkarw commented on #576
Cool, it leads us to new FR - implementing `secrets`. Not sure how exactly it should work - I mean it should be somehow `pass-only` kind of variables (that you can't get thru query, but could pass to the subsequent resource and function -calls)

[2021-05-03 12:10] pkarw commented on #575
... and it's super easy to implement in fact :-)

[2021-05-03 12:14] pkarw opened #581 "Add Secrets management feature"
**Is your feature request related to a problem? If yes, please describe the problem.**

Related to #576.

It would be great to have a feature for passing the `ENV` kind of variables, but safe. It could be passed via the `vm` context:

[code]

I can imagine that in the AskScripts we could pass these variables as just: `secrets.awsCredentials` to subsequent resources and functions call, but we `can

[2021-05-11 12:35] czerwinskilukasz1 commented on #581
@pkarw

**Topic 1. Read.**

Let's clarify how the secrets could be read and how they couldn't:

1. read from AskScript variables in AskScript code: NO
1. read from JavaScript variables (objects) in AskScript code (when #580 is implemented): NO
1. read in built-in resources executed by AskVM: YES (otherwise we wouldn't be able to connect to AWS etc.)
1. read in resources created on-the-fly e.g. fro

[2021-05-11 12:46] czerwinskilukasz1 commented on #580
I envision `jsModuleInterop` the following way:
[code]

What `jsModuleInterop(arg1, args)` would be is a helper that creates a resource which has properties listed in `args` that are wrappers over functions with the same names from module `arg1`.

[2021-05-11 12:47] czerwinskilukasz1 commented on #580
This way we don't need to add a hack with additional checks for function names in runtime. We use an existing mechanism instead.

[2021-05-14 08:11] pkarw commented on #581
Hey Łukasz, great study - thank you for your effort. I completely agree. So we could implement the `3rd` option for reading the secrets.

In regards to setting the secrets out I suppose we should have kind of `async` provider overriding the default `ENV` values. I mean, by default secrets are passed by ENV (+ `.env` file) but then there's a wrapper around it and it's async function so anyone who'd

[2021-05-14 08:12] pkarw commented on #580
That's cool, however I've got an additional question. What do you mean by resource properties? I mean at the moment one resource could have just a single `execute`  and secondly `resolve` method - so no additional properties could be set. Or am I wrong?

[2021-05-14 13:52] pkarw opened #583 "Access control and session management"
**Is your feature request related to a problem? If yes, please describe the problem.**

Related: #581

It would be great to have a way, similar to the way we [manage the secrets](#580) to manage the sessions and scoping the accessible user data.

[Reference](https://hasura.io/docs/latest/graphql/core/auth/authorization/roles-variables.html#format-of-session-variables)

I like the idea of passing t

[2021-05-14 13:56] pkarw opened #584 "Add stored procedures/persited/hash queries"
**Is your feature request related to a problem? If yes, please describe the problem.**

Related to #583

In order to prevent the users from modifying the queries on the fly, we could implement a feature like [Persistent queries](https://www.apollographql.com/docs/react/api/link/persisted-queries/) where the query is stored on the server and called just by its hash (+ dynamic parameters)

The query

[2021-05-14 13:59] pkarw commented on #580
@czerwinskilukasz1 maybe another option would be to add a support for something like JS scripting inside AskQL? I mean something like:

[code]

when used within the AskScript the JS interpreter like [jerryScript](https://github.com/jerryscript-project/jerryscript) or [JS-interpreter](https://github.com/NeilFraser/JS-Interpreter) is being used to execute the scope - isolated from the main Node proc

[2021-05-14 14:03] pkarw opened #585 "Add HTTP GET variables access to AskScript"
**Is your feature request related to a problem? If yes, please describe the problem.**

OK, this is fairly easy by just passing the HTTP Request context via the `vm.variables`. It could be useful for the #584 as the query variables + script hash could be used for an effective caching strategy.

[2021-05-14 14:05] pkarw opened #586 "TypeScript SDK"
**Is your feature request related to a problem? If yes, please describe the problem.**

It would be great to create a library like `apollo-client` where the devs will get easy access for querying the Ask endpoints. Related to [vscode support](https://github.com/CatchTheTornado/askql/issues?q=is%3Aissue+vscode+is%3Aopen)

[2021-05-14 14:05] pkarw commented on #584
Related: #586

[2021-05-14 14:05] pkarw commented on #583
Related: #586

[2021-05-14 14:09] pkarw commented on #316
... another use case of this feature could be supporting different component engines: Vue, Angular, React, WebComponents - something like https://github.com/BuilderIO/jsx-lite

[2021-05-14 14:13] pkarw opened #587 "Add React Context and/or hooks for querying AskQL endpoints"
**Is your feature request related to a problem? If yes, please describe the problem.**

As a part of the SDK #586 I can imagine a [ContextProvider](https://reactjs.org/docs/context.html) for React for retrieving the data. It will make the integration with tools like [Builder.io](https://github.com/BuilderIO/builder) super simple.

Reference:
- https://www.apollographql.com/docs/react/api/react/hoo

[2021-05-14 14:14] pkarw commented on #586
#587

[2021-05-17 13:11] lukasz-xfaang commented on #580
Actually, I should have written 'dictionary' rather than 'resource', so that `lodash.sort` in AskScript would be a function for sorting, `lodash.unique` would be a function for unique values etc.

If we allow to run an arbitrary Javascript code, we would need to make sure that it cannot make nasty things on the server, e.g. access files, write/read files, open ports etc., e.g using os or net packa

[2021-05-18 14:59] mhagmajer opened #589 "Unable to call object properties that are functions"
The following code produces a parsing error when run on the playground

[code]

It works fine, when `myMath` is destructured first:

[code]

Used expression (`myMath.sum(2, 2)`) should be translated into

[code]

Note that `call` in AskJSX can accept either the `name` property in args function expression in its first child.

[2021-05-18 15:00] mhagmajer commented on #579
Blocked by https://github.com/CatchTheTornado/askql/issues/589

[2021-05-18 15:05] pkarw commented on #589
yesterday, while digging into the parser I had an idea that maybe we just change how `.` works: https://github.com/CatchTheTornado/askql/blob/fea7233dd1c6967b7fddd96da6134e3fd92f88f9/src/askscript/parser/askscript.grammar.pegjs#L237 - somehow making it more like the `:` I mean adding an option for a `MethodCallApplied` transformation instead of `KeyExpressionApplied`

That's why it works by decons

[2021-05-18 15:10] mhagmajer commented on #580
@pkarw seems like this can be done in user space with a resource factory that accepts an object, for example:

[code]

The design decision with AskQL was to have a separate computing environment from JavaScript (or any other host programming language) and therefore it would be troublesome to do a direct linking. All callable host methods would need to go through an explicit wrapper which allows fo

[2021-05-18 15:13] mhagmajer commented on #589
@czerwinskilukasz1 what do you think about this?

[2021-05-18 15:16] pkarw commented on #589
@czerwinskilukasz1 we neeed your help! 🙏😁

[2021-05-18 17:57] pkarw commented on #580
Perfect fit @mhagmajer. Thanks!

[2021-05-18 22:20] lukasz-xfaang commented on #589
Ack. I will try to reply tomorrow.

[2021-05-25 18:06] mhagmajer commented on #589
@czerwinskilukasz1 friendly ping :)

[2021-05-27 10:16] czerwinskilukasz1 commented on #214
The option to disable patch updates is finally live in Dependabot! :)
https://github.blog/changelog/2021-05-21-dependabot-version-updates-can-now-ignore-major-minor-patch-releases/

[2021-05-27 10:16] czerwinskilukasz1 commented on #214
And here is sample usage: https://github.com/dependabot/dependabot-core/issues/2219#issuecomment-843275265

[2021-05-27 13:47] #214 closed

[2021-06-07 09:49] #575 closed

[2021-06-07 09:50] pkarw commented on #589
@czerwinskilukasz1 another friendly ping ;P

[2021-06-17 11:09] #580 closed

[2021-06-17 11:20] pkarw commented on #589
@lukasz-xfaang i've stuck on this :( I really need your help @lukasz-xfaang @czerwinskilukasz1