[2020-05-26 20:00] DavidSampson opened #29 "AskVM not timing out on infinite loops"
According to the [FAQ](https://www.notion.so/FAQ-554ab8a775494057a0fdbedf7ad6f2d6), the AskVM should timeout on infinite loops.

However running the following in the AskVM generates a hang (infinite loop) that does not seem to resolve.

[code]

To replicate:
* `npm install askql`
* `./askql`
* `.editor`
* Enter the above code
* Ctrl+D

[2020-05-26 20:32] undomalum commented on #29
Thank you, David, for your contribution! We will definitely look into it. We'll keep you posted :)

[2020-05-26 20:43] DavidSampson commented on #29
More generally, how does AskQL and AskVM plan to handle cases like this?

If there's a limit to "steps" (beta reductions if this is a lambda calculus evaluator) or something similar, and the code written in the front end is O(n) where n is, say, the number of entries in a table,  then a working query may suddenly start failing, and the only change is that a new entry was added to the table. That s

[2020-05-28 15:03] czerwinskilukasz1 opened #30 "2<ws>+<ws>3 does not parse"
While `2+3` works, `2 + 3` does not.  Whitespaces.

[2020-05-28 16:13] czerwinskilukasz1 commented on #30
Output from AskScript CLI:

[code]

[2020-05-28 16:21] matheusmonte commented on #30
Can I get this to solve?

[2020-05-28 16:53] czerwinskilukasz1 opened #34 "Shadowing default resources does not work"
From AskScript CLI:
[code]

[2020-05-28 21:24] mhagmajer commented on #29
Thanks @DavidSampson for posting this! You have definitely spotted a bug and we're going to send a PR that solves it soon.

Speaking of this issue more broadly, every server indeed has different set of limited resources that it can devote to running a query (regardless of the query language). I agree that in case of AskQL this gets tricker, because more operations are possible - including endless

[2020-05-29 14:09] czerwinskilukasz1 commented on #30
@matheusmonte , sure thing. Sold! :)

[2020-05-30 13:03] mhagmajer opened #36 "AskScriptAst should include location of nodes"
To provide better DX (developer experience), our parser should keep track of position (line, column) - ideally, `startLoc` and `endLoc` (see https://prettier.io/docs/en/plugins.html#parsers for context).

[2020-05-30 14:04] mhagmajer opened #37 "Simplify AskScriptAst by inlining props"
Currently `AskScriptAst` nodes are needlessly verbose with `props`.

For example, instead of having this come out from `parseToAst` in `askscript` library:

[code]

We could decide that `name` (renamed to "type") and `children` are reserved prop names, and arrive at a simpler structure such as:

[code]

[2020-06-03 18:21] czerwinskilukasz1 commented on #30
Hi @matheusmonte , how is writing the fix going?  Do you need any pointers?

[2020-06-04 11:25] mhagmajer opened #40 "Return doesn't work properly"
[code]

gives `5` where `3` is expected

[2020-06-04 11:55] mhagmajer commented on #30
@matheusmonte if you don't confirm and give some ETA by the end of this week, we'll need to take over. Thanks for understanding!

[2020-06-04 17:00] czerwinskilukasz1 opened #43 "Handle providing a lambda function when chaining methods in AskScript"
[code]
returns the value of `text` variable instead of `text` + `text`.

[2020-06-04 17:28] mhagmajer commented on #43
Please note that `call` resource expects function as its first argument. Following arguments are the arguments for function. Much like https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/call.

If you wish to use it in chaining you would need another resource that accepts the call argument as its first argument. For example: `apply(arg, fun)`. This is a featur

[2020-06-04 17:52] mhagmajer opened #44 "Prettier plugin for AskScript"

[2020-06-04 17:53] #44 closed

[2020-06-04 17:59] #40 closed

[2020-06-04 21:12] mhagmajer opened #45 "Missing type semantics"
[code]

should fail with error message describing type assertion problem

[2020-06-04 21:28] mhagmajer opened #46 "call doesn't work in certain cases"
Probably `call` in AskScript has different semantics than in `AskCode` due to dereferencing of identifiers. This causes different issues:

**Example 1**
[code]
returns the `AskCode` but `5` is expected

**Example 2**
[code]
returns `5` but `AskCode` for `f` is expected

**Example 3**
[code]
returns `null` but the resource for `f` is expected (currently shorthand for `fragment` which is used in com

[2020-06-04 21:31] mhagmajer commented on #43
Please consider changing the title to be more specific. We already have "lambda function" in AskScript.

### call(fun, arg1, arg2, ..., argN)
[code]

#### Example 1:

[code]

returns `5`

#### Example 2 (subject to [an ongoing issue](https://github.com/xFAANG/askql/issues/46)):

[code]

returns `5`

[2020-06-04 21:58] mhagmajer opened #47 "CLI doesn't preserve environment between statements"
[code]

[2020-06-04 22:02] mhagmajer opened #48 "Missing syntax for multiple statements on the same line"
All these cause syntax errors:

**Example 1**
[code]

**Example 2**
[code]

[2020-06-04 22:05] mhagmajer opened #49 "Syntax sugar for function type"
**Example**
[code]

[2020-06-04 22:16] mhagmajer opened #50 "Add `resources` resource that cannot be shadowed"

[2020-06-04 22:20] mhagmajer opened #51 "int[] syntax sugar for array(int) constructor"

[2020-06-04 22:21] mhagmajer opened #52 "a.b / a[b] syntax sugar for a:at('b')"

[2020-06-04 22:25] mhagmajer opened #53 "Generate .askcode and .askjsx in GitHub actions"
Maybe GitHub action could also take care of generating `.askcode` and `.askjson` files? Currently these files are generated on `npm test`.  This way maybe they wouldn't have to be included in reviewed code. More reasearch is needed here on how this would work exactly.

[2020-06-04 22:27] mhagmajer opened #54 "Add .askjsx files with JSX syntax for AskCode"

[2020-06-04 22:29] mhagmajer opened #55 "Add jest routines for publishing separate packages in src/"
All packages should share the same version number on every release.

[2020-06-04 22:30] mhagmajer opened #56 "VS Code plugin for AskScript"
- [ ] syntax highlighting

[2020-06-04 22:31] mhagmajer opened #57 "Documentation generator"
Generate beautiful documentation for resources based on their types and properties.

[2020-06-04 22:49] mhagmajer commented on #43
`call`, `apply`, `bind` are already known to JavaScript developers. I suggest we port these directly. They are not that bad. Of course, we do not have `this` keyword so all of these don't need their first argument here.

For the one you proposing for chained operations, maybe w can name it `useFor`?

[code]

[2020-06-04 23:07] mhagmajer opened #58 "Add arguments core resource for compatibility with JS identifiers"
[code]

should return `5`

[2020-06-04 23:09] mhagmajer opened #59 "Accept additional argument in simple type constructors"
[code]

[2020-06-04 23:13] mhagmajer opened #60 "Implement custom parser"
We already have a source code parser in `askcode`. I think once we have solidified the syntax for AskScript, we can translate it onto the custom parser letting go of `pegjs` dependency doesn't seem to be maintained anymore

[2020-06-04 23:44] mhagmajer opened #61 "askql package - express middleware"
Easy way to integrate AskQL with express

[2020-06-05 15:56] YonatanKra commented on #61
@mhagmajer I can take this one.
I'm working on it this weekend.
My direction would be to create a middleware that does what the demoServer is doing "manually" - so ppl can just add a middleware, send a valid askql code, and it would just work.
I'll write the tests for this middleware by tomorrow night.
Once the tests are written, we can review the API. There are probably things I still don't under

[2020-06-05 17:32] mhagmajer commented on #61
Sounds good @YonatanKra! :)

[2020-06-05 18:13] czerwinskilukasz1 commented on #60
Rewriting a parser sounds like a lot of work.
What size of the package would you like to achieve?
When would you like to rewrite it?

[2020-06-05 18:20] czerwinskilukasz1 commented on #43
Fine, let's do it.

[2020-06-05 18:23] czerwinskilukasz1 commented on #43
As for porting `apply` and `bind` directly from Javascript, let's create a separate issue (or issues) for them and do them later that v.1.1 as I think they are not critical features.

[2020-06-05 18:24] czerwinskilukasz1 commented on #43
Does the current `call` implementation reflect what you mean by Javascript-`call`-just-without-`this`-keyword?

[2020-06-05 18:28] czerwinskilukasz1 opened #64 "AskJSX documentation out-of-date"
Current [AskJSX documentation](https://www.notion.so/AskJSX-JSX-dialect-for-AskScript-with-AskJSON-persistence-4df37b687888458ab63e1b9ee5037c3a) is out-of-date, which introduces errors during development.

[2020-06-05 19:05] matheusmonte commented on #30
Hey, Sorry for this, I have some personal problems, and need to be offline for a while. If is good for your, I can take care of this until next Wednesday 10 june.

[2020-06-05 19:06] czerwinskilukasz1 commented on #36
Agreed.

[2020-06-05 19:34] czerwinskilukasz1 opened #66 "`npm test` does not run `.test.ask` test files"
How to reproduce:
1. Open a *.test.ask file, e.g. src/askscript/__tests__/00-documentation-examples/documentation01-complete_example.test.ask
2. Write an untrue expect().toBe() statement, e.g.: expect(2 + 2):toBe(5)
3. Run `npm test`.

Expected: `npm test` fails with an error.
Actual: `npm test` succeeds with no error.
Note that also running `npm test src/askscript/__tests__/00-documentation-examp

[2020-06-05 21:29] #30 closed

[2020-06-05 21:35] mhagmajer commented on #43
Yes, it should (see https://github.com/xFAANG/askql/issues/46)

[2020-06-05 21:41] mhagmajer commented on #60
I think that if we build up on https://github.com/xFAANG/askql/blob/master/src/askcode/lib/reduce.ts we should be able to have a working AskScript parser in under 1K locs. The time to do it will be once the syntax is stable and we can safely say that we don't need extra features of `pegjs`. We could potentially write this parser in AskScript too.

[2020-06-06 08:46] Tuhaj opened #68 "AskScript: TypeError: undefined is not iterable (cannot read property Symbol(Symbol.iterator))"
Watching https://youtu.be/Su1FBJ5r7CU?t=221 shows running the current snippet
should be possible:

`find(philosophers, fun(is(at(scorePerPhilosopher, get('$0')), max(scorePerPhilosopher))))`

However, here is what happens:

[code]

[2020-06-06 15:21] czerwinskilukasz1 opened #69 ":toString method returns a function when run in CLI"
When running `:toString` in CLI, when used in the last statement in `ask`, it returns a function.

![image](https://user-images.githubusercontent.com/12752520/83947797-907d4900-a819-11ea-99d8-9baa8ad82474.png)

Interesting enough, when running .ask file via `npm run ask`, it works correctly.

[2020-06-06 16:47] czerwinskilukasz1 opened #70 "npm run build fails on a fresh Debian 10"
Steps to reproduce:
Follow instructions from "Development & Contributing" at https://github.com/xFAANG/askql on a clean Debian 10 server.
0. Install Node 12 by following this guide: https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-debian-10
1. Clone the repository: `git clone git@github.com:xFAANG/askql.git`
2. Install dependencies `npm i`
3. Build the project `npm run bu

[2020-06-06 16:48] czerwinskilukasz1 commented on #70
`$ node --version
v12.18.0`

[2020-06-06 16:53] czerwinskilukasz1 commented on #70
Same for node 13 and node 14 installed using this method: https://computingforgeeks.com/how-to-install-latest-nodejs-on-ubuntu-debian-linux/

[2020-06-06 18:57] czerwinskilukasz1 opened #72 "Can't define a variable in for"
The following code results in an error:

[code]

[2020-06-06 18:59] czerwinskilukasz1 opened #73 "< operator not defined"
The following code fails because of an unknown `<` identifier:

[code]

[2020-06-06 19:01] czerwinskilukasz1 opened #74 "Allow using double quotes for string literals"
Currently only single quotes are supported:
![image](https://user-images.githubusercontent.com/12752520/83952378-d695d500-a838-11ea-8690-67033855d389.png)

Using double quotes results in an error:

![image](https://user-images.githubusercontent.com/12752520/83952387-e57c8780-a838-11ea-8b72-0ba3ab409e9f.png)

[2020-06-06 19:19] czerwinskilukasz1 commented on #61
@YonatanKra, FWIW, in addition to the existing examples in master, I created a branch with a small server which accepts AskScript code and returns AskCode and the result (or an error): https://github.com/xFAANG/askql/blob/ask_server/src/demoAskServer.ts

[2020-06-06 20:03] #70 closed

[2020-06-06 22:09] mhagmajer commented on #74
Can you please elaborate on the argument for adding another construction for string literals? Modern code formatting tools such as prettier change the code so that only one construct is used anyway.

[2020-06-06 22:10] mhagmajer commented on #69
Related to #46

[2020-06-06 22:11] mhagmajer commented on #68
Related to #46

[2020-06-07 14:01] Tuhaj commented on #74
I like the idea of using single quotes only, as I understood this is a feature of the language, that takes the burden of making constant choices "single or double?". Single!

[2020-06-07 14:02] Tuhaj opened #77 "Run prettier automatically"
<img width="607" alt="Screenshot 2020-06-07 at 15 57 12" src="https://user-images.githubusercontent.com/6118271/83970849-3db69680-a8d8-11ea-8190-c34d2fddb7d8.png">
Otherwise, GitHub will keep reminding us about this with this red flag.

[2020-06-07 18:55] mhagmajer commented on #77
@YonatanKra feel free to use this issue to write down plans for prettier

[2020-06-08 03:35] YonatanKra commented on #77
@mhagmajer
I've added a PR for CI.
I'll add prettier to the CI file once we approve the CI flow.
After the change to this issue, the CI will look like this:
1. npm install
1. build ask prettier plugin
1. run prettier
1. run build:test
1. commit prettier changes (using `git-auto-commit-action`)
What do you think?

[2020-06-08 08:52] mhagmajer commented on #53
Keeping this one open to track more things

[2020-06-08 11:02] #73 closed

[2020-06-08 13:46] #77 closed

[2020-06-09 06:40] YonatanKra opened #86 "Running double and sometimes triple the amount of tests"
![image](https://user-images.githubusercontent.com/6459899/84114500-2640f000-aa35-11ea-9f73-654e45739462.png)
In the above image, you can see a search for one file in the CI logs.
It shows it runs both the `ts` test and the compiled `js` test.
It is also the same for other files.

[2020-06-09 09:13] mhagmajer commented on #86
Right, seems like some of these we can ignore. Thanks for posting, @YonatanKra !

[2020-06-09 09:53] YonatanKra opened #89 "Only *.test.ts files use jasmine2 runner in Jest"
When running tests I see a strange issue.
Here's my test:
[code]
But when I run the tests I get that everything is passing:
![image](https://user-images.githubusercontent.com/6459899/84133616-0b2fa980-aa50-11ea-81ab-5fd1e5eca0a7.png)
I thought it is my test but - I've added the same expect to an existing test `src/askjsx/__tests__/render.test.tsx`:
[code]
And now all 3 changed suites pass:
![image

[2020-06-09 10:36] mhagmajer commented on #89
This has to do with the following condition in our test runner:

[code]

https://github.com/xFAANG/askql/blob/aca6b3b923fae74ffa8039e5866b0ef364c2a85d/src/test.jest.testRunner.ts#L269

[2020-06-09 10:51] mhagmajer commented on #89
After making changes to test suite files, please remember to do `npm run tsc` or test with `npm run tsc:test` so that Jest runs the new test runner

[2020-06-09 11:34] YonatanKra opened #91 "Don't build the test files"
Currently, the build process builds the test files and they appear in the dist folder.  This should be avoided.

[2020-06-09 12:14] YonatanKra opened #93 "Remove test dependencies from dist"
The test runners are built into `dist` and hence the test process is dependent on the build process. This should be separated.

[2020-06-09 12:18] YonatanKra opened #94 "Possible invalid regex"
[code]
I think there's an issue with the suffix.
I believe it looks for files that end with `jx` or `tx` with a possible `s` in the middle.

[2020-06-09 12:23] YonatanKra opened #95 "Create testing documentation"
Some untold processes for testing like:
1. running tsc after changing the runners
2. Running `npm test <filePath>`
3. Document the way the custom transformers and runners work (big files with no tests?)
etc.

[2020-06-09 13:09] #86 closed

[2020-06-09 13:09] #89 closed

[2020-06-09 13:59] #91 closed

[2020-06-09 14:10] czerwinskilukasz1 opened #97 "Dockerize the build process"
Following the message on [AskQL Discord channel](https://discord.com/channels/688128418914500838/704117328735895662/719163313849892886), dockerizing building process would help avoid OS-specific issues, like different commands on Windows vs. Linux or Mac.

[2020-06-09 14:19] mhagmajer commented on #93
Hmm... maybe we can figure out a way for Jest to use TypeScript files directly or create another temporary directory with built dependencies for Jest. Thoughts?

[2020-06-09 14:26] czerwinskilukasz1 commented on #95
Some additional notes from Discord:

If you wish to retest a certain .ask file after changing TypeScript files of the you can just do
`npm tsc:test src/askscript/__tests__/00-getting-started/getting-started-01.ask`

If you wish to retest after making changes to the AskScript parser (at src/askscript/parser/askscript.grammar.pegjs) you can do:
`npm build:test src/askscript/__tests__/00-getting-star

[2020-06-09 14:32] czerwinskilukasz1 opened #98 "Implement tests for 'remote' block"
Currently all tests for `remote` are marked as not implemented.
 ![image](https://user-images.githubusercontent.com/12752520/84160509-8c963480-aa6e-11ea-936f-392b52dfd632.png)

What is needed is running a server (or a mock server) during the tests which would respond on the code from the `remote` block.

[2020-06-09 14:34] czerwinskilukasz1 opened #99 "'remote' should accept arguments"
While it's possible to run a **procedure** (a parameterless function) on a remote server, e.g. a factorial of a hardcoded number, it's not possible to pass any parameters, e.g. factorial of n.

[2020-06-09 14:37] czerwinskilukasz1 opened #100 "Output pegjs grammar as Typescript"
Following a note on [AskQL Discord channel](https://discord.com/channels/688128418914500838/704117328735895662/719608328228962375), it would make our build process easier, if the pegjs parser was written in Typescript instead of Javascript.
There is a [ts-pegjs plugin to pegjs](https://github.com/metadevpro/ts-pegjs). How about we consider using it?

[2020-06-09 16:13] mhagmajer commented on #100
This is related to https://github.com/xFAANG/askql/issues/93. If we fix that one, it will be easy to fix this as well.

[2020-06-09 17:44] Tuhaj commented on #51
We need to add here more description, it is hard to find out the scope of the task and not clear where to begin @mhagmajer

[2020-06-09 17:53] xfaang-ci opened #101 "No link to CONTRIBUTING.md from README.md"
https://github.com/xFAANG/askql/blob/master/README.md
has missing link to:
https://github.com/xFAANG/askql/blob/master/CONTRIBUTING.md

[2020-06-09 18:52] kgajowy opened #102 "Contribution Guide - avoid a need to configure github CLI"
[code]
This step from contribution guide can be avoided as long as we add
[code]
to `.prettierc` or config file.

[Source](https://prettier.io/docs/en/options.html#end-of-line)

// Willing to take this on.

[2020-06-09 18:58] kgajowy opened #103 "Contribution Guide - missing flow / policies of contribution"
It would be nice to add some policy on how one can contribute to the following cases:
* Existing issue. Should I post a comment under issue and wait for some `approval`? How one can ensure that when wants to work on some issue, someone isn't already on it?
* Is this allowed to do some minor changes in batch?
* To what degree should the contribution be agreed on (before implementation) in case of

[2020-06-09 19:03] kgajowy opened #104 "Build - pin dependencies"
Currently, dependencies are not pinned to a particular version. It may cause serious issues, as some breaking changes may happen even in `patch` updates. To ensure that every build remains the same, even if dependencies have not changed, we should pin them by removing `^` from `package.json` (and of course updating `.lock`).
Otherwise, it may happen that triggering the very same build on different

[2020-06-09 19:17] kgajowy opened #105 "Build & Release - Conventional Commits & Changelog"
This suggestion may be potentially breaking for the current system but I believe it is worth the initial effort.

Issues/Automation to address:
* force conventional commits (`git-cz`)
* generate changelog using commits messages
* easier release

[A helper for newcomers to this standard](https://github.com/commitizen/cz-cli) - would be useful for new contributors to reduce the initial effort to get

[2020-06-09 19:26] YonatanKra commented on #102
@kgajowy
Great idea! We already have prettier in the project. Send a PR!

[2020-06-10 07:54] czerwinskilukasz1 commented on #51
The scope of this task is to adapt the pegjs parser to accept the new 'int[]' syntax in addition to the current one.
As for the details of the syntax change proposal, we need to ask for Marcin's explanation and examples.

[2020-06-10 07:59] czerwinskilukasz1 commented on #104
@kgajowy , pinning dependencies and running a Dependabot sounds like a great idea :)
Given your experience, would you like to take care of it?

[2020-06-10 09:26] czerwinskilukasz1 commented on #103
My proposals of the answers:

Case 1. The issue is already assigned.
Basically, the assigned person is responsible for fixing the issue. If you would like to contribute to the same issue, communicate with the Assignee.

If the assigned person doesn't seem to be active anymore (e.g. they suddenly stopped writing new comments in the issue after a period of increased activity and they don't answer on

[2020-06-10 09:27] czerwinskilukasz1 commented on #103
Please take a look at the previous commits and PRs and use your best judgement :)

[2020-06-10 09:32] czerwinskilukasz1 commented on #103
The worst case which could happen if you work on a breaking change is your PR gets rejected or heavily criticized for obvious flaws or for not being aligned with the current direction.
Probably the biggest the change is, the more useful it is to consult it with other. We hope to be a community of developers supporting the common goal, so let's use this power and ask, no pun intended :)

The Boy Sc

[2020-06-10 09:33] czerwinskilukasz1 opened #107 "Add a PR template"
Mentioned in #103, moving it here.

[2020-06-10 09:34] czerwinskilukasz1 commented on #103
@mhagmajer , anything you would like to phrase differently?

[2020-06-10 09:38] mhagmajer commented on #103
@Tuhaj initially added this file

[2020-06-10 09:48] czerwinskilukasz1 commented on #105
Hi Kamil,

Thanks for suggesting improvements :)

I am for it.    Conventional Commits + a hook for Github checking commit's format + `commitizen` package.

I would put it on hold for the next two releases.

This is related to your proposed change to the branch flow, automatic versioning etc.
I would put it on hold for the next two releases.

Rationale:
AskQL is a new repo and I expect its number

[2020-06-10 09:48] czerwinskilukasz1 commented on #105
@mhagmajer , what are your thoughts?

[2020-06-10 09:51] #102 closed

[2020-06-10 09:55] czerwinskilukasz1 opened #108 "Create an AskScript Playground"
We would like to let visitors on askql.org try programming in Ask as soon as possible.
The idea is to create a playground - an editor where a visitor can write or paste, instantly run AskScript and get the result.

[2020-06-10 10:11] czerwinskilukasz1 opened #109 "husky warning about using 'git add'"
When running `git commit`, I am getting a husky warning:

[2020-06-10 10:17] kgajowy commented on #104
@czerwinskilukasz1
Sure, feel free to assign me.

It's worth to mention, that existing PR would need to be carefully checked to avoid adding dependencies with `^`.

Dependabot would need to be added by one of core developers (its a github app)

[2020-06-10 17:31] czerwinskilukasz1 opened #113 "Add lessThanOrEqual (<=) resource in addition to an existing lessThan (<)"
There is src/askvm/resources/math/lessThan.ts, which is very good but there should also be lessThanOrEqual.

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our Discord Community and let us know there. We will be very happy to help you start! :)

Cheers,
Łukasz (@czerwinskilukasz1)
AskQL Core Developer

[2020-06-10 19:51] czerwinskilukasz1 opened #116 "Add a memory limit to AskVM"
Apart from operations limit it would be great to assert memory usage and limit it to a value set in a config file.

[2020-06-10 19:51] czerwinskilukasz1 opened #117 "Add a stack size limit to AskVM"
Stack size for AskScript programs should be limited. The value should be configurable in a config file.

[2020-06-10 20:42] czerwinskilukasz1 opened #118 "Prettier fails when committing .askcode or .askjson files"
![image](https://user-images.githubusercontent.com/12752520/84316505-8d60c080-ab6b-11ea-8ffd-ce16d1d02324.png)

[code]

[2020-06-11 09:27] SebastianWesolowski opened #119 "Create new comunication chanel - discourse"
https://www.discourse.org/ is a self-service hub of common questions, interesting ideas, and useful discussion.

I saw this idea on https://discourse.roots.io

They use discourse for user whos use their tools. But github issue only for bug, task and devloping project

[2020-06-11 09:35] SebastianWesolowski opened #120 "Expand Contributing guidelines by add Global .gitignore file configuration"
Add information in Contributing guidelines about Global .gitignore file configuration.

example set of ignore file:
https://gist.github.com/jacobtomlinson/aace65a6920e44348d501da5e13a5a17

~~My propose file extension is add specific macOS file:~~
~~add .DS_Store~~

[2020-06-11 09:59] mhagmajer commented on #119
I like the idea of creating a Q&A platform for the community. Discourse is cool. Let's compare different options and their respective impact for the growing AskQL community.

**Stack Overflow**
Known and widely used platform for questions and answers related to programming. Someone [with at least 1500 reputation could create a tag for AskQL](https://stackoverflow.com/help/privileges/create-tags) f

[2020-06-11 10:41] czerwinskilukasz1 commented on #119
@mhagmajer , I would say Stack Overflow is a great idea and we should definitely answer questions that people ask on AskQL there. _However_, wouldn't it be nice to have a dedicated forum for users anyway?

[2020-06-11 10:50] mhagmajer commented on #119
Yes, dedicated forum is nice and I'm just listing options at this point. I think that whatever platform we choose, it would be more efficient for the community if there is just one that we officially support and recommend. I proposed Stack Overflow because with tags it can provide a pleasant scoped environment - see Meteor for example https://stackoverflow.com/questions/tagged/meteor

[2020-06-11 10:58] czerwinskilukasz1 commented on #108
As Marcin mentioned to me in a private message, as for frontend, this editor looks cool.
In addition, VS Code uses it for syntax coloring, so we could re-use syntax coloring plugin
https://microsoft.github.io/monaco-editor/

I'm saying: yes, this sounds great :).  And it's on MIT license, so we can freely reuse it.

[2020-06-11 11:08] czerwinskilukasz1 opened #121 "NEWS.md is not updated and its purpose is unclear"
As of now, it is stated in CONTRIBUTING that NEWS.md should be used with every commit. However, it has almost never been used so far.
My proposal is that Core Developers use it to announce new releases (both minor and major ones) with a changelog of most important updates.

[2020-06-11 11:13] czerwinskilukasz1 opened #122 "CONTRIBUTING.md needs some polish"
As of now, [CONTRIBUTING.md](https://github.com/xFAANG/askql/blob/2b7b779dfc397da1f5de1fef2def1892d56b013f/CONTRIBUTING.md) is not accurate (misses the `npm run build` step, advises to add every change to NEWS.md and other) and misses a guide on choosing the right issue to work on and discussing bigger issues with the community.

[2020-06-11 11:15] czerwinskilukasz1 commented on #120
Hi @SebastianWesolowski , good to see you here :)
I fully support, would you like to submit a PR?

[2020-06-11 11:20] #104 closed

[2020-06-11 15:54] #122 closed

[2020-06-11 16:12] czerwinskilukasz1 opened #124 "A function defined in environment Values returns null instead of a string"
Here is my environment:

[code]

While
[code]
returns correctly `"Hi, this is your Ask server"`,

both
[code]

and
[code]
return `null`.

Expected:
`helloD` should return a function object, while `helloD()` should return a string.

![image](https://user-images.githubusercontent.com/12752520/84406513-ed0da900-ac09-11ea-96f4-12fe47cd1f03.png)

![image](https://user-images.githubusercontent.com/12752

[2020-06-11 16:18] mhagmajer commented on #124
I suggest disallowing proving functions in values - we have resources for this kind of thing. Let's make this issue about throwing a runtime error if someone tries to add a function as value. Thoughts?

[2020-06-11 16:44] czerwinskilukasz1 opened #125 "for doesn't seem to execute the body"
When this program is executed:
[code]

it returns
`Hello`

instead of
`Hello :) :) :) :) :)`

[2020-06-11 16:45] mhagmajer opened #126 "Add issue template for bug report"
https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-06-11 16:45] czerwinskilukasz1 opened #127 "while doesn't seem to execute the body"
Executing the program:

[code]

[2020-06-11 16:46] mhagmajer opened #128 "Add issue template for feature request"
https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-06-11 16:56] emklim opened #129 "Assigned value is discarded when exiting an inner scope"
[code]
returns `Hello`
instead of `!`

[2020-06-11 16:57] czerwinskilukasz1 commented on #129
Seems like a new value is discarded when exiting an inner scope, @mhagmajer ?

[2020-06-11 16:59] mhagmajer commented on #129
Very interesting. Let's make sure that our test cases cover it. Thanks!

[2020-06-11 18:04] czerwinskilukasz1 opened #130 "Implement immutable.js features"
Make immutable.js accessible from AskScript. This would greatly enhance the language.

[2020-06-11 18:06] czerwinskilukasz1 opened #131 "for...in doesn't seem to execute the body"
Executing the following program:
[code]

should lead to an error as `itemPrices` does not exist and is not defined as resource or value either.
Instead, this program returns 0.

[2020-06-11 18:13] czerwinskilukasz1 opened #132 "for...of doesn't seem to execute the body"
Executing the following program:
[code]
should lead to an error as itemPrices does not exist and is not defined as resource or value either.
Instead, this program return 0.

[2020-06-11 18:20] czerwinskilukasz1 opened #133 "for doesn't initialize the i variable"
Executing the following program
[code]

results in an error:
`Error: Unknown identifier 'i'!`

Expected: program run successfully and returns true

[2020-06-11 18:23] mhagmajer commented on #130
Yes, good idea. Since Immutable.js is JavaScript specific, let's integrate it into another JavaScript specific package - https://github.com/xFAANG/askql/issues/61

[2020-06-11 18:24] czerwinskilukasz1 opened #134 "Add greaterThan (>) resource, similar to an existing lessThan (<) resource"
There is src/askvm/resources/math/lessThan.ts, which is very good but there should also be greaterThan.

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our [Discord Community](https://discord.gg/pYdzypH) and let us know there.  We will be very happy to help you start! :)

Cheers,
Łukasz (@czerwinskiluka

[2020-06-11 18:26] czerwinskilukasz1 opened #135 "Add greaterThanOrEqual (>=) resource, similar to an existing lessThan (<) resource"
There is src/askvm/resources/math/lessThan.ts, which is very good but there should also be greaterThanOrEqual.

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our Discord Community and let us know there. We will be very happy to help you start! :)

Cheers,
Łukasz (@czerwinskilukasz1)
AskQL Core Develope

[2020-06-11 18:29] czerwinskilukasz1 opened #136 "Add a 'logicalOr' resource (|| binary operator)"
There are some operators in AskVM, e.g. 'lessThan' resource (< operator) (src/askvm/resources/math/lessThan.ts), but we are missing logical operators, like 'or' resource (|| operator).

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our Discord Community and let us know there. We will be very happy to h

[2020-06-11 18:31] czerwinskilukasz1 opened #137 "Add an 'and' resource (&& binary operator)"
There are some operators in AskVM, e.g. 'lessThan' resource (< binary operator) (src/askvm/resources/math/lessThan.ts), but we are missing logical operators, like 'and' resource (&& operator).

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our Discord Community and let us know there. We will be very ha

[2020-06-11 19:14] czerwinskilukasz1 opened #138 "for executes its body only once"
The following program:

[code]
run in AskQL cli outputs:

[code]

Instead of just `0`,
[code]
was expected.

[2020-06-11 19:26] czerwinskilukasz1 opened #139 "Implement a unary operator !, linked to the existing 'not' resource"
`not` resource lives here: https://github.com/xFAANG/askql/blob/master/src/askvm/resources/core/not.ts

[2020-06-11 19:36] czerwinskilukasz1 opened #140 "Inconsistent get/set behavior for Values defined on the server"
On a server with `score` Value defined if I run:
[code]
I get `6`. However if I run next:
[code]
I still get `5`.

I suggest one of the following:
1. Preserve the new value of the Value.
1. Prohibit assigning new values to the Value and throw an error.

[2020-06-11 19:47] km4 commented on #135
Try catch this issue :)

[2020-06-11 21:07] czerwinskilukasz1 opened #142 "Use Jerryscript to run AskVM"
In order to run current AskVM on small devices, we should use the lightest possible Javascript engine.
I think [Jerryscript](https://github.com/jerryscript-project/jerryscript) is a good candidate.

JerryScript is a lightweight JavaScript engine for resource-constrained devices such as microcontrollers. It can run on devices with less than 64 KB of RAM and less than 200 KB of flash memory.

[2020-06-11 21:08] czerwinskilukasz1 opened #143 "Rewrite AskVM to C"
Currently AskVM is written in Typescript/Javascript, which is quite slow.
It would be nice to rewrite it to C one day (or *transpile* it).

[2020-06-12 05:54] SebastianWesolowski commented on #119
@mhagmajer, I'm sure Stack Owerflow has a better infrastructure and question and answer tool.

But my experience with discourse is easier to introduce, and start writing in small group.

Additional profit from such a solution is easier move user to main page (discourse.askql.org -> askql.org)

Of course it only my thinking. I don't insist on it tool ;)

[2020-06-12 08:15] czerwinskilukasz1 opened #145 "Run AskVM on jerryscript"
[Jerryscript](https://github.com/jerryscript-project/jerryscript) is a lightweight JavaScript engine for resource-constrained devices such as microcontrollers. It can run on devices with less than 64 KB of RAM and less than 200 KB of flash memory.

It seems to me a great way to run AskVM on small and IoT devices.

[2020-06-12 08:16] #145 closed

[2020-06-12 08:28] czerwinskilukasz1 commented on #143
As for transpiling it, I made a small research and there is a number of projects aiming at Javascript -> C transpilation, however all of them are covering only a small subset of ECMAScript 2015, not to mention more recent versions.

- https://github.com/andrei-markeev/ts2c (70% of *ES3*, meaning ECMA-262, 3rd edition, year 2000)
- https://github.com/NectarJS/nectarjs (15-20% of ES2015)
- https://b

[2020-06-12 09:53] kgajowy commented on #120
@czerwinskilukasz1 Just wondering if this should happen. Repository .gitignore should relate only to given project artifacts (like dist), instead of what potential developers environment might add (like `.idea` depending on IDE and similar).
I know it is a common practice but it should be the case for every developer to have local settings of `.gitignore` to avoid bloating this file with hundreds

[2020-06-12 10:22] czerwinskilukasz1 commented on #145
Duplicate.

[2020-06-12 10:25] czerwinskilukasz1 commented on #143
The author is showing that qjsc compiler can compile Babel and Typescript from .js files - I consider it a strong argument for the compiler. A patch is needed for the .js files to be compiled, but there are only a couple of functions in the patch.
So definitely worth trying.

[2020-06-12 10:45] czerwinskilukasz1 commented on #129
Just added a test in this PR, which obviously fails:
https://github.com/xFAANG/askql/pull/147

[2020-06-12 10:46] czerwinskilukasz1 commented on #29
@mhagmajer , what's the update on this ticket?

[2020-06-12 13:03] czerwinskilukasz1 commented on #120
@kgajowy , thanks for your vigilance.  I totally forgot about the existence of .gitignore_global file!
Good point.

@SebastianWesolowski, kgajowy posted a sample minimal example above, which could work for you.
For a bigger set of ignores, take a look at: https://gist.github.com/jacobtomlinson/aace65a6920e44348d501da5e13a5a17
Do you see any reason for not using .gitignore_global for .DS_Store?

[2020-06-12 13:17] mhagmajer opened #148 "Fix false positive tests"
Some test have invalid `expectedResult`. This issue is about auditing all tests and fixing those.

[2020-06-12 13:22] czerwinskilukasz1 commented on #148
Yes, let's remove files .test.result.ts for all such tests.

[2020-06-12 13:23] czerwinskilukasz1 commented on #148
Please create issues for all such functionalities and list them here. Some of them already exist (e.g. issue with while).

[2020-06-12 13:24] mhagmajer commented on #148
I'm going to write down here existing issues that are covered with these false positive tests.

[2020-06-12 13:30] mhagmajer opened #149 "Move AskScript documentation.to Markdown and commit it in this repo"

[2020-06-12 13:31] czerwinskilukasz1 opened #150 "Unify test names"
Currently some of the tests are prefixed with 'program-', some with the name of the functionality.
Some of the numbers are out of order.

Let's order it.

[2020-06-12 13:39] mhagmajer opened #151 "Repurpose `00-documentation-examples` as a tutorial learning for AskScript"

[2020-06-12 13:43] mhagmajer opened #152 "Follow all recommended community standards"
<img width="766" alt="Screenshot 2020-06-12 at 15 42 23" src="https://user-images.githubusercontent.com/2731042/84508950-5d2c3580-acc3-11ea-89d4-406f0ab6eb35.png">

https://github.com/xFAANG/askql/community

[2020-06-12 20:05] czerwinskilukasz1 opened #153 "Run tests in an order"
Currently, tests are run by jest in a random order, so it's difficult to trace which tests were run from each directory.
It would be great to run them in some order (e.g. alphabetical by path).

![image](https://user-images.githubusercontent.com/12752520/84541878-93d07300-acf8-11ea-9196-e3fa6fd13f8f.png)

[2020-06-12 20:14] czerwinskilukasz1 opened #154 "Add `test` and `expect` resources for fast and concise testing 🔧"
The following program should fail when run in CLI, however it succeeds.
Moreover, the log() function doesn't seem to be called. I assume the whole function to test is not run at all.

This is a fast and concise way to define tests, it would be great if this worked soon.

[code]

[2020-06-12 20:16] czerwinskilukasz1 commented on #154
There is a related issue: #66

[2020-06-12 20:24] czerwinskilukasz1 commented on #137
@mhagmajer , do you have any comments on the name of the resource?

[2020-06-12 20:24] czerwinskilukasz1 commented on #136
@mhagmajer , do you have any comments on the name of the resource?

[2020-06-12 20:26] czerwinskilukasz1 commented on #151
Following our conversation today, we still want to have these files as a part of our test suite.

[2020-06-12 20:37] czerwinskilukasz1 commented on #139
@mhagmajer , do you have any comments on the name of the resource?

[2020-06-12 20:45] czerwinskilukasz1 commented on #107
It's a part of #152

[2020-06-12 20:46] czerwinskilukasz1 commented on #126
It's a part of #152

[2020-06-12 20:46] czerwinskilukasz1 commented on #128
It's a part of #152

[2020-06-12 20:55] czerwinskilukasz1 commented on #94
Hi @YonatanKra.
It seems to me the pattern is correct - jest just seems to be using glob patterns instead of regex patterns.

A Proof :)
1. Per [this Jest page](https://jestjs.io/docs/en/configuration#testmatch-arraystring), glob patterns are used and  [micromatch](https://github.com/micromatch/micromatch) package handles them.
2. Per [this section for micromatch](https://github.com/micromatch/mic

[2020-06-12 20:58] czerwinskilukasz1 commented on #74
OK, closing this one.

[2020-06-12 20:58] #74 closed

[2020-06-13 10:24] #134 closed

[2020-06-13 13:07] km4 commented on #135
PR on https://github.com/xFAANG/askql/pull/141

[2020-06-13 14:29] SebastianWesolowski commented on #120
@kgajowy yes you have right, it is a common practice. I usualy add exclude this file.

global ignore is the best practice. What about people who don't have a configured globalignore file ?

It was usually add exclusion better for a project to  than to suggest best practices. in my work, it worked.

I have no experience with a project where more than 4 developers have worked. Is that very important

[2020-06-13 16:28] mhagmajer commented on #120
I back up what @kgajowy said here. We can add gitignore global instructions in contributing.md

[2020-06-13 20:30] mhagmajer commented on #136
This is the resource for logical alternative - accepts two booleans as arguments and returns a boolean. In JavaScript there is also bitwise alternative (OR) - done with the `|` operator. This would be another resource in AskScript. I don't know of other useful implementations of logical alternative that we might want to add on other data types. Also, we can have several aliases for resources. If w

[2020-06-13 20:31] mhagmajer commented on #137
`booleanAnd`? Let's go with the outcome to discussion in https://github.com/xFAANG/askql/issues/136

[2020-06-13 20:32] mhagmajer commented on #44
@czerwinskilukasz1 what did you mean by assigning me to an issue that was closed already?

[2020-06-13 21:17] mhagmajer commented on #154
Oh, man, you've just said that AskScript:
- is a fast and concise way to define tests
- it would be great if this worked soon

when compare to the current language that we use - TypeScript ❤️

[2020-06-13 21:45] mhagmajer commented on #154
@czerwinskilukasz1 what do you think about this sugar:

[code]

[2020-06-13 22:50] mhagmajer opened #156 "Interesting formatting of code in a documentation format on Sage website"
https://doc.sagemath.org/html/en/tutorial/_sources/tour_algebra.rst.txt

[2020-06-13 22:59] mhagmajer commented on #154
I'm gonna get it ready for the release on Monday

[2020-06-13 23:16] mhagmajer commented on #153
@czerwinskilukasz1 did you see https://jestjs.io/docs/en/cli.html#--runinband ? As we made AskScript a language that Jest can understand we can now enjoy all the CLI options of Jest, another open source MIT project in JavaScript :)

[2020-06-13 23:46] mhagmajer commented on #156
Let's stick with Markdown because it's already supported and the one I was showing previously doesn't seem to have more features - just different syntax.

[2020-06-13 23:46] #156 closed

[2020-06-14 00:40] mhagmajer commented on #152
Let's also write down that we use tags, milestones and assignments for issues and what they mean. If there is more clarity it will be easier to give and read arguments and make decisions and move forward

[2020-06-14 00:44] mhagmajer commented on #154
@czerwinskilukasz1 the fact that this program works in CLI comes from the fact that there is value `test` in the environment that returns `5`, not because tests are not implemented correctly. There are no resources for `test` so when you evaluate `test(arg)` you just receive the value `test`. Please consider updating the description

[2020-06-15 12:48] SebastianWesolowski commented on #120
I didn't look at the problem from this perspective.

Writing instructions on how to configure global gitingore file is better solution.

I be happy to write that instruction. Shall I continue in this thread or create a new issue?

[2020-06-15 13:11] mhagmajer commented on #120
@SebastianWesolowski you can continue here, just rename the issue and update the description please :)

[2020-06-15 14:38] #61 closed

[2020-06-15 18:12] km4 commented on #135
@czerwinskilukasz1 @mhagmajer We can close this issue :)

[2020-06-15 18:22] mhagmajer commented on #135
Thanks @km4!

[2020-06-15 18:22] #135 closed

[2020-06-15 19:36] km4 commented on #118
We can add *ask* files to `.prettierignore`. Unfortunately all the tests with `*.askjson` and `*.askcode` extension cant pass in prettier.

[code]

[2020-06-16 04:42] YonatanKra commented on #153
@czerwinskilukasz1 running the tests in the same order is not such a good practice.
Running the tests in random order prevents test writers from writing tests that depend on each other.

[2020-06-16 10:41] czerwinskilukasz1 commented on #120
@SebastianWesolowski , thanks for the contribution.
It's a good idea to link the PR with the issue, either by writing "closes #<issue id>" in the PR description (the word "closes" or [another closing word](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue) is crucial), or by linking it manually on the PR page or the issue page:
![image](https://user-

[2020-06-16 10:42] czerwinskilukasz1 commented on #120
Also, linking the PR before merging it automatically closes the issue :)

Thanks for the contribution, we wish for more! :D

[2020-06-16 10:42] #120 closed

[2020-06-16 10:56] czerwinskilukasz1 opened #165 "Add a linter to lint-staged"
It will be great to have a linter check before committing files.

I would vote for eslint as it:

1. works with Typescript
1. is well-known
1. is well-supported
1. works with Prettier

Any comments?

Pointers:
- Add eslint and TS plugins ([see this page](https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration))
- Integrate with Prettier ([see this page](https://prettier.io/docs/e

[2020-06-16 10:59] czerwinskilukasz1 opened #166 ".ask tests should be run by default"
@km4 wrote on [Discord channel](https://discord.com/channels/688128418914500838/704117328735895662/721036181147615284):

The reason is that the .ask test is _parsed only_.  It will be run only if an additional *.test.result.ts file with an expected result value is provided.

I also found it confusing and vote for running the .ask programs every time, no matter whether *.test.result.ts exists or no

[2020-06-16 11:04] mhagmajer commented on #166
Duplicate of https://github.com/xFAANG/askql/issues/154, https://github.com/xFAANG/askql/pull/114

[2020-06-16 11:21] czerwinskilukasz1 opened #167 "Prettier fails when committing .gitignore"
[code]

[2020-06-16 11:41] #118 closed

[2020-06-16 11:46] czerwinskilukasz1 commented on #166
It's not a duplicate.

[2020-06-16 11:53] #167 closed

[2020-06-16 12:32] czerwinskilukasz1 opened #170 "Don't commit .askjson and .askcode anymore"
Following a discussion on [Discord channel](https://discord.com/channels/688128418914500838/704117328735895662/722427091210993714), eventually, once we get to certain level of stability, we could replace .askjson and .askcode with some unit tests and stop commit these files.

This is a task for the future, several things need to happen before we consider doing it.

[2020-06-16 12:42] czerwinskilukasz1 opened #171 "Create a real application using AskQL"
It would be great to have a sample site (with the data queried through AskQL) and the source code made available within a repo, so that users can see AskQL in the code of a real life project.

[2020-06-16 12:43] czerwinskilukasz1 commented on #171
@mhagmajer , this is what David suggested to me.
@mhagmajer , @YonatanKra, when do you think we should create such thing?

[2020-06-16 12:55] czerwinskilukasz1 commented on #43
FYI I got back to working on this one.

[2020-06-16 12:56] czerwinskilukasz1 commented on #148
@mhagmajer , what is the current status of this ticket?

[2020-06-16 13:00] mhagmajer commented on #148
I'll get this done today

[2020-06-16 13:08] czerwinskilukasz1 commented on #43
@mhagmajer , would you rather see useFor():
1) as a regular function on AskScript and AskJsx levels (meaning it is called via `call` resource and only then a `useFor` resource is used) or rather
2) it should rather be translated directly to a `useFor` resource before reaching AskVM?

The advantage of 1) is easier implementation, however checks that the lambda is used correctly (e.g. there is only

[2020-06-16 13:12] mhagmajer commented on #43
I would opt for #1 since `callFor` can be implemented using call (has ongoing issues). I'll answer about other questions later today

[2020-06-16 13:41] czerwinskilukasz1 commented on #43
OK, I'll do so.

[2020-06-16 13:41] czerwinskilukasz1 commented on #43
By the way, `useFor` or `callFor`?

[2020-06-16 14:18] czerwinskilukasz1 opened #172 "query examples in AskQL Overview don't work"
The following examples from [AskQL Overview](https://www.notion.so/AskQL-Overview-c95f3370be104466bfb3e3bca3ce7db4#6fb40d115c21468ca48e42c756d66b17) don't work:

[code]

[code]

[2020-06-16 14:20] czerwinskilukasz1 commented on #172
I propose just removing formatString and adapting the 2nd example a bit.

[2020-06-16 15:04] czerwinskilukasz1 commented on #46
@mhagmajer, what's the status of this one?
If it's not very advanced, I could take it because it's blocking my fix for lambda (#43 ).

[2020-06-16 15:11] mhagmajer commented on #46
@czerwinskilukasz1 I already havr a draft PR as you can see that I'm going to finish today. There is a lot of other issues including your work on the terminal that you can do

[2020-06-16 15:15] czerwinskilukasz1 commented on #108
OK, working on this one.

[2020-06-16 15:29] czerwinskilukasz1 commented on #108
@mhagmajer , according to [this issue](https://github.com/microsoft/monaco-editor/issues/1762), syntax highlighting in VS Code uses TextMates parsers which Monaco Editor uses JS regexes, at least for Python.
Do you have additional information on syntax coloring in these editors?

[2020-06-16 15:31] czerwinskilukasz1 commented on #43
Blocked on #46 .

[2020-06-16 15:38] mhagmajer commented on #108
@czerwinskilukasz1 I haven't looked into it. Whatever VS Code uses for syntax highlighting can support many programming languages so should be able to support AskScript as well

[2020-06-16 16:03] czerwinskilukasz1 commented on #108
Of course.

[2020-06-16 16:15] czerwinskilukasz1 commented on #56
This article might be useful.
The guy creates his own extension with syntax coloring for a language:
https://dev.to/ronsoak/i-built-my-own-vs-code-syntax-highlighter-from-scratch-and-here-s-what-i-learned-1h98

[2020-06-16 16:21] czerwinskilukasz1 commented on #108
What I wanted to is that VS Code uses a different syntax coloring method, so we can't reuse syntax coloring from Monaco Editor.
More info: [1](https://stackoverflow.com/questions/56254150/how-do-textmate-grammars-and-themes-work-with-vscode), [2](https://stackoverflow.com/a/44761887/330067)

[2020-06-16 16:24] czerwinskilukasz1 commented on #108
Here are official [examples of syntax coloring in Monaco](https://github.com/microsoft/monaco-languages) and here's [a playground](https://microsoft.github.io/monaco-editor/monarch.html).

[2020-06-16 16:29] czerwinskilukasz1 commented on #153
@YonatanKra , yeah, OK, I can see your point.
However, we still need to make sure they are independent by checking the newly created code.
Otherwise they might fail only when run in _some_ order, while succeeding when run in a different order.
How would you address it?

[2020-06-16 16:34] czerwinskilukasz1 commented on #44
@mhagmajer , I couldn't find a closed issue I was looking for by assignee and realized some of the closed issues were not assigned at all, so I fixed it.

[2020-06-16 16:36] czerwinskilukasz1 commented on #136
I'm fine with `booleanOr` if we have an operator for it.

[2020-06-16 18:45] mhagmajer commented on #172
@czerwinskilukasz1 can you elaborate on "don't work"? What environment did you run these examples with and what was the expected and received output?

[2020-06-16 18:47] km4 commented on #165
I can take this issue. Maybe someone can pick me some hint ;)

[2020-06-16 18:47] mhagmajer commented on #171
Well, the demo server is a good server for such application. Seems like we just need a demo front-end. Playground is a good candidate there. I saw you did some work on http://cli.askql.org:3000/, what are your plans with it @czerwinskilukasz1 ?

[2020-06-16 18:49] mhagmajer commented on #166
Why do you think this is not a duplicate @czerwinskilukasz1? What new problems does this issue cover? Our test suit very explicitly says whether or not ask files were run. I have explained that already in https://github.com/xFAANG/askql/pull/114#issuecomment-643696740

[2020-06-16 18:51] mhagmajer commented on #153
Let's just not create tests that are dependant on each other. We can check this in a review process and also it's checked by CI that runs tests in parallel so it assumes that they don't have such dependencies. I think this one should be closed.

[2020-06-16 19:26] czerwinskilukasz1 commented on #172
@mhagmajer

### Example 1.
Error in our [AskScript Playground](http://cli.askql.org:3000/): "Error: Unknown identifier 'formatString'!"

![image](https://user-images.githubusercontent.com/12752520/84818569-01411400-b017-11ea-88a6-1ead9e0d9a30.png)

This is the only place where `formatString()` is mentioned and there is no special environment mentioned, so it should be a built-in resource.

Therefo

[2020-06-16 19:27] czerwinskilukasz1 commented on #165
@km4 , great :)

[2020-06-16 19:29] czerwinskilukasz1 commented on #165
@km4
I wrote a couple of pointers in the description, which are basically a sketch of the solution:
- Add eslint and TS plugins ([see this page](https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration))
- Integrate with Prettier ([see this page](https://prettier.io/docs/en/integrating-with-linters.html))
- Add it to lint-staged ([see this page](https://github.com/okonet/lint-stag

[2020-06-16 19:34] czerwinskilukasz1 commented on #171
I think David's idea was more about some _real_ website or web application, with you know real button doing some _things_ (e.g. heavy calculation) or sending an Ask program to a server to sift through zillions of bytes of data.

[2020-06-16 19:35] czerwinskilukasz1 commented on #171
As for AskScript Playground, let's keep the conversation in one place: https://github.com/xFAANG/askql/issues/108

[2020-06-16 19:38] czerwinskilukasz1 opened #173 "Update design for AskScript Playground"
Polish the UI of the Playground a bit.

[2020-06-16 19:42] czerwinskilukasz1 commented on #108
The short term plan for 1.1. was:
- Create any well-working and reasonably looking Playground, which can be used to run AskScript programs.
This is done.

My long term plans for AskScript Playground is:

- Get design update from Kari
- Add more examples to the Playground
- Use Monaco Editor
- Add syntax highlighting (which is a separate task from adding syntax highlighting in VS Code)
- Consider a

[2020-06-16 19:50] czerwinskilukasz1 commented on #166
@mhagmajer , #154 is about adding new resources `test` and `expect` so that we can define test files entirely in AskScript.
As for your comment in #114, which you mentioned, it exactly describes the counter-intuitive behavior which I propose to change in the current ticket, which is:
If the .ask test file is defined, it should be executed.
#114 is about lessThan operator not about running .ask tes

[2020-06-16 19:56] #153 closed

[2020-06-16 20:39] mhagmajer commented on #166
Ok, I see. How about we don't report  "starts" and "compiles" tests if they are succesful and only do the "computes" test or show it as a todo for the entire suite?

[2020-06-16 20:48] km4 commented on #165
@czerwinskilukasz1 what extensions we should lint?

[2020-06-16 20:52] mhagmajer commented on #108
@czerwinskilukasz1 the playground server PR is still open and I there is none for the client. Code needs to be merged into this repo so that everyone can participate.

Please discuss any changes to milestones with me and align your plans with the milestones.

[2020-06-16 21:23] czerwinskilukasz1 opened #174 "Pretty print AskCode"
When debugging, reading long lines of AskCode programs is difficult.
Instead of reading
[code]
it would be much easier to read:
[code]

Implement a pretty-print for AskCode objects.

[2020-06-16 23:35] km4 commented on #165
@czerwinskilukasz check this out #177 and add some feedback.

[2020-06-17 08:49] czerwinskilukasz1 commented on #166
I am not sure what "starts" means, but "compiles" is an important test - it says that the parser & transpiler successfully created AskCode from AskScript, right?
So I support keeping both "compiles" and "computes".

[2020-06-17 08:58] mhagmajer commented on #174
Would prettier in JavaScript mode do the job here?

[2020-06-17 09:10] czerwinskilukasz1 commented on #174
@mhagmajer , I don't know.  How do you use it?

[2020-06-17 09:43] mhagmajer commented on #56
Unfortunately, this needs to be pushed to next cycle

[2020-06-17 13:58] mhagmajer opened #180 "Enforce conventional commit in the message of squashed commit using GitHub actions"

[2020-06-17 14:32] czerwinskilukasz1 commented on #108
Not sure what you mean as we are in constant contact.

Let me create a separate issue for each of the tasks in bullet points, so that we can assign them to milestones.

[2020-06-17 14:33] czerwinskilukasz1 opened #181 "Add more examples to the AskScript Playground"
The [Askscript Playground](http://cli.askql.org:3000/) has a couple of examples not but it will be great to add there 15-20 more, half of them showing different features of the language and half of them being complete programs doing "real things".

[2020-06-17 14:39] czerwinskilukasz1 opened #182 "Create an AskScript Playground from scratch"
The current editor is a giant hack, we want have clean and well-structured code, hence use the editor.
Some notes on the editor can be found here: https://github.com/xFAANG/askql/issues/108

[2020-06-17 14:40] czerwinskilukasz1 opened #183 "Create a repository for AskScript Playground"
Blocked on: [Use Monaco Editor in AskScript Playground](https://github.com/xFAANG/askql/issues/182)

[2020-06-17 14:41] czerwinskilukasz1 opened #184 "Add syntax highlighting to AskScript Playground"
Blocked on:

- [Use Monaco Editor in AskScript Playground](https://github.com/xFAANG/askql/issues/182)
- [Create a repository for AskScript Playground](https://github.com/xFAANG/askql/issues/183)

[2020-06-17 14:44] czerwinskilukasz1 opened #185 "AskScript Playground: Consider adding a window which allows to define own resources in Javascript"
Rationale:
AskVM works on _resources_ and on a real server it's possible to define own resources.
AskScript Playground is missing this feature, so how about we add a text field where user can define their resources in Javascript?
Note that this is potentially dangerous since the resources would be defined in Javascript and potentially a user could run arbitrary code, so we need a good discussion a

[2020-06-17 14:44] czerwinskilukasz1 commented on #108
Closing this one as done, the Playground is available at: http://cli.askql.org:3000/

Follow-ups are:

- [Update design for Askscript Playground](https://github.com/xFAANG/askql/issues/173)
- [Add more examples to the Playground](https://github.com/xFAANG/askql/issues/181)
- [Use Monaco Editor in AskScript Playground](https://github.com/xFAANG/askql/issues/182)
- [Create a repository for AskScript

[2020-06-17 14:52] czerwinskilukasz1 opened #186 "Introduce a mechanism for adding third-party AskVM resources"
Some of the resources on AskVM are built-in (like `if`, `call` or `query`), some of them are defined in [source code running the server](https://github.com/xFAANG/askql/blob/master/src/demoServer.ts), but there is no good way to add third-party packages of resources without modifying the existing source code.
Resources like:
- database access
- Facebook / GitHub / any other service API client
- pa

[2020-06-17 15:05] czerwinskilukasz1 commented on #183
The AskScript Playground will live here https://github.com/xFAANG/askql-playground

[2020-06-17 16:09] czerwinskilukasz1 commented on #125
Duplicate of https://github.com/xFAANG/askql/issues/138

[2020-06-17 16:09] #125 closed

[2020-06-17 16:48] czerwinskilukasz1 commented on #127
This issue is likely blocked by #129 .

[2020-06-17 16:48] czerwinskilukasz1 commented on #131
This issue is likely blocked by #129 .

[2020-06-17 16:48] czerwinskilukasz1 commented on #132
This issue is likely blocked by #129 .

[2020-06-17 16:48] czerwinskilukasz1 commented on #138
This issue is likely blocked by #129 .

[2020-06-17 20:00] czerwinskilukasz1 commented on #183
Done

[2020-06-18 05:43] YonatanKra commented on #129
@mhagmajer
I dug a little into the runner.
It seems like that `c = '!'` redeclares `c` with a `let`.
When running @czerwinskilukasz1 's test, I get this object:
[code]
In the statements inside `fun.ts` `compute` method.
Since it is a scoped `let` statement, it is, well... scoped :)

[2020-06-18 12:46] mhagmajer commented on #108
Reopening since the linked PR is still open.

[2020-06-18 12:51] mhagmajer commented on #174
AskCode syntactically is a subset of JavaScript and TypeScript. When you run prettier on a JavaScript file containing the the code from description you get this:

[code]

This looks good enough to me - further customisation can be achieved with [options](https://prettier.io/docs/en/options.html). Let's not create custom implementation for formatting AskCode since prettier seems to do it already. Y

[2020-06-18 12:53] mhagmajer commented on #166
If we keep both compiles and computes and only compiles passes and computes is todo then the related .ask test suite will be shown as PASS ✅  as currently. I haven't checked by maybe if the only test is todo, then the entire suite is also show as TODO which could help with the confusion you have raised here.

[2020-06-18 12:53] czerwinskilukasz1 commented on #108
Closing https://github.com/xFAANG/askql/pull/87.

[2020-06-18 12:54] czerwinskilukasz1 commented on #108
And closing this ticket.

[2020-06-18 12:54] #108 closed

[2020-06-18 12:55] mhagmajer commented on #136
Let's keep well-known JS/C operators

`logicalOr` - `||`
`bitwiseOr` - `|`

[2020-06-18 13:07] mhagmajer commented on #186
@czerwinskilukasz1 here's how you can add a third-party AskVM resource:

[code]

I have just tested it with the production version 1.0.2

[2020-06-18 13:10] #113 closed

[2020-06-18 15:18] YonatanKra commented on #129
Ok - the magic happens at `fun.ts`: https://github.com/xFAANG/askql/blob/master/src/askvm/resources/core/fun.ts#L12
It creates a new scope for the function, but does not take into account variables created in parent scope(s) (like `b` in the test).

[2020-06-19 08:56] czerwinskilukasz1 opened #187 "AskScript Playground: instead of sending AskScript send AskCode"
Current Playground is sending AskScript to the server and server is parsing it to AskCode and then executing.
What would show the idea of AskQL even better is to parse AskScript to AskCode in the browser and then send AskCode to the server, which is what would happen in real communication with an AskQL server. This requires adding AskScript parser to the Playground _frontend_.

[2020-06-19 09:02] YonatanKra commented on #129
@mhagmajer  @czerwinskilukasz1
Summary of my above rumbling:
Currently, the language has no way of knowing if you want to use the external scope or the internal one. So it just assumes you are using `let`, and thus creates a new scope for every `block`.
Do we want to allow this way of notifying weather it is a new `let` or just an assignment?

[2020-06-19 09:06] mhagmajer commented on #129
@YonatanKra, the bug is related to the fact that we treat assignment and declaration of a new variable the same way - https://github.com/xFAANG/askql/blob/master/src/askjsx/lib/Set.tsx#L31. Currently in AskJSX `Set` stands for `let [...] = [...]` and `Assign` for `[...] = [...]`. We need to treat them differently.

[2020-06-19 09:10] YonatanKra commented on #129
@mhagmajer
So the bug is that b = 4 is treated as `let`?

[2020-06-19 09:17] mhagmajer commented on #129
@YonatanKra yes, I have cut corners here and there when rushing to release 1.0 💁

[2020-06-19 09:26] YonatanKra commented on #129
@mhagmajer bad you!!! ;)
Thing is - `b = 2` at the top is considered `let` as well. Should it be an error? Or does the language "swallow" such a thing, because `b` was never declared, it will be declared on first assignment?

[2020-06-19 09:28] mhagmajer commented on #129
@YonatanKra I think we should throw a runtime error on when someone attempt to assign value to a undeclared variable. It's the same like trying to read an undeclared variable - we throw in that case already

[2020-06-19 09:31] czerwinskilukasz1 opened #188 "Add small Askscript Playgrounds to documentation"
[Kotlin documentation](https://kotlinlang.org/docs/reference/basic-syntax.html) and some other languages have mini playgrounds inlined in their documentation:
![image](https://user-images.githubusercontent.com/12752520/85118174-43897180-b220-11ea-8bc2-1a19a74af4d7.png)

Would be nice to create them for AskScript documentation too.

[2020-06-19 09:31] czerwinskilukasz1 commented on #188
I think neither documentation on Notion nor documentation in README.md on Github allows such snippets, so we would need to build a separate webpage with documentation first.

[2020-06-19 11:17] czerwinskilukasz1 commented on #182
During my research it turned out that Monaco Editor does not support mobile devices.
Also, Monaco Editor uses a completely different syntax highlighting than VS Code, so we'd need to implement it twice anyway, hence not much benefit from picking Monaco Editor.
Also, Playground should be playable on smartphones.

My pick is Ace editor, which is used in Cloud9, Amazon cloud-based IDE - so strong sup

[2020-06-19 11:46] mhagmajer commented on #182
I'm not concerned about people not being able to type code from their mobile devices.

Can you explain how exactly? I'm confused because it says on the Monaco Editor website that "The Monaco Editor is the code editor that powers VS Code". I would assume that the VS Code uses all its features including the code highlighting.

Sure. Playing save code examples should not require people to do any code

[2020-06-19 11:59] mhagmajer commented on #188
[Markdown allows snippets of code](https://guides.github.com/features/mastering-markdown/#examples). This more the matter of rendering Markdown into HTML while replacing all code blocks with playgrounds

[2020-06-19 12:11] mhagmajer commented on #183
@czerwinskilukasz1 how are you planning on assuring the quality of this code when you commit it into a separate repo. We already have measure in this one such us prettier, linter and tests to assure quality. I'm also concerned that by adding another repo it will be more difficult for us to manage the entire project and its deployments. I'd prefer to continue going in the direction of monorepo here

[2020-06-19 12:16] mhagmajer commented on #185
Resources are the way to integrate AskVM with the host environment so that programs that run in AskVM can make use of these. If you want to add custom routines in playground you can do so by defining a function with the `fun` resource. What's the value of allowing the playground users add custom resources? Wouldn't that be allowing them run arbitrary JS code on directly in Node?

[2020-06-19 13:50] czerwinskilukasz1 commented on #182
I am. I think we shouldn't lock ourselves with an editor which doesn't support mobile if there are other editor doing a better job.

Could you trust me on this one?

[2020-06-19 13:54] czerwinskilukasz1 commented on #183
@mhagmajer Playground frontend is connecting AskQL backend and askql.org frontend. Both of them are separate repos, also AskQL backend repo is, well, backend, so I thought keeping Playground frontend separately would prevent introducing too much complexity in one repo.
What are your thoughts?

[2020-06-19 13:54] #46 closed

[2020-06-19 14:13] mhagmajer commented on #183
AskQL.org is a website where we would like to use the playground, yes. That does not mean that the code for playground frontend should go into that repo or its own repo. In my opinion it should go into the main project repo because of the arguments I listed in the previous comment.

I'm not sure what you are referring to as "AskQL backend repo". We have this one monorepo with all the quality measu

[2020-06-19 14:34] czerwinskilukasz1 commented on #183
Ok, thanks, I will add it to the main repo then.

[2020-06-19 14:55] czerwinskilukasz1 opened #191 "demoServer.ts should accept AskScript instead of AskCode"
The variable askScriptCode in https://github.com/xFAANG/askql/blame/master/src/askExpressMiddleware/askExpressMiddleware.ts#L20 suggests AskScript should be accepted but actually the server throws syntax errors for AskScript programs, while accepting AskCode.

[2020-06-19 15:15] czerwinskilukasz1 commented on #185
@mhagmajer, it is exactly what I wrote above.

As I wrote in the comment above:

The resources on AskVM are defined in Javascript not in AskScript, so your solution wouldn't provide the experience.

[2020-06-19 15:33] czerwinskilukasz1 commented on #166
@mhagmajer, I think we are diverging from the point I wanted to make in this issue.
I am saying that if a developer provides an .ask test file, it might be completely incorrect and it will still pass if only it parses correctly from AskScript to AskCode, e.g. use undeclared identifiers, undeclared functions etc.
My proposal is to *execute* every ask test file and make sure it succeeds even if we d

[2020-06-19 15:36] #68 closed

[2020-06-19 15:37] mhagmajer commented on #68
@Tuhaj  The outstanding issues regarding `call` have been fixed. I assume your code is in AskScript not AskCode, in this case the valid code for what you're doing is:

[code]

And it produces the expected answer:

[code]

[2020-06-19 15:43] mhagmajer commented on #191
@YonatanKra would you mind taking a look at this?

[2020-06-19 15:44] mhagmajer commented on #191
It should be pretty simple fix anyway, @czerwinskilukasz1, feel free to take it

[2020-06-19 15:47] mhagmajer commented on #166
How do you propose to execute AskScripts that expect arguments? We are also planning to be gradually migrating from TypeScript to AskScript in this repository. How do you envision this working then?

[2020-06-19 15:50] mhagmajer commented on #185
Thanks for clarifying. I think we should not do this because it would allow people using playground to run JavaScript code against a backend and we cannot guarantee safety this way. As the AskQL matures there will be fewer and fewer reasons to write custom resources anyway - you'll just use the existing ones for most everyday use cases.

[2020-06-19 16:01] mhagmajer commented on #182
Can you give some examples of programming language playgrounds that officially support editing code on mobile phones and tablets?

The argument for Monaco Editor was precisely that it would save us work down the road. I'm still curious why you think that it "uses a completely different syntax highlighting than VS Code" while it is advertised as "The Monaco Editor is the code editor that powers VS

[2020-06-19 16:02] #183 closed

[2020-06-19 16:11] YonatanKra commented on #191
@mhagmajer
I'll take this one. It is clear when you look at the tests (a.k.a. the live documentation) but the variable name is misleading. I see the test file requires a small cleanup as well.

[2020-06-19 16:18] mhagmajer commented on #34
Works on master. Closing

[2020-06-19 16:18] #34 closed

[2020-06-19 16:38] mhagmajer commented on #142
Good observation. Is this actionable for us in this repo or is it something that we could add to documentation? We only depend on Node environment for node specific resources in https://github.com/xFAANG/askql/tree/master/src/askvm/resources/node. Except Node and JerryScript there are other interesting JS runtimes such us Deno and web browsers.

[2020-06-19 16:51] km4 commented on #165
If some problem with this code just feel free to call me 💪

[2020-06-19 16:56] mhagmajer commented on #43
Just to give you a small pointer, this now works in the CLI:

[code]

[2020-06-19 16:58] mhagmajer commented on #165
@czerwinskilukasz1 feel free to close this one as you see fit

[2020-06-19 18:02] czerwinskilukasz1 commented on #166
Who is "we" in "We are also planning" if we two haven't talked about it neither did we discussed any Github issues related to this topic?

[2020-06-19 18:03] czerwinskilukasz1 commented on #185
Fine, I agree that when the ecosystem matures, people could use ready-to-made resources more and more often.

[2020-06-19 18:03] #185 closed

[2020-06-19 18:07] czerwinskilukasz1 commented on #182
According to Wikipedia, the main features are identical:
https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licences
Also, a number of sources are saying that in most cases they are equal.
What are the most important differences you have in mind?

[2020-06-19 18:11] czerwinskilukasz1 commented on #182
I was also surprised.

Here is a couple of links which treat about this topic:
- https://stackoverflow.com/questions/56254150/how-do-textmate-grammars-and-themes-work-with-vscode
- https://github.com/NeekSandhu/monaco-textmate/issues/5
- https://stackoverflow.com/a/44761887/330067

[2020-06-19 18:14] czerwinskilukasz1 commented on #142
I think I couldn't understand your questions. Could you rephrase it?

[2020-06-19 18:19] #165 closed

[2020-06-19 19:02] km4 opened #192 "Add pre requirement to package.json"
Now we have small pre requirement on this moment. Maybe we can add the this pre requirements to package.json ?

[2020-06-19 19:38] mhagmajer commented on #192
What is the pre requirement?

[2020-06-19 19:40] km4 commented on #192
@mhagmajer https://github.com/xFAANG/askql#prerequisites :)

[2020-06-19 19:42] mhagmajer commented on #192
@km4 oh yes, sure, if this can be said in package.json let's do it

[2020-06-19 19:43] km4 commented on #192
ok, challenge accepted:P

[2020-06-19 19:54] mhagmajer opened #194 "Let's make common build errors easy to spot"
If we divide our workflows https://github.com/xFAANG/askql/blob/master/.github/workflows/askql-ci.yaml into multiple jobs run sequentially it will be easier for UI to say what caused the problem without having to look at the log of build

[2020-06-19 20:07] mhagmajer commented on #192
Thanks @km4 and good luck 💪

[2020-06-19 20:24] km4 commented on #192
@mhagmajer we have some pre requirement version for npm ? we can add too

[2020-06-19 20:25] mhagmajer commented on #192
I don't know about specific requirements, the Node version was picked at LTS for convenience. Wr use Node mostly for build tools

[2020-06-20 10:09] mhagmajer commented on #182
Thanks for the reference! I was able to pull up these suggestions from [a discussion group](https://groups.google.com/forum/#!topic/ballerina-dev/wNP46LRQGgQ):

For the vscode plugin we use [Textmate](https://macromates.com/manual/en/language_grammars) grammar.

Do you think it would make sense to keep code highlighting definitions in one format and then automatically convert it into any other for

[2020-06-20 10:30] mhagmajer commented on #182
I found some comparisons between Ace and Monaco Editor:
- ["The "bones" of Monaco are more robust and modern,"](https://github.com/Microsoft/monaco-editor/issues/19#issuecomment-228620925)
- ["TextMate isn't sufficient for many languages."](https://github.com/microsoft/vscode/issues/216)
- [suggestion to replace Ace with Monaco in Umbraco CMS for ASP.NET](https://github.com/umbraco/Umbraco-CMS/iss

[2020-06-20 19:31] YonatanKra commented on #170
I do not believe these files need to be committed - they can be just placed in `.gitignore`. They are being auto-generated on every test run anyway...
What do you think? Would that be a good solution?

[2020-06-20 20:43] mhagmajer opened #200 "Simplify call(get('get'),'n') in generated AskCode"
1.  See that `call(get('get'),'n')` is the same as `get('n')`.
2. Search for *.askcode files that have this pattern.
3. Generalise this simplification.
4. Document it and create a PR for it.
5. Figure out how our test runner works for *.ask files.
6. The area to fix is either askjsx or the askscript prettier plugin.

[2020-06-20 21:04] #129 closed

[2020-06-20 22:02] #127 closed

[2020-06-20 22:02] czerwinskilukasz1 commented on #129
Congratulation, Ewa @emklim ! :). Your issue request was solved and merged! :D 🚀

[2020-06-21 15:33] mhagmajer commented on #170
@YonatanKra @czerwinskilukasz1 let's come up with a long .ask file that uses all of our constructs and lets commit snapshots only for this file. This way we keep most value of snapshots while decluttering PRs. Who's up for it?

[2020-06-21 20:02] mhagmajer commented on #53
Closing in favour of https://github.com/xFAANG/askql/issues/170

[2020-06-21 20:02] #53 closed

[2020-06-21 20:10] mhagmajer commented on #66
Closing as a duplicate of https://github.com/xFAANG/askql/issues/154

[2020-06-21 20:10] #66 closed

[2020-06-21 20:12] mhagmajer commented on #119
Seems like GitHub and Discord currently works out with our scales. All new comers can ask questions using GitHub issues. If this doesn't work for as then we can revisit this discussion - Discourse vs SO vs anything else.

[2020-06-21 20:15] mhagmajer commented on #166
If AskScript is better than TypeScript+GraphQL than it would be beneficial for us to migrate. I remember bringing this up already.

What is actionable here except https://github.com/xFAANG/askql/issues/154?

[2020-06-21 20:45] km4 commented on #192
I close this issue. Work is merged.

[2020-06-21 20:45] #192 closed

[2020-06-21 20:46] mhagmajer commented on #166
I have that checked that Jest shows test suite as PASS even if its only test is "todo"

[2020-06-22 10:13] Fifciu commented on #51
I could take care of that. I understand it is Peg.js related - I browsed code. However, I need some tips and methods to test it well.

[2020-06-22 11:01] mhagmajer commented on #51
@czerwinskilukasz1 can you help here?

[2020-06-22 12:07] mhagmajer commented on #29
Marking this as a release blocker to support running playground safely

[2020-06-22 13:06] mhagmajer opened #209 "Allow providing values and resources in the same input environment object"
More context: https://github.com/xFAANG/askql/blob/v1.1.0/src/askvm/lib/run.ts#L29

[2020-06-22 19:12] #54 closed

[2020-06-22 21:18] mhagmajer commented on #131
See https://github.com/xFAANG/askql/pull/212 for reference

[2020-06-22 21:18] mhagmajer commented on #132
See https://github.com/xFAANG/askql/pull/212 for reference

[2020-06-22 21:22] mhagmajer commented on #174
I have run into some issue regarding use of reserver keywords such as `if` and `while` when trying to run javascript prettier against .askcode file. I still think we should write a custom prettier plugin to deal with this though.

[2020-06-22 22:33] mhagmajer commented on #52
Assuming https://github.com/xFAANG/askql/pull/212 is merged, let's make

[code]

be as easy as

[code]

[2020-06-23 11:28] czerwinskilukasz1 opened #213 "Implement a swap resource"
@mhagmajer [mentioned](https://github.com/xFAANG/askql/pull/212#discussion_r443865988) that swapping 2 indices of the array can be done this way:

`
arr = arr:set(j, arr:at(i)):set(i, arr:at(j))
`

How about we simplify it even more and introduce `swap`?
It could work the following way:

1. For arrays:
`
swap(arr, i, j)
`

2. For objects:
`
swap(obj, key1, key2)
`

As for variables, not sure if we

[2020-06-23 11:32] mhagmajer commented on #213
I think this is more matter of a useful function to be defined in user space than something we should support explicitly on the vm level. What arguments are there for actually doing this?

[2020-06-23 11:40] czerwinskilukasz1 opened #214 "Prevent dependabot from upgrading patch versions"
A number of PRs from dependabot regard a patch update, meaning from A.B.X to A.B.Y, which is a minor fix, e.g. here: https://github.com/xFAANG/askql/pull/207
It would be great if it created PRs only for major and minor updates in version number (A and B).

[2020-06-23 11:41] czerwinskilukasz1 commented on #214
Following https://github.com/xFAANG/askql/issues/104, @kgajowy , could you take a look at it?

[2020-06-23 11:41] mhagmajer commented on #213
Also I feel like "swap" is a little confusing given that it produces a new array other than making any changes to the referenced one

[2020-06-23 11:50] mhagmajer commented on #214
A.B.X -> A.B.Y is actually a PATCH upgrade according to semantic versioning. Some of those may actually fix some bugs in our dependencies. Maybe we should just decrease the frequency of running dependabot? Thoughts?

[2020-06-23 11:50] czerwinskilukasz1 commented on #174
How much time do you need to write it and how big the prettier plugin would be? The plugin for AskScript is over 200 lines of code.

[2020-06-23 12:02] mhagmajer commented on #174
@czerwinskilukasz1 the plugin for AskCode would be much simpler - it's AST consists only of AskCode instances and simple values

[2020-06-23 12:51] Fifciu commented on #51
I am taking it

[2020-06-23 13:07] czerwinskilukasz1 commented on #51
Great, congrats, Filip :)
Feel free to ask questions here or contact with us on our [Discord channel](https://discord.gg/pYdzypH).

[2020-06-23 13:07] czerwinskilukasz1 commented on #51
Filip, by the way, didn't you want to work on https://github.com/xFAANG/askql/issues/52 instead? ;) @Fifciu

[2020-06-23 13:13] Fifciu commented on #51
Nope. However, as both are about synthetic sugar - maybe it will be my next step :)

![image](https://user-images.githubusercontent.com/30155292/85407503-94240600-b563-11ea-8f85-d66a01646132.png)

[2020-06-23 13:20] czerwinskilukasz1 commented on #51
Cool :)

[2020-06-23 13:22] czerwinskilukasz1 opened #215 "Add a logging solution to Playground backend"
mhagmajer mentioned better logging for Playground backend and suggested http://github.com/winstonjs/winston

Let's discuss it here.

[2020-06-23 14:40] czerwinskilukasz1 commented on #174
@mhagmajer How much time do you need to write it?

[2020-06-23 14:42] mhagmajer commented on #174
@czerwinskilukasz1 I don't, this is not planned for any release yet so I haven't looked into it. Do you this should be done soon?

[2020-06-23 14:43] czerwinskilukasz1 commented on #214
Thanks Marcin - "patch" was the word. Updated a title and description.

If there were any bugs, we could always fix them manually, but honestly, how often do you bump into a bug in libraries?  Even more, how often does a patch version fix exactly this bug at the moment you bumped into it? I'd say it's very rare.
By switching to monthly updates though, we would risk not applying security updates fo

[2020-06-23 14:47] czerwinskilukasz1 commented on #213
"swap" is the name you used, @mhagmajer
![image](https://user-images.githubusercontent.com/12752520/85418280-e4ee2b80-b570-11ea-9ff0-31dc381b057e.png)
We could find a better word later on, I am asking about the functionality itself, not the wording.

Swapping variable values is a common operation and it's very repetitive. By having such a swap feature built in we would make AskScript a bit more fr

[2020-06-23 14:49] mhagmajer commented on #214
@czerwinskilukasz1 from my experience semantic versioning isn't really respected very often. Maybe we can have package level policies for dependabot?

[2020-06-23 14:57] czerwinskilukasz1 commented on #166
@mhagmajer , please read my previous messages from this ticket.

[2020-06-23 14:57] czerwinskilukasz1 commented on #119
Agreed.

[2020-06-23 14:59] czerwinskilukasz1 commented on #182
Yes, I wrote already about this in my previous answers.

[2020-06-23 15:10] czerwinskilukasz1 commented on #174
@mhagmajer OK, so how about we proceed with my PR?

[2020-06-23 15:12] czerwinskilukasz1 commented on #214
From my experience, I can't see critical security issues fixed in patch versions.
What are your examples of such projects, @mhagmajer ?

[2020-06-23 15:13] #138 closed

[2020-06-23 16:00] czerwinskilukasz1 commented on #133
Seems solved with https://github.com/xFAANG/askql/pull/212/

[2020-06-23 16:01] #133 closed

[2020-06-23 16:03] czerwinskilukasz1 commented on #72
Seems fixed with https://github.com/xFAANG/askql/pull/212

[2020-06-23 16:03] #72 closed

[2020-06-23 16:30] czerwinskilukasz1 opened #216 "Should we migrate Playground frontend from Handlebars to React?"
Marcin suggested [here](https://github.com/xFAANG/askql/pull/196#discussion_r443121616) that we use React instead of Handlebars.

[2020-06-23 16:31] mhagmajer commented on #174
Sure, I added comments. Can we keep this issue open after merging your PR for writing the actual prettier plugin?

[2020-06-23 16:32] mhagmajer commented on #72
Right, thanks for noticing!

[2020-06-23 16:32] czerwinskilukasz1 commented on #216
My opinion is that we need in Playground frontend a _very light_ templating system, so Handlebars, which are the minimal templating system, sounds like a good fit.

[2020-06-23 16:35] czerwinskilukasz1 opened #217 "Should we support running askvm on client side in Playground frontend?"
Marcin suggested [here](https://github.com/xFAANG/askql/pull/196#pullrequestreview-435944831) that we run AskVM on frontend side instead of sending the code to the backend.

[2020-06-23 16:36] mhagmajer commented on #214
@czerwinskilukasz1 this is just my general experience with JavaScript development. I'm okay this change. Interested to hear out what @kgajowy has to say about this too

[2020-06-23 16:38] mhagmajer commented on #217
I think this is a possibility - AskQL allows you to run your code on any server - local browser, demo backend server and so on, so it would be cool if the playground supported that as well

[2020-06-23 16:40] czerwinskilukasz1 commented on #217
My opinion, as I already mentioned in issue https://github.com/xFAANG/askql/issues/187, is that one of the aims of Playground is to show how AskQL works in a real project.
In a real project, AskCode would get parsed on client side to AskCode and then be sent over to the server, which would run the AskCode program and sent back the result.

So Playground should send real HTTP requests with AskCode

[2020-06-23 16:41] mhagmajer commented on #216
I see playground project as something that we will develop similarly to how [GraphiQL](https://github.com/graphql/graphiql) has been developed offering people cool development and debugging feature that go beyond the code editor itself. React is the best I know for this job. Would also be interested to give a try to https://github.com/hybridsjs/hybrids

[2020-06-23 16:46] czerwinskilukasz1 commented on #216
What are the advantages of hybrids your care most about?

[2020-06-23 16:53] czerwinskilukasz1 opened #218 "There is another package.json file in src/"
This is our main package.json file:
https://github.com/xFAANG/askql/blob/master/package.json

And this is the package.json file I think we should remove:
https://github.com/xFAANG/askql/blob/master/src/package.json

[2020-06-23 16:54] czerwinskilukasz1 commented on #218
@mhagmajer FYI

[2020-06-23 16:55] mhagmajer commented on #216
Hybrids is a new project, also claim to be functional by design as are we. I thought it would make sense to look for integration of these two. React with Hooks is also functions now.

As reference for an argument for React https://github.com/securingsincity/react-ace

[2020-06-23 16:59] mhagmajer commented on #218
@czerwinskilukasz1 this should be file automatically generated for publishing to NPM only, not a source code

[2020-06-23 22:33] mhagmajer commented on #119
We should however make it more encouraging for people to ask us question with GitHub issues. Maybe a direct link from askql.org and/or README.md to ask a question by posting an issue?

[2020-06-23 22:36] mhagmajer commented on #166
@czerwinskilukasz1 yes, I have red it and I still don't understand why you think that the test suite should run all .ask files in this repository or how would it do it - some programs require arguments. Very soon part of our source code (including tests) will be in AskScript itself.

[2020-06-24 10:30] czerwinskilukasz1 commented on #29
@DavidSampson , thank you a million for posting this issue.
We created a PR which resolves it and would be thrilled if you could comment on our solution: https://github.com/xFAANG/askql/pull/220

[2020-06-24 11:47] #191 closed

[2020-06-24 13:00] czerwinskilukasz1 opened #221 "Fix configuration for lint-staged"
Following [this comment thread](https://github.com/xFAANG/askql/pull/189#discussion_r444349317), prettier and eslint shouldn't fail on unsupported file extensions.
We should review our configuration for these tools in lint-staged.

[2020-06-24 13:01] czerwinskilukasz1 commented on #221
@km4 , would you like to take a look?

[2020-06-24 13:09] km4 commented on #221
Look at after my work

[2020-06-24 19:06] km4 commented on #221
@czerwinskilukasz1 can you paste the output from lint-staged?
I switch to your branch, change to default rules on lint-staged ("*"), and all were passed correctly.

[code]

@mhagmajer have some problems with lint-staged?

[2020-06-25 14:06] czerwinskilukasz1 opened #222 "Custom resources no longer accessible"
Between Jun 16 and Jun 21 AskVM stopped supporting custom resources.

Steps to reproduce:
Add to `cli.ts` the following snippet:

[code]

and change:
[code]
to:
[code]

For commit `2bca44`, Tue Jun 16 14:34:31 2020 +0200 CLI works as follows:
[code]

But for commit `f8793d1` aka `v1.1.0`, Sun Jun 21 00:04:04 2020 +0200 instead of the resource CLI returns:
[code]

[2020-06-25 14:06] czerwinskilukasz1 commented on #222
@mhagmajer , was there any breaking change to the resource definition?

[2020-06-25 14:47] mhagmajer commented on #222
@czerwinskilukasz1 yes, when you reference `hello` being a resource like this you now get back a function, not the result of calling it. I needed to make this change to fix https://github.com/xFAANG/askql/pull/178. This only concerns referencing resources for value (aka "getting"), not calling them which is our main use case. That's why I wouldn't call it a breaking change. We have often used it f

[2020-06-25 14:48] mhagmajer commented on #222
You need to do `hi()`

[2020-06-25 14:51] czerwinskilukasz1 commented on #222
Got it, this is the change, thanks.

[2020-06-25 14:51] #222 closed

[2020-06-25 15:04] czerwinskilukasz1 commented on #69
@mhagmajer , #46 is fixed but `toString` behaves even worse - it throws an Uncaught Error: `Cannot call null`.

![image](https://user-images.githubusercontent.com/12752520/85745211-d127fe00-b705-11ea-8b11-1bed15dcabea.png)

[2020-06-25 16:18] YonatanKra opened #224 "See that the middleware throws error on bad askcode and askscript"

[2020-06-25 16:21] #218 closed

[2020-06-25 16:53] czerwinskilukasz1 commented on #224
@YonatanKra , I would vote for having a flag for the middleware, which will determine, whether AskScript, AskCode or both languages (and in which order) are used to parse & execute the code.

[2020-06-25 17:12] czerwinskilukasz1 commented on #221
The issue was handing .handlebars file:

![image](https://user-images.githubusercontent.com/12752520/85766693-97f88980-b717-11ea-9141-a00bf0b608e5.png)

I submitted an issue to prettier, it's open so far: https://github.com/prettier/prettier/issues/8631

[2020-06-25 17:53] czerwinskilukasz1 commented on #166
I am not sure what you mean as we already have a mechanism for providing arguments to .ask programs: `.test.args.ts` files.
And I doubt people would add new tests that require arguments without providing them.

When were you planning to do the conversion?

[2020-06-25 18:00] mhagmajer commented on #69
@czerwinskilukasz1 this problem is only related to `toString`, probably due to name clash with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/toString, I checked that other resources like `lessThan` work correctly

[2020-06-25 18:07] mhagmajer commented on #224
@czerwinskilukasz1 why not just allow function expression at the top level of AskScript?

[code]

[2020-06-25 18:11] YonatanKra commented on #224
@czerwinskilukasz1 it is possible, and much easier to implement.
It would probably be better for performance (you would not have to parse to code to see if it is valid for AskCode in case you are sending AskScript).

@mhagmajer - what do you say?

[2020-06-25 19:54] czerwinskilukasz1 commented on #69
Indeed, `hasOwnProperty` results in the same error.

![image](https://user-images.githubusercontent.com/12752520/85788992-1f50f780-b72e-11ea-8dd8-d9ad94aa65ee.png)

I didn't know we allow accessing Javascript properties straight from AskVM.  Is it safe?

[2020-06-25 19:54] km4 commented on #216
Why React? maybe Vue :P
If we don't go to create the best playground at this moment we can stay with Handlebars

[2020-06-25 19:55] mhagmajer commented on #224
@YonatanKra I would support AskCode expression is top level of AskScript because this works in CLI already as shown above

[2020-06-25 20:01] czerwinskilukasz1 opened #228 "Calling a method named the same as an Object.prototype method results in a 'Cannot call null' error"
Examples:
[code]
and other from Object.prototype

return in an error:
`Uncaught Error: Cannot call null`

![image](https://user-images.githubusercontent.com/12752520/85789441-e36a6200-b72e-11ea-9228-97023ab9fd64.png)

[2020-06-25 20:01] mhagmajer commented on #69
@czerwinskilukasz1 we use object as the data structure for resources map. When you create an object in JavaScript using `{}` it derives all properties of `Object.prototype`. To avoid that you can use `Object.create(null)` but people really do as this is less convenient API

[2020-06-25 20:01] czerwinskilukasz1 commented on #69
Closing this one because #46 fixed the issue and opening a new one now:
https://github.com/xFAANG/askql/issues/228

[2020-06-25 20:01] #69 closed

[2020-06-25 20:02] czerwinskilukasz1 commented on #228
Following our conversation in https://github.com/xFAANG/askql/issues/69:

Me:

mhagmajer:

[2020-06-25 20:04] km4 commented on #217
I think @czerwinskilukasz1 has a good point. If we working on real HTTP we can show all value of Askql at this moment.

[2020-06-25 20:07] czerwinskilukasz1 commented on #224
I think we shouldn't mix these two languages. They have different syntax, different logic and different semantics.
What's the benefit?

[2020-06-25 20:09] km4 commented on #200
@mhagmajer only `call(get('get'),'n')` or all patern `call(get('get'),'.......')` ?

![image](https://user-images.githubusercontent.com/1108808/85790438-7f489d80-b730-11ea-9635-b12b415de34c.png)
vs
![image](https://user-images.githubusercontent.com/1108808/85790414-7657cc00-b730-11ea-9315-314f758994cd.png)

[2020-06-25 20:15] mhagmajer commented on #200
@km4 all, naturally :)

[2020-06-25 20:19] km4 commented on #200
@mhagmajer fine, assign this issue to me and I change all this whole `get()`

[2020-06-25 20:23] mhagmajer commented on #200
@km4 you got it 👏

[2020-06-25 20:25] mhagmajer commented on #224
@czerwinskilukasz1 why does it work in the CLI?

[2020-06-25 21:10] km4 commented on #200
@mhagmajer should be changed`const askScript = ask(f(call(get('toUpperCase'), call(get('get'),'hello'))));`in `/src/askExpressMiddleware/askExpressMiddleware.spec.ts` ? to `ask(f(call(get('toUpperCase'), call(get('hello')))));` ?

[2020-06-26 03:24] YonatanKra commented on #180
@mhagmajer
I've added a PR for this, but we do not have access token setup for the project, so it cannot work.
Could you please set it up?

[2020-06-26 11:52] #174 closed

[2020-06-26 12:02] czerwinskilukasz1 commented on #224
@mhagmajer CLI was always a tool for just quick checks in the terminal, so shortcuts and simplifications are understandable. In addition to that, we never displayed any promises which languages it would support or how it would react to errors.
On the other hand, Playground is aimed to be the most developers-friendly way to quickly write and check programs in AskScript. It's our front store, our be

[2020-06-26 12:20] czerwinskilukasz1 commented on #182
We should keep it open until PR https://github.com/xFAANG/askql/pull/196 is merged.

[2020-06-26 12:20] czerwinskilukasz1 opened #231 "Playground frontend: Browser doesn't refresh contents of CSS and JS files"
This ticket should be worked on only after PR https://github.com/xFAANG/askql/issues/182 is merged.

After CSS or JS is changed, force-refreshing (Cmd+Shift+R) is needed so the browser uses updated styles/scripts.

Possible solutions:

1. Support mtime on the server or other way of informing browser of updated files
2. If method 1 couldn't be used, add a timestamp parameter to each style/script fi

[2020-06-26 12:23] mhagmajer commented on #224
@czerwinskilukasz1 yes, sure. Let's observe that

[code]

in AskScript is the same as `ask([ask code program])` and `[ask code program]` in AskCode. That's why it would actually make it easier for people to be able to run this in AskScript as well.

In other words, what I'm proposing here is to have another top-level construct "name()" which allows calling a resource at the top-level of the progra

[2020-06-26 13:05] mhagmajer commented on #182
@czerwinskilukasz1 are we keeping Ace or Monaco here? You PR doesn't include code highlighting so at this point what are the arguments for Ace?

[2020-06-26 13:21] czerwinskilukasz1 opened #233 "Cannot run CLI with ts-node"
Running CLI with ts-node results in an error when executing any AskScript code: `Cannot find module './parser/askscript.grammar'`

ts-node + CLI is useful for speeding up debugging and implementing new features & resources.

[code]

[2020-06-26 13:23] mhagmajer commented on #233
That would be awesome! We would need `ts-node` to take care of compiling AskScript parser or just do this https://github.com/xFAANG/askql/issues/60

[2020-06-26 13:23] mhagmajer commented on #233
What's your plan on this @czerwinskilukasz1 ?

[2020-06-26 13:25] czerwinskilukasz1 commented on #233
It seems as a workaround one can run:
[code]

Which is enough for now. Removing v1.2 tag.

[2020-06-26 15:11] czerwinskilukasz1 commented on #105
@mhagmajer , any thoughts?

[2020-06-26 15:17] mhagmajer commented on #105
Agree with all this except for the merge strategy - let's enforce one PR per feature/bug - it makes reviewing easier and faster

[2020-06-26 16:09] czerwinskilukasz1 opened #235 "Add Google Analytics to Playground frontend"
This would help us see analytics, how many users use Playground and how long they spend on cli.askql.org

[2020-06-26 16:25] czerwinskilukasz1 opened #236 "Playground: Should we use Monaco Editor, Ace Editor or another one?"
Please see comment on editor at:

1. https://github.com/xFAANG/askql/issues/108
2. https://github.com/xFAANG/askql/issues/182

[2020-06-26 16:27] czerwinskilukasz1 opened #237 "Playground: move binary files to CDN"
As mhagmajer said in PR https://github.com/xFAANG/askql/pull/196#pullrequestreview-438254062:

[2020-06-26 16:39] czerwinskilukasz1 commented on #105
@mhagmajer Which message do you call "this"?

[2020-06-26 19:39] czerwinskilukasz1 commented on #132
I am implementing for...of for arrays and objects, such that:
[code]
will output:
[code]

and
[code]
will output:
[code]

@mhagmajer , do you have any additional needs?

[2020-06-26 19:42] mhagmajer commented on #132
That looks about right 👍. This should also work with `const`. The result of the entire block may be empty like with `while`. Please test that return/break works correctly

[2020-06-26 19:42] czerwinskilukasz1 commented on #131
I am implementing for...of for arrays and objects, such that:
[code]
will output:
[code]

and
[code]
will output:
[code]

@mhagmajer , do you have any additional requests?

[2020-06-26 19:43] mhagmajer commented on #132
@czerwinskilukasz1 also, please take a look at the `for` implementation and use it for reference - we probably don't need another resource for this and can implement it in AskJSX layer

[2020-06-26 19:44] mhagmajer commented on #131
Same as for-of. This should also work for strings I think

[2020-06-26 19:48] czerwinskilukasz1 opened #238 "'break' resource is missing"
commit: f527c5cb (master, the latest commit)

Steps to reproduce:

In CLI run:
[code]

Expected: runs successfully

Actual: `Uncaught Error: Unknown identifier 'break'!`

[2020-06-26 19:48] czerwinskilukasz1 commented on #132
@mhagmajer , what's the syntax for breaking from while?

[2020-06-26 19:49] mhagmajer commented on #132
@czerwinskilukasz1 should be `break` similar to `return`

[2020-06-26 19:49] czerwinskilukasz1 commented on #132
`Uncaught Error: Unknown identifier 'break'!`
Filing it as: https://github.com/xFAANG/askql/issues/238

[2020-06-26 19:51] mhagmajer commented on #238
This should be implemented similarly to `return`

[2020-06-26 19:52] czerwinskilukasz1 opened #239 "while always returns null"
`if` is essentially a `while` loop that is executed once at most, however return values for `if` and `while` are inconsistent.

If returns the value of its last statement as its value:
[code]

However while always returns null:
[code]

[2020-06-26 19:53] czerwinskilukasz1 commented on #132
Empty return value from `while` sounds inconsistent with `if`. Let's discuss it in issue https://github.com/xFAANG/askql/issues/239

[2020-06-26 20:03] czerwinskilukasz1 opened #240 "AskJsx resources are not commented at all"
Except for an example written without any explanation in Query.tsx, there is no single .tsx file in `src/askjsx/lib` which would have any comment on the purpose of the resource and its usage.
`Fragment`, `Fun`, `Let` and `Ref` are the resources for which I think comments are the most urgent.

![image](https://user-images.githubusercontent.com/12752520/85896267-74f1d680-b7f8-11ea-953d-99acfd8d677b.

[2020-06-26 20:16] mhagmajer commented on #240
Let's start with having some comments in code and then we can add descriptions as a property of the `resource` function so we have something that an easy documentation can be generated from

[2020-06-26 20:28] czerwinskilukasz1 commented on #132
While a regular `for` can be simply translated to a code block with the statements from for(.., .., ..) executed in the right places, for...of is far more complex and more type checking is needed (e.g. the value of `of` needs to be iterable, `key` should be a variable declaration etc., while quite general type definitions are used in Typescript definitions)

[2020-06-26 20:44] czerwinskilukasz1 opened #241 "operator == is missing"
[code]

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our [Discord Community](https://discord.gg/pYdzypH) and let us know there. We will be very happy to help you start! :)

Hint #1: implement in a similar way to [lessThanOrEqual](https://github.com/xFAANG/askql/blob/master/src/askvm/resources/math/ind

[2020-06-26 20:47] mhagmajer commented on #239
@czerwinskilukasz1  What is the use case for `while` returning a value? You can encapsulate each imperative construct in AskScript with a function.

The case of `if` is a little different because we merged `if` and the ternary operator `?:` from JavaScript, allowing `if` to return a value.

[2020-06-26 20:48] mhagmajer commented on #132
@czerwinskilukasz1 you should be able to do all that in AskJSX layer because a function in AskScript can be created to perform the for-of

[2020-06-26 20:49] mhagmajer commented on #241
Please not that because of data immutability and type awareness we won't need to have "strict equality" `===` operator in this language

[2020-06-26 20:52] mhagmajer commented on #240
BTW, set is used here

[code]
https://github.com/xFAANG/askql/blob/master/src/askjsx/lib/Let.tsx#L35

@czerwinskilukasz1 seems like eslint has a bug... or perhaps it doesn't understand JSX?

[2020-06-26 20:53] czerwinskilukasz1 commented on #132
Of course I _can_ create it in AskJSX, the only question is how complex it's going to be.

I think it's very complex, let me post it in Discord and discuss it there.

[2020-06-26 20:56] mhagmajer opened #242 "What are the types of compiler errors?"
What are the types of errors that `run` and `parse` can throw?

[2020-06-26 21:16] czerwinskilukasz1 opened #243 "while fails when iterating many times"
`while` works fine when it iterates a couple of times but at some number of iterations it fails. In the example below the number of iterations were between 64 and 65 000 times:

[code]

Run using commit f527c5c (master, the latest commit)

[2020-06-26 21:29] #182 closed

[2020-06-26 22:03] czerwinskilukasz1 commented on #231
Fixed by PR https://github.com/xFAANG/askql/pull/196

[2020-06-26 22:03] #231 closed

[2020-06-26 22:04] czerwinskilukasz1 commented on #209
@mhagmajer , could you explain what this ticket is about?

[2020-06-26 22:07] czerwinskilukasz1 commented on #172
Fixed documentation

[2020-06-26 22:07] #172 closed

[2020-06-26 22:11] czerwinskilukasz1 opened #244 "Add a 'bitwiseOr' resource (| binary operator)"
There are some operators in AskVM, e.g. 'lessThan' resource (< operator) (src/askvm/resources/math/lessThan.ts), but we are missing bit operators, like 'bitwiseOr' resource (| operator).

Please note that bitwiseAnd (& operator) is listed here: https://github.com/xFAANG/askql/issues/374

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinsk

[2020-06-26 22:11] czerwinskilukasz1 commented on #136
Moved `bitwiseOr` to https://github.com/xFAANG/askql/issues/244

[2020-06-26 22:20] mhagmajer commented on #132
Ideally we should write it in AskScript using while :)

[2020-06-26 22:32] czerwinskilukasz1 commented on #132
I think it would be easier to write it in AskScript than in AskJSX, but we would need to use additional temporary variables, so either we would need to reserve some identifiers for internal use only (e.g. starting with $), or we would risk having a name clash with user program.
Also, defining them in AskScript means they would be even slower than now, and I'd say speed is something we should start

[2020-06-26 23:14] mhagmajer commented on #132
@czerwinskilukasz1 declaration is something different than optimization. Maybe we should define it first and then think about optimization when we actually have some baseline?

[2020-06-27 07:27] czerwinskilukasz1 commented on #132
@mhagmajer , what about the first part of my comment about the variables - what's your call?

[2020-06-27 07:54] czerwinskilukasz1 opened #247 "npm run playground:build-ts should build only Playground-related files"
Currently `npm run playground:build-ts` runs `tsc` without any flags, which recompiles all the files, which is unintended, and takes 8-15 seconds.

What should happen is `tsc` should compile only files from `src/playground/` and output them to `dist/playground/`, while still using tsconfig.json for other flags.

[2020-06-27 08:01] czerwinskilukasz1 opened #248 "Provide a way to execute an .ask file from command line, including arguments"
If a user wanted to run their .ask file, they can use CLI or Playground and copy-paste the source code, which is inconvenient. Moreover, these methods don't support ask() arguments.
Another way is to run `npm run ask <.ask file path>`, but this command would only execute a script if user created also a file with expected return value. Moreover, if the user doesn't guess correctly the expected retu

[2020-06-27 08:02] czerwinskilukasz1 commented on #248
This is NOT a duplicate of https://github.com/xFAANG/askql/issues/166 or https://github.com/xFAANG/askql/issues/154

[2020-06-27 08:25] czerwinskilukasz1 opened #249 "Better testing"
As @YonatanKra wrote [here](https://github.com/xFAANG/askql/pull/199/files?file-filters%5B%5D=.ask&file-filters%5B%5D=.ts&file-filters%5B%5D=.tsx&file-filters%5B%5D=dotfile#r443155198):

[2020-06-27 08:39] czerwinskilukasz1 opened #250 "implement `mod` resource (% operator)"
If we have division and multiplication operators, we should also have a modulo operator. However, currently it does not exist.

[code]

This task is to create a `mod` resource and a `%` operator linked to this resource.

--

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our Discord Community and let us

[2020-06-27 08:49] czerwinskilukasz1 opened #251 "Adding strings returns incorrect results"
In CLI:
[code]

[2020-06-27 08:51] czerwinskilukasz1 opened #252 "Testing for errors shouldn't depend on the UI message"
Tests like
https://github.com/xFAANG/askql/blob/54346cdb33bc160600eb336592c92dbc0698f250/src/askscript/__tests__/90-misc/scope-02.test.ts
depend on a string content of a *message* displayed to a user instead of on *error type*.

[2020-06-27 08:54] czerwinskilukasz1 opened #253 "Multiple variable declarations in the same scope do not result in an error."
[code]

Expected:
Error - variable 'a' is already defined in this scope

Actual:
Success
[code]

[2020-06-27 08:56] czerwinskilukasz1 opened #254 "Assigning to a const does not result in an error"
[code]

Expected:
Error - cannot assign value to a const variable.

Actual:
[code]

[2020-06-27 09:01] czerwinskilukasz1 opened #255 "Variable from the caller are visible inside a called function"
This issue is related to variable scoping. Functions are treated the same as code blocks, which leads to unexpected behavior like this one:

[code]

Expected:
Error - Unknown identifier 'a'

Actual:
[code]

[2020-06-27 09:03] czerwinskilukasz1 commented on #255
Related to https://github.com/xFAANG/askql/pull/199

[2020-06-27 09:07] czerwinskilukasz1 commented on #243
Actually, when my program was:
[code]
it took only 53 000 iterations to fail:

[code]

[2020-06-27 09:12] czerwinskilukasz1 opened #256 "'while' loop consumes up to 2 GB of RAM"
After iterating 30-60 000 times when running the AskScript program (below) `node` process consumed up to 2GB of RAM.

[code]

[2020-06-27 09:26] czerwinskilukasz1 opened #257 "Implement extend resource create a new object with added property"
While we have a resource for setting a value in an array (`set` resource), I think we don't have such for objects.

It is up to discussion whether a new resource should be created or rather `set` should be extended to work for objects.

[2020-06-27 09:26] czerwinskilukasz1 commented on #257
@mhagmajer , any thoughts?

[2020-06-27 09:29] czerwinskilukasz1 opened #258 "'set' resource doesn't handle type mismatch"
When trying to use `set` on an object, it fails with an Uncaught TypeError: `arr.slice is not a function`.
We should add type validation and our own error handling.

[code]

[2020-06-27 09:46] mhagmajer commented on #258
`a:set('a', 'value')` is `set(a, 'a', 'value')` is `set({}, 'a', 'value')` is `{} = 'a'` so no wonder this throws. Error message should be more informative though

[2020-06-27 09:48] mhagmajer commented on #257
Because of data mutability we need to support `extend` for objects.

[code]

should return `{ firstName: 'John', lastName: 'Smith' }`

[2020-06-27 09:49] mhagmajer commented on #256
@czerwinskilukasz1 thanks Łukasz, this is a great report!

[2020-06-27 09:50] mhagmajer commented on #243
@czerwinskilukasz1 thank you Łukasz for testing it so well!

[2020-06-27 09:51] mhagmajer commented on #255
Very good test!

[2020-06-27 09:53] mhagmajer commented on #252
Good point! I added https://github.com/xFAANG/askql/issues/242 to figure out different types of errors

[2020-06-27 09:54] czerwinskilukasz1 commented on #154
@mhagmajer What is your idea for this one?
My proposal is to create a `test` resource that would execute its body until the first `expect`:`toBe` fails (returns false).
`expect` could be an identity function and `toBe(ex,act)` would fail if `ex != act`.

[2020-06-27 09:55] mhagmajer commented on #251
@czerwinskilukasz1 I'd rather have the `+` operator only work for numbers. I look at strings as array of characters (similar to how C defines them). In this context supporting plus for string would be like supporting it for arrays and other collections. I think this is confusing for new programmers.

If we're looking at ways to make dynamic string construction easier, I suggest that we look at ES

[2020-06-27 09:57] mhagmajer commented on #250
Are we sure that we want to add an operator for modulo? We could just have `mod` function or `a mod b` expression. I'm asking because `%` already has meaning associated to it by math.

[2020-06-27 09:57] mhagmajer commented on #249
@czerwinskilukasz1 what are your thoughts on this?

[2020-06-27 10:01] mhagmajer commented on #248
Let's fix `npm run ask <.ask file path>`. It should print results regardless of whether there is expected result for that file or not. The bug is in implementation of https://github.com/xFAANG/askql/blob/aefa51797af19af36c001c529b962374dddf69b2/src/test.jest.testRunner.ts#L199

[2020-06-27 10:03] mhagmajer commented on #154
@czerwinskilukasz1 we could implement `test` and `expect` ourselves or we could just link them from Jest. I suppose that the latter is easier for now

[2020-06-27 10:33] czerwinskilukasz1 commented on #241
That's a good point.
@mhagmajer, so should our `==` work like Javascript's `===`?

[2020-06-27 10:36] czerwinskilukasz1 commented on #240
Probably. I was going to add `// eslint-disable-next-line @typescript-eslint/no-unused-vars` there and in one other places, so that we don't get eslint warnings.

[2020-06-27 10:36] mhagmajer commented on #241
@czerwinskilukasz1 there is no operator in JavaScript that works exactly as equality should in AskScript because we'll actually do a deep comparison of immutable objects. Look at https://immutable-js.github.io/immutable-js/#equality-treats-collections-as-values for reference.

`{ a: 1 } == { a: 1}` should be `true`

[2020-06-27 10:39] mhagmajer commented on #240
@czerwinskilukasz1 maybe we can file this issue with eslint and add a comment about it in Eslint repo? I'd rather not add comments in our code to hide a buggy behavior of Eslint

[2020-06-27 10:42] czerwinskilukasz1 commented on #242
@mhagmajer
There are roughly 40 error instances in 20 files in askvm/, askjsx/ and askcode/:
https://github.com/xFAANG/askql/search?q=%22new+Error%22&unscoped_q=%22new+Error%22&type=Code

I would create a class hierarchy for them, e.g.:
Error, with subclasses
 - ParseError
 - CompileError
 - RuntimeError

RuntimeError with subclasses, each error type being a separate subclass, e.g.:
 - InvalidReso

[2020-06-27 10:45] mhagmajer commented on #242
@czerwinskilukasz1 why class hierarchy and not plan object with type? Maybe we should avoid OOP to make it easier to port AskVM to non-oop languages such as C

[2020-06-27 10:47] czerwinskilukasz1 commented on #243
👍

[2020-06-27 10:48] czerwinskilukasz1 commented on #255
Yeah, I was proud of this one ;)

[2020-06-27 10:52] czerwinskilukasz1 opened #260 "Implement ES template literals"
It would be great to support this syntax in AskScript:

`\`This is a ${variable} text.\``

More on template literals: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

[2020-06-27 10:53] czerwinskilukasz1 commented on #251
I am not sure whether we should disallow '+' for strings, but for sure I am for ES template literals.  Added it as https://github.com/xFAANG/askql/issues/260.

Back to + for strings, how should Ask react to `'a'+'b'`?

[2020-06-27 10:54] czerwinskilukasz1 commented on #260
I'd vote for implementing just the template literals, without tags (see the link to MDN).
Thoughts?

[2020-06-27 10:59] czerwinskilukasz1 commented on #250
As for `%`, I'd mimic Javascript to be honest.

`a mod b` expression looks good, how about we allow to write: `a <funName> b` for any function name <funName>?
 So that people could write also: `'a' concat 'b'` or `1 plus 3`?  It looks to me like Scala and I like it.

[2020-06-27 11:03] czerwinskilukasz1 commented on #249
@mhagmajer I like this approach when testing the expected output, however I would love every .ask file to be parsed and executed regardless whether its expected output was provided or not.  Not sure how to combine these two, so for now I would keep the current approach of running each existing .ask file.

[2020-06-27 11:04] mhagmajer commented on #256
@czerwinskilukasz1 how did you check how much memory does this program consume?

[2020-06-27 11:06] czerwinskilukasz1 commented on #154
@mhagmajer Sounds great, I didn't think of this kind of solution.
Let me figure this out.

[2020-06-27 11:06] mhagmajer commented on #251
@czerwinskilukasz1 I would throw type mismatch for adding strings and inform people to use either concat or template literals

[2020-06-27 11:09] #52 closed

[2020-06-27 11:10] mhagmajer commented on #250
@czerwinskilukasz1 we actually already have `a:concat(b)` and do what you described for operators. Let's maybe keep one way of doing things so people don't need to make choice when writing AskScript programs.

[2020-06-27 11:15] mhagmajer commented on #260
@czerwinskilukasz1 yeah, we can add tags functionality later if we need them

[2020-06-27 11:16] czerwinskilukasz1 commented on #242
@mhagmajer , I am fine with either, with a preference for classes, because they make the code more reusable and cleaner.

If we were to port AskVM to other languages, we would need much work anyway as we are using pretty many Typescript and Javascript features, like:
- `instanceOf`,
- `Array.isArray`,
- JSX templates,
- ES template literals,
- `throw` (including `throw new Error`)
to name a few.
S

[2020-06-27 11:20] czerwinskilukasz1 commented on #241
Could you write more examples here, so that we define `==`'s behavior?

What about `<` and other inequality operators. Would you like them to also perform a deep comparison? How?

[2020-06-27 11:21] mhagmajer commented on #242
These are all functions. I'm not sure how to reflect class hierarchy in AskScript while not introducing classes. Maybe with explicit prototypal inheritance?

[2020-06-27 11:23] mhagmajer commented on #241
@czerwinskilukasz1 you can find more examples in the Immutable docs linked above. Deep comparison would work only for equality

[2020-06-27 11:26] czerwinskilukasz1 commented on #256
By watching Activity Monitor. It was enough for the first estimate.
Did you get different results yourself?

[2020-06-27 11:29] czerwinskilukasz1 commented on #251
Sounds good. Edited the title and description.
How about `'a'+1` and `1+'a'` - same error?

[2020-06-27 11:31] czerwinskilukasz1 commented on #250
@mhagmajer , so I wouldn't introduce a new syntax `a mod b` for just one operation.

[2020-06-27 11:32] mhagmajer commented on #251
@czerwinskilukasz1 yes, that's also a type mismatch. Thanks!

[2020-06-27 11:33] mhagmajer commented on #256
@czerwinskilukasz1 not yet, I'm trying to figure out how we can test it

[2020-06-27 11:33] czerwinskilukasz1 opened #261 "Introduce keys of any type in map/record/dictionary in AskScript"
Following [this comment](https://github.com/xFAANG/askql/pull/259#discussion_r446513938), let's discuss whether we should allow arbitrary type of keys in AskScript associative types and whether we should extend the current type (map) or rather introduce a new type (record, dict or whatever other name).

[2020-06-27 11:35] mhagmajer commented on #250
@czerwinskilukasz1 sure, that would make AskScript easier for mathematicians which I think is an advantage.

So how about using % for percentage? I don't have strong opinion on this, however, just the fact that JavaScript uses this for modulo is not a sufficient argument for me here

[2020-06-27 11:37] czerwinskilukasz1 commented on #242
I don't think there is prototypal inheritance in C.
How about we put all the thought regarding porting AskVM to C here: https://github.com/xFAANG/askql/issues/143 ?

[2020-06-27 11:39] czerwinskilukasz1 commented on #241
@mhagmajer  OK, so this implies there would be no equivalence between `a <= b && b <= a` and `a == b`, right?

[2020-06-27 11:40] mhagmajer commented on #250
@czerwinskilukasz1 also how about `a div b` so integer division?

[2020-06-27 11:41] mhagmajer commented on #261
I think yes, `Map` already allows that in JavaScript

[2020-06-27 11:44] mhagmajer commented on #241
@czerwinskilukasz1 you can only use `<` for numbers, not objects I think

[2020-06-27 11:46] mhagmajer commented on #242
@czerwinskilukasz1 prototypal inheritance is actually pretty easy to implement - you just need a pointer for the prototype. We use it for creating new environment (scope) when running functions

[2020-06-27 11:56] mhagmajer opened #262 "ES6 array destructors"
<img width="521" alt="Screenshot 2020-06-27 at 13 55 48" src="https://user-images.githubusercontent.com/2731042/85921666-fb043080-b87d-11ea-8b25-80d756de1020.png">

[2020-06-27 11:58] mhagmajer commented on #251
See https://stackoverflow.com/questions/44229023/why-is-this-expression-evaluated-to-a-in-javascript/44229256#44229256 for reference on why we're restricting plus to just numbers

[2020-06-27 12:03] czerwinskilukasz1 opened #263 "Implement a nullish coalescing operator"
The nullish coalescing operator (??) is a logical operator that returns its right-hand side operand when its left-hand side operand is null or undefined, and otherwise returns its left-hand side operand.

Sample usage:
`const port = arg1 ?? 4000;`

[2020-06-27 12:21] czerwinskilukasz1 commented on #262
You mean this, right? https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

[2020-06-27 12:38] czerwinskilukasz1 commented on #256
@mhagmajer How about `/usr/bin/time -l` (and `time -v` on Linux)?
[code]

[2020-06-27 12:39] czerwinskilukasz1 commented on #256
We could plug `time` to `npm run ask <.ask filename>` as soon as issue https://github.com/xFAANG/askql/issues/248 is solved.

[2020-06-27 12:39] #136 closed

[2020-06-27 12:40] mhagmajer commented on #263
We actually have one value for `null` and `undefined` aka `empty`

[2020-06-27 12:41] mhagmajer commented on #262
Yes, and also `([head, ...tail]) => head`

[2020-06-27 12:44] mhagmajer commented on #256
A lot of this is the cost of being asynchronous language. Let's see how much we can optimize it. That program should use constant memory

[2020-06-27 12:57] czerwinskilukasz1 commented on #250
I can't think of a better operator.  Also, at least 20 other programming languages, including C/C++, C#, Java, Python, PHP and Kotlin, are using % for modulo.

As for percent, I'm totally not sure how we could use it.

So for what class of operations you would use it?

[2020-06-27 13:00] czerwinskilukasz1 commented on #261
Fine. How would we support creating non-string keys with `{}` syntax?
`{ [ <expression> ]: <value> }`?

[2020-06-27 13:07] czerwinskilukasz1 commented on #241
@mhagmajer how about:
 - strings
 - booleans
Should the operator throw an error for these types, like in https://github.com/xFAANG/askql/pull/245 ?

[2020-06-27 13:08] mhagmajer commented on #241
I think `2 == '4'` should be false. This is something that linting/static analysis could point out as an issue with code one day. At runtime it should not throw

[2020-06-27 13:09] czerwinskilukasz1 commented on #239
I'd say while should return its last result, and if not run at all, `empty`.
It's just a matter of being consistent - why would we return value from `if` but not from `while`?

[2020-06-27 13:12] mhagmajer commented on #250
@czerwinskilukasz1

`7 / 3 = ((7 div 3) * 3) + (7 mod 3)`

About `%` we could say

`let price = 1000 * 20%`

I guess this would only make sense as a unary operator so the binary can be used for module. Would it be possible for the parser to support both?

[2020-06-27 13:13] czerwinskilukasz1 commented on #251
Haha, this is great! 😄

[code]

Why?

Because:
[code]

[2020-06-27 13:16] mhagmajer commented on #239
@czerwinskilukasz1 I think I explained about `if` in the previous message.

Can you give some example programs that depend on `while` returning a value vs creating a function that does it? Do you know any other programming language that returns a value from a loop?

Interesting :)

[2020-06-27 13:17] mhagmajer commented on #251
@czerwinskilukasz1 fun for hackers, not fun for juniors ;)

[2020-06-27 13:18] czerwinskilukasz1 commented on #241
Actually, I meant `<` here, e.g. check like: `'4' < '0'` or `false < true`.   Or `'4' < true`, `3 < true`.

[2020-06-27 13:21] czerwinskilukasz1 commented on #250
I see, I see. Looks pretty good.
So, would we just hardcode it into AskScript grammar for just `div` and `mod` or rather for all identifiers?

I'm not convinced to this.

[2020-06-27 13:22] mhagmajer commented on #241
@czerwinskilukasz1 these types of comparison (using `<`) should only work for numbers. If there is some other way to compare other data types let's create separate functions/operators for those. I can imagine lexicographical comparison would be useful for sorting data

[2020-06-27 13:23] mhagmajer commented on #250
@czerwinskilukasz1 let's do it in parser only for operators, `div` and `mod` and carry the discussion about unary `%` on a separate issue

[2020-06-27 13:24] czerwinskilukasz1 opened #264 "Should we implement a unary percent (%) operator?"
@mhagmajer started thinking [here](https://github.com/xFAANG/askql/issues/250#issuecomment-650559629), whether a `%` operator would be useful, e.g. for expressions like:
[code]

Let's discuss it here.

[2020-06-27 13:24] czerwinskilukasz1 commented on #250
`%`: https://github.com/xFAANG/askql/issues/264

[2020-06-27 13:26] mhagmajer commented on #264
Thanks @czerwinskilukasz1

[2020-06-27 13:27] czerwinskilukasz1 commented on #239
Nope, none, but I thought it's interesting. Aaaand, IIRC around a month ago `while` returned the value and I liked it.

[2020-06-27 13:27] mhagmajer commented on #264
This is about unary %, binary % we'll use for modulo

[2020-06-27 13:30] mhagmajer commented on #239
IIRC?

[2020-06-27 13:31] czerwinskilukasz1 commented on #251
;)

[2020-06-27 13:32] mhagmajer commented on #239
I'm also interested in exploring this topic. `Promise.all` returns a value from a list of computations - kind of a loop

[2020-06-27 13:32] czerwinskilukasz1 opened #265 "<, <=, > and >= operators should throw when comparing non-number values"
Currently, <, <=, >, >= operators try to work for all types:
[code]

Following my discussion with @mhagmajer [here](https://github.com/xFAANG/askql/issues/241#issuecomment-650546143), these operators should throw an error when any of the operands is not a number (typeof oper !== 'number').
Example - see: https://github.com/xFAANG/askql/pull/245

[2020-06-27 13:34] mhagmajer commented on #265
Awesome, thanks!

[2020-06-27 13:34] mhagmajer commented on #265
What function name should we use for lexicographical comparison of strings?

[2020-06-27 13:35] czerwinskilukasz1 opened #266 "Adding a number to a function returns a surprising result"
Guess what's the result of adding `1` to a function `const f = fun(a) { a+1 }`....

Here it is:
[code]

Expected: Error

[2020-06-27 13:35] czerwinskilukasz1 commented on #251
@mhagmajer , how about this? ;)
f+1: https://github.com/xFAANG/askql/issues/266

[2020-06-27 13:39] czerwinskilukasz1 opened #267 "Inconsistent behavior when handling too many/too few function arguments."
While Ask silently permits passing too many arguments to a function, it fails in runtime when passing too few.

[code]

[code]

Expected: either an error in both cases or a success in both cases.

[2020-06-27 13:39] czerwinskilukasz1 opened #268 "CLI fails with error when trying to run AskCode"
Following [@mhagmajer's comment](https://github.com/xFAANG/askql/issues/224#issuecomment-649785321), CLI is supposed to fully support AskCode programs.
I paste below an example which currently does not work.

AskScript (works):
[code]

Now let's try running the AskCode which CLI produced for this AskScript program:
[code]
and it fails with an error.

[2020-06-27 13:39] mhagmajer commented on #266
@czerwinskilukasz1 this is a consequence of lack of type checking for plus

[2020-06-27 13:39] mhagmajer commented on #266
The results comes from how JavaScript runtime understands plus

[2020-06-27 13:41] czerwinskilukasz1 commented on #253
Same for let and const in the same scope:
[code]
Expected:
Error - variable 'a' is already defined in this scope

Actual:
[code]

and consts:
[code]

Expected:
Error - variable 'a' is already defined in this scope

Actual:
[code]

[2020-06-27 13:42] czerwinskilukasz1 opened #269 "toInt doesn't convert numbers to integer"
[code]

Dear Contributor,

This task has evolved a bit. Please read the comments to find out the latest description.

[2020-06-27 13:43] czerwinskilukasz1 commented on #269
@mhagmajer , was your intention to create a real `toInt` or rather `toNumber`?

[2020-06-27 13:47] czerwinskilukasz1 opened #270 "Use shelljs instead of rimraf and similar libraries"
In [this](https://github.com/xFAANG/askql/blob/95e81d441becf345432aa42e2012e13b557b3284/scripts/utils/removeRecursive.ts#L5) script `rimraf` library is used.
It's a library with one functionality only: running `rm -rf`, hence its name `rimraf`.

What I propose is instead of such small one-purpose-only libraries use shelljs.
shelljs is already used in our repo and:
+ shelljs is more universal (rimr

[2020-06-27 13:47] mhagmajer commented on #269
@czerwinskilukasz1 this should round floats to be integers, I confirm that this is a bug in implementation of `toInt`

[2020-06-27 13:48] mhagmajer commented on #270
Like it 🙌

[2020-06-27 13:48] mhagmajer commented on #270
These are the benefits of monorepo that its so much easier to learn 💪

[2020-06-27 13:50] mhagmajer commented on #253
@czerwinskilukasz1 I'm not sure if there is issue for it, but we don't do any differentiation between `const` and `let` currently

[2020-06-27 13:55] czerwinskilukasz1 commented on #270
Cool, removing 'discussion' label then.  This issue becomes an action point.

[2020-06-27 13:59] czerwinskilukasz1 commented on #266
Sure.
@mhagmajer Do you think we should limit + to numbers too, [same way as ||](https://github.com/xFAANG/askql/pull/245), or rather we wait for AskVM type checking first?

[2020-06-27 14:04] czerwinskilukasz1 commented on #239
If I Recall Correctly

[2020-06-27 14:11] czerwinskilukasz1 commented on #265
Are you thinking of just one function or also of a set of operators?
As for function, how about `strcmp`, like in C?

As for operators, actually, I liked regular `<, <=, > and >=` but if we need to pick something, how about we make them look similar to the regular ones?

Like:
``` 'aaa' @< 'bbb' ```
``` 'aaa' @>= 'bbb' ```
or
``` 'aaa' |< 'bbb' ```
``` 'aaa' |>= 'bbb' ```

[2020-06-27 14:15] czerwinskilukasz1 commented on #269
@mhagmajer
Actually, I wasn't sure because we already have `floor` and `ceil`:

[code]

So maybe we could just remove `toInt` entirely and introduce `toNumber` instead, which would convert any _reasonable_ type to int | float?
[code]

[2020-06-27 14:16] czerwinskilukasz1 commented on #253
I added it earlier today: "Assigning to a const does not result in an error" https://github.com/xFAANG/askql/issues/254

[2020-06-27 14:18] mhagmajer commented on #239
@czerwinskilukasz1 do you think it makes sense for `while` to return a collection of values from all iterations or would it just be a waste of memory?

[2020-06-27 14:19] czerwinskilukasz1 commented on #239
Oh, I was thinking about the _last_ value only.
I would say we shouldn't remember all the previous values.

[2020-06-27 14:31] #180 closed

[2020-06-27 14:33] mhagmajer commented on #269
I'd like to live it up to user to decide to if they want int or float because these types will be dealt with differently by runtime

[2020-06-27 14:34] mhagmajer commented on #269
`floor` and `ceil` should only work on numbers

[2020-06-27 14:35] mhagmajer commented on #239
So you're thinking that `while` should be like`reduce`?

[2020-06-27 14:35] mhagmajer commented on #253
@czerwinskilukasz1 thanks

[2020-06-27 15:48] mhagmajer commented on #256
@czerwinskilukasz1 this can be solved with tail recursion

[2020-06-27 16:04] mhagmajer commented on #256
https://en.wikipedia.org/wiki/Tail_call

[2020-06-27 16:15] mhagmajer commented on #256
Seems like `while` will only be able to return the final value anyway @czerwinskilukasz1, https://github.com/xFAANG/askql/issues/239

[2020-06-27 16:16] mhagmajer commented on #239
@czerwinskilukasz1 is our parser going to handle that?
[code]

[2020-06-27 16:18] mhagmajer commented on #267
JavaScript is exactly the same. What would you suggest here @czerwinskilukasz1?

[2020-06-27 16:25] mhagmajer commented on #239
Same can be done with explicit recursion:

[code]

So `while` is significantly shorter 👍

[2020-06-27 17:44] czerwinskilukasz1 opened #272 "Every call in recursion is slower and slower"
Consider the following program:
[code]

The first 1000 calls take 4 seconds,
the 2nd 1000 calls take 9 seconds,
the 3rd 1000 calls take 12 seconds,
the 4th 1000 calls take 18 seconds,
the 5th 1000 calls take 24 seconds,
the 6th 1000 calls take 37 seconds,
the 7th 1000 calls take 47 seconds,
the 8th 1000 calls take 56 seconds,
the 9th 1000 calls takes 67 seconds, 16x slower than the first 1000 call

[2020-06-27 17:52] czerwinskilukasz1 commented on #239
Our parser _could_ handle it.
Currently `if`, `while`, `for` etc. are _statements_, while function arguments could be _values_ (aka _expressions_) only. So I'd need to move statements there, *however* I think it opens a broad field for crappy code, loops inside arguments and stuff, so if I needed to choose all or nothing, I think I'd resign from while returning any value.

[2020-06-27 17:57] czerwinskilukasz1 opened #273 "Implement toFloat"
Following [@mhagmajer's comment](https://github.com/xFAANG/askql/issues/269#issuecomment-650568501), a `toFloat` resource is needed, which converts the argument to float.

Hint for new contributors:
Check how `toInt` is implemented and write `toFloat` in a similar manner.

If you have any questions on how to start, please write a comment with a tag: @czerwinskilukasz1 or @mhagmajer, or join our [D

[2020-06-27 18:00] czerwinskilukasz1 opened #274 "floor and ceil should only work on numbers"
For values other than float or int `floor` and `ceil` should throw an error.

Currently various kinds of magic are happening:
[code]

[2020-06-27 18:03] czerwinskilukasz1 commented on #269
OK, tickets added 😄

[2020-06-27 18:03] czerwinskilukasz1 commented on #269
So back to `toInt`, should:
 - `toInt(2.6)` return `2` or `3`?
 - `toInt('2.6')` return `2` or `3`?
 - `toInt(true)` return `1`?
 - `toInt(false)` return `0`?
 - `toInt(null)` return `0`?
 - `toInt([])` return `0`?
 - `toInt([1])` throw?
 - `toInt([1,2])` throw?
 - `toInt({a:1})` throw?
 - `toInt({a:1, b: 2})` throw?

[2020-06-27 18:09] czerwinskilukasz1 commented on #269
I'd think it's a good default, since programmers are used to it and at the same time I don't see big no's against.

[2020-06-28 16:24] mhagmajer opened #275 "Labelled loops?"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/label

[2020-06-29 08:56] czerwinskilukasz1 opened #283 "Playground: add HTTPS"
Our New Playground (http://cli.askql.org/) is working fine, but is missing HTTPS.

[2020-06-29 08:56] czerwinskilukasz1 commented on #283
FYI @Tuhaj  :)

[2020-06-29 10:10] czerwinskilukasz1 opened #284 "Which Github labels would be useful for this project?"
Github offers a set of default labels for issues (and PRs), however one size doesn't fit all.
Which additional labels could we add to this project?

[2020-06-29 10:11] czerwinskilukasz1 commented on #284
My proposal is that we *add* some labels we think will be useful and watch how often they are used over a couple of weeks.
And then remove unused ones or propose replacements.

[2020-06-29 12:53] mhagmajer opened #287 "Allow running examples from unit tests in the playground"

[2020-06-29 13:04] mhagmajer commented on #184
https://github.com/xFAANG/askql/issues/236

[2020-06-29 14:14] mhagmajer opened #288 "Add AskScript support to GitHub"
PR can be created for https://github.com/github/linguist to add support for AskScript

[2020-06-29 14:15] czerwinskilukasz1 opened #289 "Treat AskScript tests (.test.ask) like TypeScript tests (.test.ts)"
Following mhagmajer's [comment](https://github.com/xFAANG/askql/pull/271#discussion_r446969779), AskScript tests (.test.ask) should be treated more like TypeScript tests (.test.ts) - we shouldn't rely on .test.result.ts and test.args.ts files for them

[2020-06-29 14:17] czerwinskilukasz1 opened #290 "Add more jest resources to the test environment"
Following [this issue](https://github.com/xFAANG/askql/issues/154), we would like to add more resources from jest than just `expect` and `toBe`.
Let's discuss which ones to add.

[2020-06-29 14:22] czerwinskilukasz1 opened #291 "AskScript tests: on error show AskScript code that failed"
[Currently](https://github.com/xFAANG/askql/pull/271), `expect().toBe()` in `.ask` test shows `matcher.toBe(actual)` for the code snippet that failed (see screenshot below).
What we would like achieve is to show the .ask code that failed.

![image](https://user-images.githubusercontent.com/12752520/86017649-90d9c000-ba24-11ea-9b60-404bd46bb1e0.png)

[2020-06-29 14:27] mhagmajer commented on #290
My expectation here would be that AskScript programmer with Jest gets the same tools that TypeScript programmer gets so all these https://jestjs.io/docs/en/expect should accessible

[2020-06-29 15:36] czerwinskilukasz1 commented on #287
@mhagmajer , could you provide a description?
How would it work for the user?

[2020-06-29 15:38] czerwinskilukasz1 commented on #275
My personal thinking is that such labels clutter the language and they are almost as evil as goto.
What would be a benefit for adding them?

[2020-06-29 16:12] czerwinskilukasz1 commented on #290
This is a lot of resources (around 60).   Would we need to implement each of them by specifying a separate `resource({......})` or is there any magic that could do the job for us?

[2020-06-29 16:14] czerwinskilukasz1 commented on #267
And I think this is not a good behavior.
I suggest throwing an error in both cases.

[2020-06-29 16:23] #43 closed

[2020-06-29 16:26] czerwinskilukasz1 commented on #132
Any thoughts on this one?

[2020-06-29 16:27] czerwinskilukasz1 commented on #132
Unless I'm missing something, I think the code will be very complex, something like:

[code]

_plus_ the code above will work only if ofProp evaluates to an array or an object and would fail miserably in the middle of execution if it doesn't..

What I'm missing a lot here is a way to evaluate an expression using an equivalent of await runUntyped that I would have used if I implemented it as a new

[2020-06-29 16:38] czerwinskilukasz1 opened #292 "Upgrade jest to 26.1.0 (fix compile errors)"
It would be nice to bump jest from 26.0.1 to 26.1.0, but this PR https://github.com/xFAANG/askql/pull/279 fails with compile errors.

[2020-06-29 21:56] mhagmajer commented on #267
These days ECMAScript has a pretty good around it to introduce new versions of the standard. Let's be very thorough when analysing if we should be less flexible than new JavaScripts. It would be make debugging easier if Ask programming environment offered good helpful errors.

Some functions takes variable number of arguments - for example `call`. To allow checking number of arguments, we would ne

[2020-06-30 09:48] mhagmajer commented on #292
Seem like it fails because `@types/jest` is still at an older version

[2020-06-30 09:53] mhagmajer commented on #132
@czerwinskilukasz1, how would you implement `forOf` function in AskScript? AskJSX is a reflection of that.

If you find yourself in need of `run`, you might want to define your own function and then call it. Here's a sample while implementation in AskScript (based on native implementation of call):

[code]

[2020-06-30 12:19] czerwinskilukasz1 opened #293 "Tests: Rename <file>.ask.snapshot.tsx to <file>.ast.tsx"
Shouldn't .test.result.ts and .test.args.ts be renamed to .result.ts and .args.ts, because they are used for .ask and not for .test.ask?

[2020-06-30 12:27] czerwinskilukasz1 opened #294 "Port for..in, for..of and other loops to AskScript"
In order to keep minimal resources in AskVM, it would be good to port for..in, for..of, maybe for (and possibly other kinds of loops, if there are any at the time of reading this issue) from AskVM to AskScript and leave in AskVM only `while` (or for).

[2020-06-30 13:17] #154 closed

[2020-06-30 13:17] #289 closed

[2020-06-30 13:45] czerwinskilukasz1 commented on #131
Following our chat, this is how it should work for a string:
[code]

[2020-06-30 13:46] czerwinskilukasz1 commented on #132
Following our chat, this is how it should work for a string:
[code]

[2020-06-30 14:54] czerwinskilukasz1 opened #295 "Add '!' to valid characters for operators"
When I run:
[code]

I got:
[code]

Shouldn't we add '!' to valid characters for operators?

[2020-06-30 14:54] czerwinskilukasz1 commented on #295
I am for it.
@mhagmajer ?

[2020-06-30 14:56] czerwinskilukasz1 opened #296 "unequality (operator != or <>) is missing"
[code]
results in:
[code]

The task is to implement unequality.

Some discussion is needed to decide whether we add `!=` or rather `<>`. Depends on discussion in https://github.com/xFAANG/askql/issues/295 .

[2020-06-30 15:00] mhagmajer commented on #296
I guess `!=` is known better :)

[2020-06-30 15:19] mhagmajer opened #298 "-n / -(n) doesn't parse"
[code]

Expected: negative value of `test`

If we reworked prefix unary operators, then it would help in other areas such as `+4` which also doesn't parse. If unary minus was an operator rather than part of number's grammar rule we could solve the plus problem very easily.

Tip from JS: `2++4` doesn't work, but `2+(+3)` does

[2020-06-30 15:20] mhagmajer commented on #295
Sure! Let's add it.

Exclamation mark can often also be used as a prefix unary operator:

[code]

Do you think that our grammar could support unary prefix operators? This would help solve https://github.com/xFAANG/askql/issues/298

[2020-06-30 15:24] #132 closed

[2020-06-30 15:33] mhagmajer commented on #298
Fun observation - we already support postfix unary operator with colon `:`

[code]

So if `!` was an alias for `not` we could say

[code]

I guess what's needed for the prefix unary is just the `<operator><identifier>` grammar rule

[2020-06-30 15:37] mhagmajer opened #299 "add == operator for equality"
Similarly to https://github.com/xFAANG/askql/issues/137, let's add `==` operator as an alias for `equals` resource

[code]

should be true, but throws with `Unknown identifier '=='!`

[2020-06-30 16:08] czerwinskilukasz1 commented on #298
@mhagmajer , yes, `-` is a part of a number.
And yes, if we wanted to support `-n`, the best way is to implement unary operators, probably by introducing a `<operator><identifier>` grammar rule.

[2020-06-30 16:09] czerwinskilukasz1 commented on #299
@mhagmajer Isn't this issue a duplicate of https://github.com/xFAANG/askql/issues/241 ?

[2020-06-30 16:10] czerwinskilukasz1 commented on #299
As for parsing errors, I'm getting an 'Unknown identifier error':

[code]
 which is expected if there is no `==` defined

[2020-06-30 16:11] #173 closed

[2020-06-30 16:14] czerwinskilukasz1 opened #302 "Which resources should/could we port to AskScript?"
If we keep only minimal number of resources in AskVM and port the rest from TypeScript to AskScript, we will make porting AskVM from TypeScript to other languages easier.
On the other hand, resources in AskScript are likely to be much slower than their equivalents in TypeScript.

What's the performance difference between these two languages?
Therefore, which resources could we port to AskScript wi

[2020-06-30 16:15] czerwinskilukasz1 commented on #294
Please see the status of this discussion first: https://github.com/xFAANG/askql/issues/302

[2020-06-30 16:16] czerwinskilukasz1 commented on #294
When porting these to AskScript, one should compare performance of Typescript forIn/forOf resources with their AskScript equivalents.

[2020-06-30 16:28] mhagmajer commented on #299
@czerwinskilukasz1 yes, you're right I updated the description

[2020-06-30 16:29] #299 closed

[2020-06-30 16:30] mhagmajer commented on #302
I suppose we can go case by case and see which resources we can move from AskVM to AskScript (the user space) without sacrificing performance

[2020-06-30 20:29] #131 closed

[2020-06-30 20:33] czerwinskilukasz1 opened #303 "Analyze how 'query' count operations"
mhagmajer wrote in [his PR for AskVM limits](https://github.com/xFAANG/askql/pull/220#discussion_r447791403):

Let's analyze in this ticket how `query` counts operations and what's the size of dataset analyzed / dataset returned which  would exceed AskVM limits.

[2020-06-30 20:34] czerwinskilukasz1 commented on #303
E.g. if I wanted to get an aggregated query to sum people income in my corporation and run:
[code]
for a list of 10 001 people, would it fail, if the limit was 10 000 ops?
How could I get the result I need anyway?

[2020-06-30 20:46] #29 closed

[2020-06-30 20:46] #209 closed

[2020-06-30 21:31] #148 closed

[2020-06-30 21:50] czerwinskilukasz1 commented on #284
There is another good reason to discuss labels:
We have over 100 issues now, so there is a bigger and bigger need to group them into categories.

In addition to the labels above, I suggest we add labels for types of bugs/features. The types could be introduced for some time only, when there are many bugs from a particular area, or permanently.
Examples:
type:const_let (for issues related to const

[2020-06-30 21:56] czerwinskilukasz1 commented on #295
Description of the task:
This should be simple, just add `!` to the allowed characters in .pegjs file

[2020-06-30 22:06] czerwinskilukasz1 commented on #236
Blocks #184

[2020-06-30 22:06] czerwinskilukasz1 commented on #184
Blocked on #236

[2020-06-30 22:10] czerwinskilukasz1 commented on #94
Hey, @YonatanKra , any update on this one?

[2020-06-30 23:35] mhagmajer opened #304 "Should we rename AskJSX to AskCompiler?"
AskScript is our parser
AskJSX is the compiler
AskVM is the runtime, needs an environment to run

[2020-07-01 04:44] engylemure commented on #273
@mhagmajer and @czerwinskilukasz1  Considering that the JS does not have an internal difference between integer and float since they both are [Number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number) this seems to be tricky, are you guys thinking about implementing wrappers for more explicitly handling the differences between the values considering casts?

[2020-07-01 10:29] czerwinskilukasz1 commented on #284
I will create some of these labels as a test. Let's see how well they work.

[2020-07-01 10:49] czerwinskilukasz1 commented on #304
@mhagmajer Sounds good to me.

[2020-07-01 11:06] czerwinskilukasz1 commented on #241
Back to `==`, should this operator be equivalent to `equals` resource, therefore `equals` should be modified?

[2020-07-01 11:11] czerwinskilukasz1 commented on #284
Also, for planning having labels with an estimated size of the task would help.
size: 1h (tiny)
size: 2h (small)
size: 4h (quite small)
size: 8h (medium)
size: 16h (quite large)
size: 32h (large)

(and if we have tasks longer than 4 days of work, let's split them up)

[2020-07-01 11:15] mhagmajer commented on #241
Yes, `equals` should return false when comparing data of different type groups - eg. `2 != '2'`, but `2:toFloat ==2`

[2020-07-01 11:18] mhagmajer commented on #284
I think that we should keep the number of tags as low as practically possible. I like the idea of expressing how much work is needed to solve an issue - how about we start simply with one tag for especially complicated tasks (estimated more than 2 days of work) and see how useful this is?

[2020-07-01 11:20] czerwinskilukasz1 commented on #296
Blocked on #295

[2020-07-01 11:20] czerwinskilukasz1 commented on #296
I guess != should call not(equals()), right, @mhagmajer ?

[2020-07-01 11:22] mhagmajer commented on #296
@czerwinskilukasz1 yes, sure

[2020-07-01 11:48] czerwinskilukasz1 commented on #284
Ah, I already added 6 size tags to issues for v1.3 milestone to prepare for today's planning.
How about we discuss it when planning the milestone and come up with a useful set of tags then?

[2020-07-01 11:49] czerwinskilukasz1 commented on #284
Of course, size is just a rough estimate.
If we found out today that 6 size tags was too much, we could e.g. introduce three tags (small - below 4h, medium - 4 - 8 hours, large - above 8 hours or work)

[2020-07-01 13:18] mhagmajer opened #305 "Finish prettier and use it to format .ask files in the repository"

[2020-07-01 13:21] czerwinskilukasz1 commented on #236
TODO: answer to mhagmajer's: https://github.com/xFAANG/askql/issues/182#issuecomment-646974197

[2020-07-01 13:35] czerwinskilukasz1 commented on #170
Tasks:

- [ ] Create one example per AskScript construct in `src/askscript/__tests__/00-documentation-examples/` and add them to Documentation on Notion
- [ ] Stop creating .snapshot.jsx and .askcode for tests in other folders (configured in a config file)

[2020-07-01 13:40] czerwinskilukasz1 commented on #293
Agreed by @mhagmajer

[2020-07-01 13:47] mhagmajer opened #306 "Should we use AskScript for test args .args.ts and expected result .result.ts"
Following discussion in #293, how about we use AskScript to define individual test arguments and results?

[2020-07-01 13:49] czerwinskilukasz1 commented on #293
Task:
- [ ] in `src/askscript/__tests__` rename <file>.ask.snapshot.tsx -> <file>.ast.tsx (meaning, make a code change that will generate files under the new name + rename the old files in Git)

[2020-07-01 13:54] czerwinskilukasz1 commented on #272
This also affects `while`.

[2020-07-01 13:58] czerwinskilukasz1 commented on #272
Side note:

Currently `while` works because of [the issue with function scopes](https://github.com/xFAANG/askql/issues/255). When the issue is fixed, while will stop working.

[2020-07-01 14:01] czerwinskilukasz1 commented on #251
Blocked on https://github.com/xFAANG/askql/issues/45

[2020-07-01 14:01] czerwinskilukasz1 commented on #258
Blocked on https://github.com/xFAANG/askql/issues/45

[2020-07-01 14:01] czerwinskilukasz1 commented on #265
Blocked on https://github.com/xFAANG/askql/issues/45

[2020-07-01 14:01] czerwinskilukasz1 commented on #266
Blocked on https://github.com/xFAANG/askql/issues/45

[2020-07-01 14:01] czerwinskilukasz1 commented on #274
Blocked on https://github.com/xFAANG/askql/issues/45

[2020-07-01 14:03] czerwinskilukasz1 commented on #233
Fixed with `npm run cli:dev` command.

[2020-07-01 14:03] #233 closed

[2020-07-01 14:07] czerwinskilukasz1 commented on #239
Tasks:
  - [ ] add `while`, `for` (x3), `if` as a value in grammar
  - [ ] return value from while and for (x3) in while/for....ts files

[2020-07-01 14:08] mhagmajer commented on #268
Confirmed

[code]

[2020-07-01 14:15] czerwinskilukasz1 opened #307 "Add memory stats to AskVM"
We want to measure how much memory our programs are using.

How do we want to measure it?

[2020-07-01 14:18] czerwinskilukasz1 commented on #255
https://github.com/xFAANG/askql/issues/255

[2020-07-01 14:21] czerwinskilukasz1 commented on #304
Task:
- [ ] rename folder askjsx to askcompiler

[2020-07-01 14:27] czerwinskilukasz1 commented on #287
We want all the examples in Playground to be testable.
Task:

- [ ] Create src/askscript/__tests__/91-playground, add there all current examples and make Playground use them directly (editing .ask files from 91-playground/ will automatically edit the example in Playground).

[2020-07-01 14:32] czerwinskilukasz1 commented on #272
Related to #256

[2020-07-01 14:35] czerwinskilukasz1 commented on #305
Note: @czerwinskilukasz1 , which tests shouldn't be prettified?

[2020-07-01 14:58] czerwinskilukasz1 commented on #305
These tests for sure should **not** be prettiefied:

- src/askscript/__tests__/12-newlines
- src/askscript/__tests__/90-misc/windows-newlines*.ask
- src/askscript/__tests__/*/*whitespace*.ask
- src/askscript/__tests__/*/*newline*.ask

[2020-07-01 14:59] czerwinskilukasz1 commented on #305
As for other tests, I would love to see a diff before accepting.

[2020-07-01 15:21] czerwinskilukasz1 opened #309 "More UI changes to Playground"
- a button for bigger font
- fading in the result of execution

[2020-07-02 10:57] mhagmajer opened #312 "Object cannot be used as value in query?"
<img width="1045" alt="Screenshot 2020-07-02 at 12 55 11" src="https://user-images.githubusercontent.com/2731042/86350703-6164c680-bc63-11ea-8426-4eb16ff46848.png">

[code]

Returned object is empty, but `{ "a": 1 }` was expected

[2020-07-02 11:04] mhagmajer opened #313 "query should fail if given no arguments"
[code]

should throw and as of v1.2 it doesn't

This causes this weird behaviour in playground

<img width="1170" alt="Screenshot 2020-07-02 at 13 03 17" src="https://user-images.githubusercontent.com/2731042/86351343-6d9d5380-bc64-11ea-9634-67ddaf6de853.png">

<img width="1199" alt="Screenshot 2020-07-02 at 13 03 45" src="https://user-images.githubusercontent.com/2731042/86351381-7aba4280-bc64-11

[2020-07-02 12:47] mhagmajer opened #314 "Binary, hex, big int syntax in AskScript?"

[2020-07-02 13:07] czerwinskilukasz1 commented on #236
OK, so the strength of Monaco is much better and smarter autocomplete:
![image](https://user-images.githubusercontent.com/12752520/86361355-fbcd0600-bc73-11ea-8bd3-3c617735d5fb.png)

The drawback of Monaco is that it doesn't work on mobile phones.

I thought the second drawback is that Monaco uses a different syntax coloring method from VS Code and multiple sources ([1](https://stackoverflow.com/q

[2020-07-02 13:11] czerwinskilukasz1 commented on #236
Mobile phone support is not that important, so we choose Monaco editor.
FYI @mhagmajer

[2020-07-02 13:16] #236 closed

[2020-07-02 14:32] czerwinskilukasz1 commented on #272
Please note that using `while`, which uses function calls for each iteration, is **not** that slow and is **not** getting slower with each iteration:

while.ask:
[code]

Changes to cli.ts needed, add these lines above `const options: Options = {`:
[code]

and change `steps` to 10**12 in `src/askvm/index.ts`.

Result:
[code]

Every 1000 iterations takes roughly 1.8 seconds and doesn't increase over

[2020-07-02 14:40] czerwinskilukasz1 opened #315 "AskScript programs are much slower than Javascript equivalents"
Consider the following two programs:

## AskScript (AskVM)

Source code:
[code]

Changes to cli.ts needed, add these lines above `const options: Options = {`:
[code]

and change `steps` to 10**12 in `src/askvm/index.ts`.

How to run:
[code]
then type: `.editor`
and paste the source code.

Output:
[code]
36 seconds for 20*1000 iterations, printed every 1000.
= 1800 seconds per 1000*1000 iterations

[2020-07-02 15:58] mhagmajer opened #316 "HTML in AskScript"
TypeScript using JSX:
[code]

A static table:
[code]

A list with printed items in list:
[code]

[2020-07-03 11:07] czerwinskilukasz1 opened #317 "Fix AskScript program on a diagram"
The AskQL diagram in our [README.md](https://github.com/xFAANG/askql) has a few errors in AskScript syntax.

Instead of this:
![image](https://user-images.githubusercontent.com/12752520/86463498-eae0cb00-bd2d-11ea-8737-c5e083ce1d3f.png)

Please use this program (fixed also indents, please use 3 spaces):
[code]

[2020-07-03 11:27] czerwinskilukasz1 opened #318 "Add simple syntax highlighting for VS Code"

[2020-07-03 11:28] czerwinskilukasz1 opened #319 "Convert simple syntax highlighting for VS Code to Monarch using a third party script"
After issue https://github.com/xFAANG/askql/issues/318 is done, convert the resulting syntax highlighting for VS Code to Monarch using the script mentioned by mhagmajer here: https://github.com/xFAANG/askql/issues/182#issuecomment-646972273

[2020-07-03 11:30] czerwinskilukasz1 commented on #184
Moved to 1.4, in favor of:
https://github.com/xFAANG/askql/issues/318
and
https://github.com/xFAANG/askql/issues/319
which will allow reusing work on syntax coloring.

[2020-07-03 11:43] #309 closed

[2020-07-03 12:35] mhagmajer commented on #317
What is `allDataAtOnce`? @czerwinskilukasz1

[2020-07-03 14:39] czerwinskilukasz1 commented on #317
This is all pseudocode. @mhagmajer

[2020-07-03 14:41] mhagmajer commented on #317
How about we make it a working program and include in an unit test? This can be done as next iteration because I already like the changes to indentation

[2020-07-03 14:42] czerwinskilukasz1 commented on #306
What would be the gain of rewriting all TypeScript to AskScript for args and results?

[2020-07-03 14:50] mhagmajer commented on #306
It would be an easy and fast way to triple the number of ASK files tested in unit testing

[2020-07-03 15:24] czerwinskilukasz1 commented on #317
The main reason for the diagram is to explain in a concise visual way what AskQL is about.
It's a combination of code and a visual.
Using variable names that explain the purpose is widely used.
E.g. when someone sees:
![image](https://user-images.githubusercontent.com/12752520/86479675-e37cea00-bd4c-11ea-9230-553fcb8fdf2d.png)
or:
![image](https://user-images.githubusercontent.com/12752520/8647976

[2020-07-03 15:27] czerwinskilukasz1 commented on #306
Wait, args and results are the input and output, not the test.
Also, bear in mind that quantity != quality.  These files would be mostly homogeneous, just storing one or two ints or strings, so we couldn't say we have 3 times as many [good] tests.

[2020-07-03 15:27] czerwinskilukasz1 commented on #306
I am also thinking whether they are cases where it's much easier to define the expected output in TypeScript rather than AskScript.

[2020-07-03 15:38] czerwinskilukasz1 commented on #283
My idea is to run a Greenlock express server on the same VPS. It will automatically issue an SSL certificate from a free Let's Encrypt service and renew it.

[2020-07-03 15:49] mhagmajer opened #321 "SVG in AskScript"
See #318 for reference. We could have additional functions for different output types

[2020-07-03 15:52] mhagmajer commented on #321
Would be nice to have SVG canvas in the playground also - maybe just HTML playground would do :)

[2020-07-03 16:01] czerwinskilukasz1 opened #323 "Deploy Playground frontend on Netlify"
This will also solve frontend part of #283 (HTTPS).

[2020-07-03 16:02] czerwinskilukasz1 opened #324 "Deploy Playground backend on Netlify"
This will solve also backend part of #283 (HTTPS).

[2020-07-03 16:55] mhagmajer opened #325 "Dissallow calling let and assign as functions directly"
All direct function calls of standard resources should not have side effects. Some special imperative syntax that we have should be the only way to cause side effects so people know that the environment of given function is different

[2020-07-03 17:02] km4 commented on #283
I propose to add Cloudflare for encrypted SSL/TLS domain,

It's free and we can add encrypts end-to-end, using a CF certificate on the server.

[2020-07-03 17:49] czerwinskilukasz1 opened #326 "Two runUntyped functions are confusing"
![image](https://user-images.githubusercontent.com/12752520/86490008-4929a000-bd66-11ea-9d5b-e27aca374a49.png)

[2020-07-03 17:53] czerwinskilukasz1 commented on #326
@mhagmajer FYI

[2020-07-03 17:59] mhagmajer commented on #326
Good point, we need to figure out good names for the API. Let's first write down what are the current APIs and what they do

[2020-07-03 18:43] czerwinskilukasz1 commented on #283
Thanks.   In the meantime I had a chat with Marcin and we decided to try and publish Playground on Netlify. It is already taking care of our *.askql.org SSL, so we should get it out-of-the-box.

[2020-07-03 23:58] mhagmajer opened #329 "How can I define a recursive function without creating a new value?"

[2020-07-04 19:12] Tuhaj commented on #51
Taking over!

[2020-07-06 09:35] czerwinskilukasz1 opened #339 "Add AskScript from a diagram as a unit test"
Context:
https://github.com/xFAANG/askql/issues/317#issuecomment-653578935

[2020-07-06 09:43] czerwinskilukasz1 opened #340 "AskScript parser: disallow multiple leading zeros in int and float"
The current grammar rules are:
[code]
They allow for multiple leading zeros, e.g. `00000004` instead of `4` or `000000000.5` instead of `0.5`
Priority is low, but it would be nice to disallow it one day.

https://github.com/xFAANG/askql/blob/e4a63a6d44511aeec8db71ee6f61c93f6374b5dc/src/askscript/parser/askscript.grammar.pegjs#L293

[2020-07-06 09:46] czerwinskilukasz1 commented on #329
Are you thinking of use cases like:

[code]
?

[2020-07-06 10:04] czerwinskilukasz1 commented on #214
It turns out there is no way to prevent dependabot from upgrading patch versions, per https://github.com/dependabot/feedback/issues/256
However, we could set up automerge for patch versions. dependabot will wait for all checks to pass, so it will do the same as you or me would do as a reviewer.
@mhagmajer , if you're ok with this I will proceed.
We have 8 PRs from dependabot this week, most of the

[2020-07-06 10:28] #298 closed

[2020-07-06 10:28] #235 closed

[2020-07-06 10:35] czerwinskilukasz1 opened #343 "equals should be modified"
Following a [discussion on `==`, `===` and equals](https://github.com/xFAANG/askql/issues/241), `equals` in Ask:

1. should do a deep comparison of immutable objects. Please refer to https://immutable-js.github.io/immutable-js/#equality-treats-collections-as-values for reference.
1.  should return false when comparing data of different type *groups* - e.g. `2 != '2'`, `2 != true`, `0 != false`, bu

[2020-07-06 10:36] czerwinskilukasz1 commented on #241
Posted as a separate issue: https://github.com/xFAANG/askql/issues/343

[2020-07-06 10:52] czerwinskilukasz1 commented on #324
The code is in PR #327

[2020-07-06 10:53] czerwinskilukasz1 commented on #323
The code is in PR #327

[2020-07-06 10:53] czerwinskilukasz1 opened #345 "Move cli.askql.org domain to Netlify"

[2020-07-06 10:53] czerwinskilukasz1 commented on #324
Blocked on #345

[2020-07-06 10:53] czerwinskilukasz1 commented on #323
Blocked on #345

[2020-07-06 10:55] czerwinskilukasz1 commented on #324
blocked-by #345

[2020-07-06 10:55] czerwinskilukasz1 commented on #345
blocks #324

[2020-07-06 10:56] czerwinskilukasz1 commented on #345
blocks #323

[2020-07-06 11:13] czerwinskilukasz1 commented on #345
Done.

[2020-07-06 11:13] #345 closed

[2020-07-06 11:18] czerwinskilukasz1 commented on #323
This is done now.

[2020-07-06 11:18] #323 closed

[2020-07-06 11:18] czerwinskilukasz1 commented on #324
This is done now.

[2020-07-06 11:18] #324 closed

[2020-07-06 11:19] czerwinskilukasz1 commented on #283
This is done now.

[2020-07-06 11:19] #283 closed

[2020-07-06 11:24] czerwinskilukasz1 commented on #296
@mhagmajer , we have a number of operators defined in src/askvm/resources/math/index.ts and I think it would be the most logical to place `!=` there.
However, I can't figure out how to define `!=` as `not(equals())` there. Would I need to implement a separate resource? How could I refer to `not` and `equals` resources there?

Another option would be to define `!=` somewhere in askjsx, but I guess

[2020-07-06 11:27] czerwinskilukasz1 commented on #51
Cool, @Tuhaj

[2020-07-06 11:33] czerwinskilukasz1 opened #346 "Enable Google Analytics at cli.askql.org"

[2020-07-06 12:06] czerwinskilukasz1 commented on #346
Blocked on PR https://github.com/xFAANG/askql/pull/348

[2020-07-06 12:31] mhagmajer commented on #296
@czerwinskilukasz1 let's just create `notEquals` resource for now and then simplify it later on

[2020-07-07 09:31] czerwinskilukasz1 opened #349 "Create an easy way to use AskScript from the frontend"
Currently, there is no simple way to use AskScript from JS in frontend (or at least it's not documented at all).
This ticket is about resolving this issue.

[2020-07-07 09:31] czerwinskilukasz1 commented on #187
Related to issue https://github.com/xFAANG/askql/issues/349

[2020-07-07 09:56] czerwinskilukasz1 commented on #139
Blocked on #295

[2020-07-07 09:56] czerwinskilukasz1 commented on #296
Blocked on #295

[2020-07-07 10:00] czerwinskilukasz1 commented on #293
As for .test.result.ts and .test.args.ts, they are going to be renamed in https://github.com/xFAANG/askql/issues/306

[2020-07-07 11:49] mhagmajer opened #351 "Should if (condition) { ... } allow if condition { ... } syntax?"

[2020-07-07 11:50] mhagmajer commented on #351
At the second lesson with Marta I saw that she intuitively  wanted to write:

[code]

instead of

[code]

Should we support the syntax without brackets for `if`?

[2020-07-07 14:45] czerwinskilukasz1 opened #352 "Allow to use knex-related resources"
We were talking that it would be nice to have `knex` methods available in AskScript.
A sample file using mocked `knex` and `where` can be found here: src/askscript/__tests__/02-query/query-09-node_with_expression.ask
[code]

[2020-07-07 16:43] mhagmajer commented on #349
One idea to allow it would be create a browser widget that would allow users to use AskScript websites

[2020-07-07 16:44] #293 closed

[2020-07-07 17:05] czerwinskilukasz1 commented on #349
@mhagmajer , what would 'AskScript websites' mean?  Websites which used AskScript to communicate with their servers?

[2020-07-07 17:40] mhagmajer commented on #349
Websites that import .ask files directly that should be run on AskVM in run by the browser widget

[2020-07-07 17:41] mhagmajer commented on #349
Website itself could also provide such AskVM for running local code - maybe that's even easier because it is small already. Widget, however, could offer access to some system resources that are not available for HTML5

[2020-07-08 01:38] mhagmajer opened #354 "[playground[ Add an easy way to report an incorrect result"
Working example of a bug
<img width="1477" alt="Screenshot 2020-07-08 at 03 36 06" src="https://user-images.githubusercontent.com/2731042/86863880-63e47780-c0cc-11ea-875b-d762fb3b3b2f.png">

[2020-07-08 09:52] czerwinskilukasz1 opened #355 "Make some issues be *classified* as good for newcomers"
I have found out at https://opensource.guide/how-to-contribute/#finding-a-project-to-contribute-to that:

AskQL is not different and it has https://github.com/xFAANG/askql/contribute , however it's saying:

Surprisingly, it [turned out](https://docs.github.com/en/github/building-a-strong-community/encouraging-helpful-contributions-to-your-project-with-labels) that marking issues as "good first iss

[2020-07-08 10:00] czerwinskilukasz1 commented on #355
I assigned "good first issue" to all the issues assigned to YonatanKra and all the **PRs** he created.
Maybe this will help in some time.

[2020-07-08 10:19] czerwinskilukasz1 opened #356 "Use 'expect' and 'test' from @jest/globals"
We currently use [`expect` npm package](https://www.npmjs.com/package/expect) for accessing some of jest objects, per https://github.com/xFAANG/askql/issues/154 .
According to [Jest API website](https://jestjs.io/docs/en/api) it's possible to import `describe`, `expect`, `it` and `test` from jest.
[code]
We would still need `expect` npm package for Matchers type, but we could use the official jest

[2020-07-08 10:19] czerwinskilukasz1 commented on #290
Using `@jest/globals` _might_ be a way to go, per issue https://github.com/xFAANG/askql/issues/356

[2020-07-08 12:34] czerwinskilukasz1 opened #357 "[vscode] Add Code Completion via Language Server"
We would like to make AskScript developer-friendly, therefore we need developer tools in VS Code, such as code completion.

Info on integration with VS Code can be found here: https://code.visualstudio.com/api/language-extensions/programmatic-language-features#show-code-completion-proposals

[2020-07-08 12:42] czerwinskilukasz1 opened #358 "Provide more user-friendly parser errors"
Currently parser errors are neither short nor easy to read.
First of all, the location should be much much shorter.
Ideally, the message should be more friendly too.

[code]

[2020-07-08 12:53] czerwinskilukasz1 opened #359 "Provide better runtime errors"
Currently runtime errors for AskScript programs are not very verbose and don't show location in code.

E.g. program:
[code]
results in an error:
[code]

and program:
[code]

results in an error:
[code]

It's impossible to tell where the issue occurred.
At least a location should be added.

[2020-07-08 12:53] czerwinskilukasz1 commented on #359
Blocked on issue #36

[2020-07-08 13:03] czerwinskilukasz1 opened #360 "[vscode] Provide Function and Method Signatures Tooltips via Language Server"
We would like to make AskScript developer-friendly, therefore we need developer tools in VS Code, such as providing function and method signatures tooltips, similar to what Typescript has:

![signature-help](https://user-images.githubusercontent.com/12752520/86921847-14ce2f00-c12c-11ea-977f-ecc714ae5575.gif)

Info on integration with VS Code can be found here: https://code.visualstudio.com/api/lan

[2020-07-08 13:06] czerwinskilukasz1 opened #361 "[vscode] Provide error diagnostics via Language Server"
We would like to make AskScript developer-friendly, therefore we need developer tools in VS Code, such as providing diagnostics for typing errors, similar to what VSCode provides for Typescript:

![diagnostics](https://user-images.githubusercontent.com/12752520/86922054-624a9c00-c12c-11ea-8534-67e416773062.gif)

Info on integration with VS Code can be found here:
https://code.visualstudio.com/api/

[2020-07-08 13:10] czerwinskilukasz1 opened #362 "[vscode] Provide Go To Definition of a symbol via Language Server"
In order to make AskScript more developer-friendly, it would be nice to offer Go To Definition in VS Code, similar to what VSCode offers for Typescript and Javascript:

![goto-definition](https://user-images.githubusercontent.com/12752520/86922409-df761100-c12c-11ea-82d6-81c9e332def5.gif)

Info on integration with VS Code can be found here:
https://code.visualstudio.com/api/language-extensions/pro

[2020-07-08 13:12] czerwinskilukasz1 opened #363 "[vscode] Provide tooltips with symbol type via Language Server"
In order to make AskScript developer-friendly, it would be nice to provide tooltips with symbol type, similar to what VSCode offers for Typescript and Javascript:

![hovers](https://user-images.githubusercontent.com/12752520/86922696-4dbad380-c12d-11ea-8c45-105343109971.gif)

Info on integration with VSCode:
https://code.visualstudio.com/api/language-extensions/programmatic-language-features#show-

[2020-07-08 13:13] czerwinskilukasz1 commented on #363
Blocked on #45 (type semantics)

[2020-07-08 13:14] czerwinskilukasz1 commented on #360
Blocked on #45 (type semantics)

[2020-07-08 13:17] czerwinskilukasz1 opened #364 "Provide a method with all resources listed"
In order to provide Developer Support functionalities, such as https://github.com/xFAANG/askql/issues/360, we need a method which returns a list of available resources. For each of resources it should return at least:

- resource name
- resource return type
- a list of arguments (`(type, name)` pairs)

[2020-07-08 13:19] czerwinskilukasz1 opened #365 "Provide a method with all values listed"
In order to provide Developer Support functionalities, such as #360, we need a method which returns a list of available values. For each of values it should return at least:

- value name
- value type (AskScript type not JS type)

[2020-07-08 13:56] mhagmajer opened #366 "const declaration hoisting"
Question is how do define mutually recursive function? I guess we need hoisting for that but this probably only makes sense for constants

[2020-07-08 13:56] mhagmajer commented on #366
@czerwinskilukasz1 thoughts?

[2020-07-08 14:20] czerwinskilukasz1 commented on #366
@mhagmajer

Funny enough, I was reading about hoisting in Javascript today. https://scotch.io/tutorials/understanding-hoisting-in-javascript
It seems that hoisting var and const lead to unexpected behavior.

Isn't it enough for to make available all the variables from the outer scope inside the function body?

E.g. in the example below it's enough for the code block inside f() to know about g(), t

[2020-07-08 14:21] czerwinskilukasz1 commented on #366
tag: Somewhat related to #254

[2020-07-08 14:23] czerwinskilukasz1 commented on #351
Not sure about that, might degrade readability.

[2020-07-08 14:27] czerwinskilukasz1 opened #367 "[playground] Infinity is reported as null"
Consider the following program:

[code]

In CLI the result is:
[code]

However, [Playground](https://cli.askql.org/) displays:
[code]

[2020-07-08 14:28] czerwinskilukasz1 commented on #354
By the way, I added the bug from your screenshot as https://github.com/xFAANG/askql/issues/367

[2020-07-08 14:39] #318 closed

[2020-07-08 14:39] #241 closed

[2020-07-08 14:39] #295 closed

[2020-07-08 14:43] #292 closed

[2020-07-08 17:15] czerwinskilukasz1 opened #369 "Implement 'min' resource"
There is [`max`](https://github.com/xFAANG/askql/blob/master/src/askvm/resources/math/max.ts) in Ask, but there is no `min`.

Hint: use `max` ([link](https://github.com/xFAANG/askql/blob/master/src/askvm/resources/math/max.ts)) as an example for `min`.

[2020-07-08 17:18] czerwinskilukasz1 opened #370 "[askvm] 'fetch' resource should not download a hardcoded URL"
Currently, [fetch resource](https://github.com/xFAANG/askql/blob/master/src/askvm/resources/node/fetch.ts) always downloads https://jsonplaceholder.typicode.com/posts/1 instead of an URL from the argument.

[2020-07-08 17:23] czerwinskilukasz1 opened #371 "'remote' always fails"
Running a program with `remote` always results in an error.

[code]

[2020-07-08 17:24] czerwinskilukasz1 commented on #98
Blocked on https://github.com/xFAANG/askql/issues/371

[2020-07-08 17:28] czerwinskilukasz1 opened #372 "'each' resource is a noop"
https://github.com/xFAANG/askql/blob/master/src/askvm/resources/core/each.ts

[code]

[2020-07-09 07:28] czerwinskilukasz1 opened #373 "Add first-timers-only label to some issues"
Following https://github.com/MunGell/awesome-for-beginners/edit/master/README.md, I'm going to create a label `first-timers-only` and add it to some issues.

And yes, I know we already have `good first issue` but it seems they require `first-timers-only` explicitly.  Also, we will show up in search results where there is currently [only 690 results](https://github.com/search?utf8=%E2%9C%93&q=label

[2020-07-09 07:34] czerwinskilukasz1 commented on #373
Done.

[2020-07-09 07:34] #373 closed

[2020-07-09 09:43] RichardM99 commented on #370
@czerwinskilukasz1 I can take if that's ok? 🙃

[2020-07-09 12:53] #296 closed

[2020-07-09 13:07] czerwinskilukasz1 commented on #137
We decided on `logicalAnd`

[2020-07-09 13:09] czerwinskilukasz1 opened #374 "Add a 'bitwiseAnd' resource (& binary operator)"
There are some operators in AskVM, e.g. 'lessThan' resource (< operator) (src/askvm/resources/math/lessThan.ts), but we are missing bit operators, like 'bitwiseAnd' resource (& operator).

Please note that bitwiseOr (| operator) is listed here: https://github.com/xFAANG/askql/issues/244

Dear new contributor,

If you have any questions on how to start, please write a comment with a tag: @czerwinsk

[2020-07-09 13:39] czerwinskilukasz1 opened #377 "Playground result window does not "blink" when Ctrl-S is pressed"
The result window in [Playground](https://cli.askql.org/) blinks when "Run" button is pressed but doesn't blink when Ctrl-S is pressed.

[2020-07-09 13:39] mhagmajer commented on #269
Let's throw on complex types such is array or struct. Not all strings should be supported to

[2020-07-09 13:40] czerwinskilukasz1 opened #378 "Allow 'else if' construct"
Currently we don't have `switch` nor we permit `else if`, because `else` expects a block with curly braces.
How about we permit `else if`, such as:
[code]

[2020-07-09 13:40] czerwinskilukasz1 commented on #378
@mhagmajer

[2020-07-09 13:47] czerwinskilukasz1 opened #379 "Should we prevent swipe right from exiting Playground on Mac OS?"
After I wrote quite a long program in AskScript in Playground, I accidentally swiped on my touchpad when trying to scroll the code window and left Playground. After I came back, the code was gone.

How about we prevent swiping from doing this or ask for confirmation before leaving the page?
Alternatively we could remember the code in session or browser storage.

[2020-07-09 13:48] mhagmajer commented on #378
Yes, else if would definitely be nice. Once we have type checking we could look into pattern matching like https://ocaml.org/learn/tutorials/data_types_and_matching.html#Pattern-matching-on-datatypes

[2020-07-09 14:21] czerwinskilukasz1 opened #380 "[askscript] Accessing indexes of a number does not raise an error"
Running the following program in the Playground:
[code]
returns:
[code]

Expected:
[code]

[2020-07-09 15:23] czerwinskilukasz1 commented on #269
Could you elaborate a bit more?

[2020-07-09 15:26] czerwinskilukasz1 commented on #370
Hello Richard, you got it! 😃

[2020-07-09 15:36] czerwinskilukasz1 commented on #378
Great.

[2020-07-09 15:36] czerwinskilukasz1 commented on #378
Task confirmed.

[2020-07-09 15:36] czerwinskilukasz1 commented on #378
Looks to me similar to pattern matching in Scala: https://docs.scala-lang.org/tour/pattern-matching.html

[2020-07-09 15:38] czerwinskilukasz1 commented on #370
@RichardM99 , out of curiosity, how did you find AskQL repository? We are working on making it a bit more popular and I was wondering which way worked in your case.

[2020-07-09 18:08] #139 closed

[2020-07-09 18:18] czerwinskilukasz1 opened #382 "[askscript] Array value gets merged with the previous line"
Consider the following program:
[code]

The expected return value is `[1]`.
The actual return value is `b`.
Why? Because we treat newlines like any other whitespace, so
[code]
is seen the same as
``` 'abcd' [1] ```
and
``` 'abcd'[1] ```, which is obviously 'b'.

[2020-07-09 18:54] czerwinskilukasz1 opened #385 "Cannot run an AskScript program (example)"
The following program does not work.
The error is:
[code]

[code]

[2020-07-09 18:56] czerwinskilukasz1 commented on #385
This is actually related to immutability of objects in AskScript, so `seen[ints[i]] = true;` is invalid. However, currently there is no resource which could assign values to an existing object per https://github.com/xFAANG/askql/issues/257 , and this is the underlying issue.

[2020-07-09 18:57] czerwinskilukasz1 commented on #385
Blocked on #257

[2020-07-09 18:59] RichardM99 commented on #370
@czerwinskilukasz1

Thank you 🙃

It came up on my twitter feed because I follow https://twitter.com/first_tmrs_only

[2020-07-09 19:08] czerwinskilukasz1 opened #386 "[askscript] Should we implement (pre) incrementation?"
Javascript has both pre- and post-incrementation, useful in loops, e.g.:
[code]

How about we implement preincrementation (++i)?

[2020-07-09 19:08] czerwinskilukasz1 commented on #386
@mhagmajer

[2020-07-09 19:11] czerwinskilukasz1 opened #387 "[askscript] How about we implement push/append to an array?"
While writing AskScript examples, I wanted to append to an array twice already.
Alas, the best I could do is to write:
[code]
which is not that easy readable.

I'd prefer to have push/append, like in Javascript:
[code]

[2020-07-10 06:11] akeni commented on #374
@czerwinskilukasz1 are you looking to bitwise AND two variables that are type numbers?

[2020-07-10 09:51] mhagmajer commented on #374
@akeni yes, that resource should take two ints, look at their bits and perform bitwise AND [like JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Bitwise_AND)

[2020-07-10 09:53] mhagmajer commented on #387
@czerwinskilukasz1 `push` is agains the principle of immutable data. If we come up with some syntax sugar it will still translate to:

[code]

[2020-07-10 09:57] mhagmajer commented on #386
I think `i = i +1` is fine for now. I know that a lot of C programmers (me included) are used to `++`, however it is more difficult to read than `i = i + 1` while not offering little advantage (given the current performance limitations). If I remember correctly, the popular AirBnB preset for eslint actually forbids `i++` and prefers `i=i+1`. Therefore I would hold on with this until we have better

[2020-07-10 10:03] mhagmajer commented on #385
`seen[ints[i]] = true;` is incompatible with the principle of immutable data. Let me give you an example

[code]

If we mutate the `seen` object referenced by the `seen` variable then both logs will log the new object, which will be confusing.

[2020-07-10 10:06] mhagmajer commented on #382
@czerwinskilukasz1 how do you intend to solve it? Seem like either the program is missing `;`/`,` or the new line should be treated as semicolon but it isn't

[2020-07-10 10:33] czerwinskilukasz1 commented on #387
Sure sure, I'm totally fine with `result = result:push(elem)`.

[2020-07-10 10:35] czerwinskilukasz1 commented on #386
I guess in scripting languages like Javascript `++` is no longer about program performance, it's about programmer's convenience.

[2020-07-10 10:45] czerwinskilukasz1 commented on #382
As you can see in [my PR](https://github.com/xFAANG/askql/pull/383), I prevented newline from being a valid whitespace for `value ws* [index]` constructs (where `ws` stands for whitespace).
We had the same case a month ago with `-`.
[code]
was treated as `123-123`, which didn't make sense nor was it logical.
I would say this is the best we can do for now.

[2020-07-10 11:07] czerwinskilukasz1 commented on #273
Hi @engylemure , great question and sorry for taking a bit longer to reply, I was busy with solving tickets, haha :)
We are going to implement type checking (per https://github.com/xFAANG/askql/issues/45) and `float` and `int` are separate types.
We already have them listed [in our grammar](https://github.com/xFAANG/askql/blob/master/src/askscript/parser/askscript.grammar.pegjs#L245) as well as ot

[2020-07-10 11:12] czerwinskilukasz1 commented on #51
Hi @Fifciu , would you like to take a look at this issue? :)

[2020-07-10 11:13] czerwinskilukasz1 commented on #372
Hi @Fifciu , would you like to take a look at this issue? :)

[2020-07-10 11:14] czerwinskilukasz1 commented on #30
Hey, Matheus, how are things? How about a small contribution? :)
I think this https://github.com/xFAANG/askql/issues/378 or this one https://github.com/xFAANG/askql/issues/369 might be interesting for you.

@matheusmonte

[2020-07-10 11:19] czerwinskilukasz1 commented on #370
Great, thanks for feedback :)
Also, feel free to give feedback to *us*. There are probably tons of things we could improve.  You can write here or via a message on our Discord: https://discord.gg/pYdzypH

[2020-07-10 11:26] mhagmajer opened #388 "How can we make sure that our unit tests run in isolation?"
We'd like to make sure that our unit tests don't require network access to run.

[2020-07-10 12:05] mhagmajer commented on #372
@czerwinskilukasz1 what is the expected behaviour of `each`?

[2020-07-10 16:15] czerwinskilukasz1 commented on #372
Right.

My proposal is the following:
`each` should accept 2 arguments: an array and a function, which should be applied on each of the elements of the array.
Function signature should be: `fun(t: char, index: number, firstArrayElement: boolean, lastArrayElement: boolean):any`.
The result values are disregarded.

Example:
[code]

@mhagmajer , any thoughts?

[2020-07-10 19:52] markkulube commented on #378
@czerwinskilukasz1 i would like to look into this!

[2020-07-11 04:51] akeni commented on #374
@czerwinskilukasz1 I am having issues with PR LINT test. Where can i read docs to write subject lines for it?

[2020-07-11 14:08] subedigaurav commented on #244
Hello @czerwinskilukasz1 , I am new and want to look into it. How do I start?

[2020-07-13 12:13] czerwinskilukasz1 commented on #378
Hello @markkulube , sounds great!

[2020-07-13 12:14] czerwinskilukasz1 commented on #378
If you had any questions, feel free to ask them here (tag me please) or on our [Discord channel](https://discord.gg/pYdzypH).

[2020-07-13 12:20] czerwinskilukasz1 commented on #374
Hello @akeni , in case or PR lint tests and other checks inside the PR,
the best place to start is to look at the details in the PR:

![image](https://user-images.githubusercontent.com/12752520/87303567-add9bd00-c513-11ea-93b8-2912c1db2b67.png)

The most recent results were saying:
![image](https://user-images.githubusercontent.com/12752520/87303609-bfbb6000-c513-11ea-8186-191faa0b44eb.png)

I jus

[2020-07-13 12:32] czerwinskilukasz1 commented on #244
Hello @subedigaurav , welcome to AskQL project.
Thanks for asking how to start.  First how about you get familiar with the part of code you were going to work on.
The description mentions an already existing operator (lessThan, implemented in src/askvm/resources/math/lessThan.ts). A good start would be to take a look at its code, understand more or less how it works and try to write bitwiseOr in a

[2020-07-13 16:58] MartaBBRM opened #390 "whitespace handling bug in if()"
Dear First Time Contributor,

This ticket evolved. Please scroll through the comments to find out what was discovered.
In case of any questions, feel free to tag me (@czerwinskilukasz1) and type your question.

Cheers,
Łukasz
Core AskQL Contributor

--------------

[code]
it happened in the cli (AskVM v. 1.2.0) and it was expected to run ;)
The error massage:

[code]

[2020-07-13 16:59] MartaBBRM commented on #390
@czerwinskilukasz1

[2020-07-14 08:52] czerwinskilukasz1 commented on #390
Thanks.
It seems that the underlying issue is whitespace handling before the trailing bracket in `if ()`

The minimal example that does not work:
[code]

The culprit is the space in `4) )`.

[2020-07-14 21:12] mhagmajer opened #391 "Can brackets be optional in if?"
[code]

[2020-07-15 10:08] markkulube commented on #378
@czerwinskilukasz1 thank you. A couple questions to help me better navigate through the project.

Still at the dawn of contributing to big projects so please bear with me.

1. Is it to add an ElseIf class and an | ElseIf statement to the Statement class in:
src/askscript/parser/askscript.grammar.pegjs.classes.ts

2. Then create a functional component ElseIf.tsx with path:
src/askjsx/lib/ElseIf.tsx

[2020-07-15 13:58] czerwinskilukasz1 commented on #391
@mhagmajer, isn't it a duplicate of #351 ?

[2020-07-15 14:14] #391 closed

[2020-07-15 14:15] mhagmajer commented on #351
Can you show an example where this degrades readability? If we allow both syntaxes, which one should the formatter use?

[2020-07-15 14:23] czerwinskilukasz1 commented on #378
@markkulube , it's all good and your questions are 100% appropriate!

There is a couple of ways you could handle it.    Given the solution you proposed, you analyzed the codebase and understood a good chunk of its structure, congrats 🙂
Your solution should work well, but it requires changing 3 files in 2 modules. There is actually a bit simpler way, which is handling `else if` as a syntax sugar.

[2020-07-15 14:24] #370 closed

[2020-07-15 14:30] czerwinskilukasz1 commented on #351
I'd say in every case, I am simply a proponent of braces.

As for a concrete example, I think it's easier to spot quickly if's condition if there are braces, compare:
![image](https://user-images.githubusercontent.com/12752520/87557411-2d07f600-c6b8-11ea-9d73-211277995383.png)

and:
![image](https://user-images.githubusercontent.com/12752520/87557449-35603100-c6b8-11ea-8ca6-4eb76c3895e1.png)

[2020-07-15 14:40] mhagmajer commented on #269
non number strings should just throw IMHO `toInt('4a')`
all complex types - arrays, objects should throw `toInt([])`

[2020-07-15 14:42] #382 closed

[2020-07-15 14:46] mhagmajer commented on #351
Ok, let's leave it open to gather more opinions. For one, I remember [that Douglas Crockford advocated for no braces in if](https://www.youtube.com/watch?v=Nlqv6NtBXcA)

[2020-07-15 14:47] czerwinskilukasz1 commented on #269
Ah, OK, understood.

OK, so the task goes as follows:

In case a non-number string or an array or an object is passed to `toInt`, it should throw an Error().
Otherwise, it should mimic Math.round() from Javascript.

Meaning:
 - `toInt(2.3)` returns `2`
 - `toInt('2.3')` returns `2`
 - `toInt(2.5)` returns `3`
 - `toInt('2.5')` returns `3`
 - `toInt(-2.5)` returns `-2`
 - `toInt('-2.5')` returns `-

[2020-07-15 16:12] subedigaurav commented on #244
@czerwinskilukasz1 thank you for the reply. I have figured out the implementation for the bitwiseOr. But I am confused about the tests. Do I need to write tests and test them myself or is it done automatically?

[2020-07-15 16:41] km4 commented on #244
Maybe helpful https://github.com/xFAANG/askql/issues/135 and pr for this

[2020-07-15 16:56] subedigaurav commented on #244
thanks @km4 . I get it now. I will be creating my first pr soon. :)

[2020-07-15 17:48] czerwinskilukasz1 commented on #244
@subedigaurav , if you were wondering how to run the tests after you write them, please run:
[code]

Of course re-running `npm run build` before `npm test` is only needed after you change files.

[2020-07-15 19:54] 199201shubhamsahu commented on #369
Would like to contribute.
What else needs to be done other than creating the min.ts resource, and testing that it works in the cli?

[2020-07-16 05:51] subedigaurav opened #395 "syntax error while building in windows"
While running `npm run build` in Windows, command `rm` is not recognized at:
`rm -rf dist/playground && mkdir -p dist/playground/public && npm run playground:build-assets && npm run playground:build-ts && ts-node scripts/playgroundPostBuild.ts`

Possible solution:
Create OS agnostic build command/s.

[2020-07-16 07:11] #369 closed

[2020-07-16 07:15] mhagmajer commented on #395
Thanks @subedigaurav. You're right that this need to be changed into OS ognostic build command such as https://github.com/xFAANG/askql/blob/master/scripts/preBuild.ts#L5

[2020-07-16 13:34] czerwinskilukasz1 commented on #390
Taken by @199201shubhamsahu

[2020-07-16 13:34] czerwinskilukasz1 commented on #390
(For some reason I cannot add you as an assignee :o, so I listed you in a comment)

[2020-07-16 14:58] czerwinskilukasz1 commented on #395
Hint: As [YonatanKra mentioned](https://discord.com/channels/688128418914500838/704117328735895662/733196381748985936), 'Under scripts/utils there's a removeRecursive util that is OS agnostic'.

[2020-07-16 15:04] czerwinskilukasz1 commented on #181
My idea is to write in AskScript solutions for some coding tasks for Javascript/Typescript from https://www.codewars.com/ or a similar website.

[2020-07-16 15:28] czerwinskilukasz1 commented on #369
Congrats, Shubham 🙂

[2020-07-16 16:03] develper commented on #395
Hi @mhagmajer. I would like to take on this issue.

[2020-07-16 16:30] RichardM99 commented on #269
@czerwinskilukasz1

I can take this one as per your suggestion.

[2020-07-16 16:47] mhagmajer commented on #395
Sure @develper, it's yours :)

[2020-07-16 16:53] RichardM99 commented on #269
@czerwinskilukasz1

Regarding the tests;

the `math` dir has it's own `_tests_` dir - is it sufficient to have test coverage for `toInt` there, or is it also necessary to have test coverage in `askscript/_tests_` ?

[2020-07-16 17:45] #244 closed

[2020-07-16 18:00] #377 closed

[2020-07-16 20:53] mhagmajer opened #398 "[playground] See 'Values and Resources' here leads to 404"
Currently the resources link on https://cli.askql.org/.leads to
https://github.com/xFAANG/askql/blob/master/src/demoAskScriptServer.ts#L21 which results in. 404 instead of information about available values and resources

[2020-07-17 10:32] czerwinskilukasz1 commented on #269
Great question. It's always better to have a few more tests but it will be enough to just write tests in `math`.
The reason I asked for tests in `askscript/__tests__` in a ticket with one of the operators was that an operator was attached to the resource, so I wanted the tests to verify that both the resource and an AskScript-like way of using operators work.

[2020-07-17 10:38] #390 closed

[2020-07-17 10:49] czerwinskilukasz1 commented on #398
I'll take it

[2020-07-17 10:49] czerwinskilukasz1 commented on #398
Good catch, @mhagmajer !

[2020-07-17 11:10] czerwinskilukasz1 opened #400 "Implement `hasKey` resource"
I wanted to write a piece of code that in Javascript looks like this:
[code]
Alas, I couldn't find any way to express it, because I didn't find a resource for it.
Please note that comparing `leftMostPosition[a]` with any value would not work as there is no `undefined` value in AskScript, only `null`, which could be a legitimate value of `leftMostPosition[a]`.

[2020-07-17 11:10] czerwinskilukasz1 commented on #400
@mhagmajer

[2020-07-17 11:20] czerwinskilukasz1 opened #401 "[AskScript] Comments not allowed when defining an array"
The following example should work but results in a Syntax Error:

[code]

Error:
[code]

To be precise, a syntax error is thrown for each of the comments above, except for `// closing bracket`.

[2020-07-17 11:25] czerwinskilukasz1 commented on #257
@mhagmajer , would `extend` also _change_ a value of an existing key?
E.g.:
[code]

[2020-07-17 11:28] czerwinskilukasz1 opened #402 "What features and functionalities is AskScript missing?"
I tried to translate a couple of Javascript scripts to AskScript and often I get blocked on some missing resources or language constructs.
This ticket will list them all.

[2020-07-17 11:33] czerwinskilukasz1 commented on #402
I wanted to translate the following program from Javascript to AskScript and got blocked.

Javascript:
[code]

I bumped into the following problems:
- `in` construct (or an equivalent) is missing (filed it as: https://github.com/xFAANG/askql/issues/400).
  I bypassed it by comparing with `null`, which would work _in this case_ but wouldn't work if I had `null` values in the map.
- the is no way to

[2020-07-17 12:08] czerwinskilukasz1 opened #403 "if block without braces silently executes wrong branch"
Consider the following AskScript program:
[code]

The expected result is: Syntax error because the if block should have braces.
The actual result is: `true`

[2020-07-17 14:11] #398 closed

[2020-07-17 14:14] mhagmajer commented on #400
@czerwinskilukasz1 would the following make sense? We would need a `hasKey` resource for that

[code]

[2020-07-17 14:17] mhagmajer commented on #257
@czerwinskilukasz1

[code]

Object X is going to stay the same no matter what you do. Object Y will be creating by extending object X which will overwrite its only property. Variable `a` is like a pointer. It can change what it points to because it is declared with `let`.  It initially points to object X and then it points to object Y. Object X and object Y are immutable.

[2020-07-17 14:22] mhagmajer opened #404 "at should throw if the key is missing"
[code]
returns `null` (empty) but an error was expected (playground with AskVM v. 1.2.0)

[2020-07-17 14:23] mhagmajer commented on #404
@czerwinskilukasz1 what's your opinion about this?

[2020-07-17 14:23] mhagmajer commented on #404
I'd really like not to have two empty values like in JavaScript

[2020-07-17 14:28] mhagmajer commented on #402
Very interesting experiment, @czerwinskilukasz1! Couple points:

- why not use forOf here for iterating arrays?
- `{}` is a different type in JavaScript than a map, I'm not sure if we need to make the same distinction
- if we make it so that `for` returns a value your program will need to have explicit `return empty` at the end

What can be done to improve the simplicity and readability of your so

[2020-07-17 14:30] mhagmajer commented on #403
Yes, the braces should be required at the parser level - `if (condition)` is an incomplete expression

[2020-07-17 20:26] czerwinskilukasz1 commented on #403
The main thing is that `if (condition)` is a... valid **function** call - `if` is a resource (function) and it can be called with a parameter, same as `toString` can.
I added an extra check in parser for `if`, `for`, `while` and other similar resources.

[2020-07-17 20:30] czerwinskilukasz1 commented on #400
`hasKey` sounds good to me. Renaming the task.

[2020-07-17 20:32] czerwinskilukasz1 commented on #400
Task:

Implement a `hasKey` resource.   All list-related resources live in [`src/askvm/resources/list`](https://github.com/xFAANG/askql/tree/master/src/askvm/resources/list) directory. Check other resources from the directory to grasp how they work.

[2020-07-17 20:34] czerwinskilukasz1 commented on #257
Yes, I know. That's why I wrote 'change' in _italics_. Anyways, you answered my question: yes, extend will also work on a key that is already defined. So using extend could be a workaround for updating a value in a map.
Anyway, don't we need a `set` resource for maps?

[2020-07-17 20:39] czerwinskilukasz1 commented on #402
Simply I wanted to change as little code as possible.

Currently the only associative type in AskScript is `map`. There is no `object`, `record` or any other similar type.

Good point.  The tests will catch it.

Two things I would improve, based on this program:
1. I needed to change `++i` to `i=i+1`, which was a bit disturbing.
2. The need to write brackets that separate different operators in `i

[2020-07-17 20:41] czerwinskilukasz1 commented on #404
I'm fine with throwing as soon as we have `hasKey`: https://github.com/xFAANG/askql/issues/400

[2020-07-17 20:47] czerwinskilukasz1 commented on #402
Example 2.

I wanted to translate the following Javascript example to AskScript and needed to write more lines of code when using cache.
(Also, `hasKey` would be useful, but I mentioned it already in Example 1)

Javascript:
[code]

AskScript:
[code]

[2020-07-18 15:30] Tuhaj opened #407 "AskQL issue template"
When creating a new issue it would be welcome to have prepared an issue template.
An issue template pops out when you click the button "New Issue"
Here is an example of such a template, I prepared already:
Your welcome with comments on what could be added or what could be removed 🤗

**Do you want to request a *feature* or report a *bug*? Please mark it with corresponding labels**

**What is the cu